<template>

    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <div v-if="showLogin"
         class="w-full md:w-auto px-5 md:px-auto">
        <span class="block text-xs md:text-right text-center">برای ورود یا ثبت نام شماره موبایل خود را وارد کنید.</span>
        <form autocomplete="off"
              class="space-y-4 md:space-y-6 w-full"
              @submit.prevent="submitMobile">


            <div class="block mt-10">

                <div class="relative group">
                    <input type="tel"
                           id="username"
                           required
                           class="bg-[#F6F8FF] w-full h-10 text-sm peer outline-none border-[#ADA8A8] border-b focus:border-[#2131BA] transition-all"
                           v-model="mobileNumber"
                           autocomplete="false">
                    <label for="username"
                           class="text-xs transform transition-all absolute top-0 right-0 h-full flex items-center pl-2 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">
                        شماره موبایل</label>
                </div>
            </div>

            <button-component type="submit"
                              :loading="submitMobileLoading"
                              text="ورود / ثبت نام"
                              txt-color="text-white-100"
                              custom-style="w-full text-center bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-2 text-xs ml-2">

            </button-component>

        </form>
    </div>

    <div v-if="showOtp"
         class="px-5 md:px-auto">
        <form autocomplete="off"
              class="space-y-4 md:space-y-6 w-full"
              @submit.prevent="submitOtp">
            <div>
                <div class="w-full">
                    <div class="bg-white rounded text-center">

                        <div class="flex flex-col mt-4">
                            <span class="text-xs">لطفاً کد ارسال شده به شماره موبایل خود را وارد نمایید.</span>
                        </div>

                        <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                            <otp @inputValue="otpValue"
                                 :otp-border="otpBorder"></otp>
                        </div>

                        <div v-if="!sentCodeFlag"
                             class="flex justify-center text-center">
                            <a class="flex items-center text-primary-700 cursor-pointer"><span
                                    class="text-xs">ارسال مجدد تا {{ countDown }} ثانیه دیگر</span>
                                <i class='bx bx-caret-right ml-1'></i>
                            </a>
                        </div>

                        <div v-if="sentCodeFlag"
                             class="flex items-center justify-center">
                            <div v-if="!resendCode"
                                 @click="submitMobile('resend')"
                                 class="hover:cursor-pointer transition-all flex justify-center items-center">
                                <span class="flex justify-center text-xs text-primary-700">دریافت مجدد کد</span>
                            </div>
                            <div v-else>
                                <svg aria-hidden="true" role="status"
                                     class="inline w-4 h-4 mr-3 text-white animate-spin"
                                     viewBox="0 0 100 101"
                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                          fill="#E5E7EB"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                          fill="currentColor"/>
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <button-component type="submit"
                              :loading="submitOtpLoading"
                              text="ثبت کد تایید"
                              txt-color="text-white-100"
                              custom-style="w-full text-center bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-2 text-xs ml-2">
            </button-component>

        </form>
    </div>
</template>

<script>

import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "login",
    data() {
        return {
            showLogin: true,
            showOtp: false,

            countDown: 120,
            timer: '',
            resendCode: false,
            sentCodeFlag: false,
            codeSentFail: false,

            submitMobileLoading: false,
            mobileNumber: '',
            submitOtpLoading: false,

            otpBorder: 'border-black-60',

            responseData: null,
            responseType: null,

            sendOtpObj: {},
            verifyOtpObj: {},

            otpCode: '',

            userInfo: {}
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['displayToast'])
    },
    mounted() {
        localStorage.removeItem('adminInfo')
    },
    methods: {
        ...mapActions(useGlobalStore, ['toastTimeOut']),
        submitMobile(type = null) {

            if (type === 'resend') {
                this.resendCode = true
            }

            this.submitMobileLoading = true

            this.responseData = null
            this.responseType = null

            this.sendOtpObj.mobile = this.mobileNumber

            setTimeout(() => {

                this.showLogin = false
                this.showOtp = true

                if (type === 'resend') {
                    this.resendCode = false
                }

                clearTimeout(this.timer)
                this.countDown = 120
                this.countDownTimer()
                this.responseType = 'success'
                this.responseData = 'کد ارسال شد.'

                this.toastTimeOut()

                this.submitMobileLoading = false


            }, 3000)
            // this.$api.post(`/api/auth/getSecurityCode`, this.sendOtpObj)
            //     .then(response => {
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //
            //             this.showLogin = false
            //             this.showOtp = true
            //
            //             if (type === 'resend') {
            //                 this.resendCode = false
            //             }
            //
            //             clearTimeout(this.timer)
            //             this.countDown = 120
            //             this.countDownTimer()
            //
            //         } else {
            //             this.responseType = 'error'
            //         }
            //
            //         this.responseData = response.data.message
            //
            //         this.toastTimeOut()
            //
            //         this.submitMobileLoading = false
            //
            //
            //     }).catch(error => {
            //     console.log(error.response.data, ' error')
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //
            //     this.toastTimeOut()
            //
            //     this.submitMobileLoading = false
            //
            //     if (type === 'resend') {
            //         this.resendCode = false
            //     }
            //
            // });

        },
        submitOtp() {
            this.submitOtpLoading = true

            this.responseData = null
            this.responseType = null

            this.sendOtpObj.mobile = this.sendOtpObj.mobile
            this.sendOtpObj.code = this.otpCode

            setTimeout(()=>{
                this.responseType = 'success'

                this.showLogin = false
                this.showOtp = false

                this.userInfo.role = 'user'
                this.userInfo.token = 'tokentest123'
                localStorage.setItem('userInfo', JSON.stringify(this.userInfo))
                this.$router.push({
                    path: '/user/dashboard'
                })
            },3000)
            // this.$api.post(`/api/auth/verifyOtp`, this.sendOtpObj)
            //     .then(response => {
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //
            //             this.showLogin = false
            //             this.showOtp = false
            //
            //             this.userInfo.role = response.data.role
            //             this.userInfo.token = response.data.token
            //             localStorage.setItem('userInfo', JSON.stringify(this.userInfo))
            //
            //             this.$router.push({
            //                 path: '/user/dashboard'
            //             })
            //
            //         } else {
            //             this.responseType = 'error'
            //         }
            //
            //         this.submitOtpLoading = false
            //
            //     }).catch(error => {
            //
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //
            //     this.toastTimeOut()
            //
            //     this.submitOtpLoading = false
            // });

        },
        countDownTimer() {
            if (this.countDown > 0) {
                this.sentCodeFlag = false
                this.timer = setTimeout(() => {
                    this.countDown -= 1
                    this.countDownTimer()
                }, 1000)
            } else {
                this.sentCodeFlag = true
            }
        },
        resetForm() {
            this.mobileNumber = ''
        },
        otpValue(value) {
            if (value.length === 5) {

                this.otpCode = value

                this.submitOtp()
                // if (value === '12345') {
                //     this.otpBorder = 'border-success-500'
                // } else {
                //     this.otpBorder = 'border-error-500'
                // }

            }
            // else {
            //     this.otpBorder = 'border-black-60'
            // }
        }
    }
}
</script>

<script setup>
import Toast from "~/components/Toast.vue";

definePageMeta({
    layout: 'login'
})
useHead({
    title: 'ورود کاربر',
})
</script>

<style scoped>

</style>