<template>
    <div class="h-screen">
        <full-loading v-if="full_loading"></full-loading>
        <NuxtLayout>
            <NuxtPage/>
        </NuxtLayout>
    </div>
</template>
<script>
import {mapActions, mapState} from 'pinia'
import {useGlobalStore} from "@/stores/global";

export default {
    name: "app",
    data() {
        return {
            isMobile: false
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['full_loading'])
    },
    beforeMount() {
        window.addEventListener('resize', this.resizeHandler)
        // if (!JSON.parse(localStorage.getItem('userInfo')) && (!window.location.href.includes('/login'))) {
        //     this.logout()
        // }

        if (!window.location.href.includes('/login')) {
            if ((window.location.href.includes('/admin') && !JSON.parse(localStorage.getItem('adminInfo')))
                || (window.location.href.includes('/user') && !JSON.parse(localStorage.getItem('userInfo')))) {
                this.logout()
            }
        }
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.resizeHandler)
    },
    mounted() {
        this.resizeHandler()
    },
    methods: {
        ...mapActions(useGlobalStore, ['setIsMobile', 'logout', 'setDevice']),
        resizeHandler() {
            if (window.innerWidth < 768) {
                this.setIsMobile(true)
            } else {
                this.setIsMobile(false)
            }

            if (window.innerWidth > 1200) {
                this.setDevice('lg')
            } else if (window.innerWidth < 1200 && window.innerWidth > 768) {
                this.setDevice('md')
            } else if (window.innerWidth < 768 && window.innerWidth > 576) {
                this.setDevice('sm')
            } else if (window.innerWidth < 576) {
                this.setDevice('xs')
            }
        }
    },
}
</script>