<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>
    <div class="flex flex-col py-5 md:px-20 px-4 w-full">
        <h3 class="mb-3 text-[#2131BA]">اطلاعات حساب کاربری</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 bg-[#F6F8FF] mt-5 rounded-xl p-10">

            <div>

                <div class="flex h-max">
                    <img :src="getProfileImg"
                         class="w-20 h-20"
                         id="img-preview"/>
                    <div class="flex flex-col items-first justify-center mr-5 w-full">
                        <div class="relative w-full h-[25px]">
                            <input type="file"
                                   accept="image/x-png,image/gif,image/jpeg"
                                   class="absolute right-0 top-0 w-full h-full z-[2] opacity-0 cursor-pointer"
                                   @change="setProfileImg"/>
                            <span class="absolute right-0 top-0 text-xs text-[#2131BA]">آپلود عکس</span>
                        </div>
                        <span v-if="profileResponseData"
                              class="text-xs">
                            {{ profileResponseData.firstName + ' ' + profileResponseData.lastName }}</span>
                    </div>
                </div>

                <div class="mt-6 grid grid-cols-1 xl:grid-cols-2">
                    <div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام:</label>
                            <input type="text"
                                   v-model="firstName"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام خانوادگی:</label>
                            <input type="text"
                                   v-model="lastName"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm w-[150px]">تاریخ تولد:</label>
                            <date-picker :styles="datepicker_styles"
                                         :column="1"
                                         mode="single"
                                         color="red"
                                         :value="birthday"
                                         v-model="birthday"
                                         format="jYYYY/jMM/jDD"
                                         display-format="jYYYY/jMM/jDD"
                                         type="date"></date-picker>
                        </div>
                    </div>
                    <div class="xl:mr-4">
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">شماره تلفن:</label>
                            <input type="text"
                                   v-model="mobileNumber"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">ایمیل:</label>
                            <input type="text"
                                   v-model="emailAddress"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">جنسیت:</label>

                            <div class="inline-flex items-center">
                                <div class="relative flex cursor-pointer items-center rounded-full py-1 px-3">
                                    <input name="gender"
                                           type="radio"
                                           v-model="gender"
                                           value="female"
                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:bg-blue-200 checked:before:bg-blue-200 hover:before:opacity-10"
                                    />
                                    <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-blue-500 opacity-0 transition-opacity peer-checked:opacity-100">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="h-3.5 w-3.5"
                                                viewBox="0 0 16 16"
                                                fill="currentColor"
                                        >
                                            <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <label class="text-xs mt-px cursor-pointer select-none font-light ml-3"
                                       for="html"
                                >
                                    زن
                                </label>
                            </div>

                            <div class="inline-flex items-center">
                                <div class="relative flex cursor-pointer items-center rounded-full py-1 px-3">
                                    <input name="gender"
                                           type="radio"
                                           v-model="gender"
                                           value="male"
                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:bg-blue-200 checked:before:bg-blue-200 hover:before:opacity-10"
                                    />
                                    <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-blue-500 opacity-0 transition-opacity peer-checked:opacity-100">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="h-3.5 w-3.5"
                                                viewBox="0 0 16 16"
                                                fill="currentColor"
                                        >
                                            <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                                        </svg>
                                    </div>
                                </div>
                                <label class="text-xs mt-px cursor-pointer select-none font-light ml-3"
                                       for="html"
                                >
                                    مرد
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button-component type="submit"
                                  :loading="submitProfileLoading"
                                  text="ویرایش"
                                  txt-color="text-white-100"
                                  custom-style="w-full md:w-max bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="updateProfile">

                </button-component>

            </div>


            <div class="hidden md:flex w-full h-max justify-center">
                <img src="@/assets/img/user/profile.png"
                     class="w-max"/>
            </div>

        </div>
    </div>
</template>

<script>
import {useGlobalStore} from "@/stores/global"
import {mapActions, mapState} from "pinia"

import DatePicker from '@alireza-ab/vue3-persian-datepicker';

export default {
    name: "index",
    components: {DatePicker},
    data() {
        return {
            profile_img: '',

            responseData: null,
            responseType: null,
            submitProfileLoading: false,

            firstName: '',
            lastName: '',
            birthday: '',
            mobileNumber: '',
            emailAddress: '',
            gender: '',
            photo: '',

            datepicker_styles: {
                'primary-color': '#2131BA',
                'secondary-color': '#F6F8FF',
                'in-range-background': '#F6F8FF'
            },

            profileObj: {
                firstName: '',
                lastName: '',
                birthday: '',
                mobileNumber: '',
                emailAddress: '',
                gender: '',
                photo: ''
            }
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['displayToast']),
        getProfileImg() {
            if (this.profile_img) {
                return this.profile_img
            } else {
                return '/img/default-pic.png'
            }
        }
    },
    created() {
        this.getProfileInfo()
    },
    methods: {
        ...mapActions(useGlobalStore, ['setFullLoading', 'toastTimeOut']),
        setProfileImg(event) {
            const file = event.target.files[0];
            this.profile_img = URL.createObjectURL(file);
        },
        getProfileInfo() {
            this.setFullLoading(true)

            setTimeout(() => {
                this.profileResponseData = {
                    firstName: "سارا",
                    lastName: "غفاری",
                    birthday: "1402/03/17",
                    mobileNumber: "0912",
                    emailAddress: "saraghfri96@yahoo.com",
                    gender: "female",
                    photo: ""
                }
                this.firstName = this.profileResponseData.firstName
                this.lastName = this.profileResponseData.lastName
                this.birthday = this.profileResponseData.birthday
                this.mobileNumber = this.profileResponseData.mobileNumber
                this.emailAddress = this.profileResponseData.emailAddress
                this.gender = this.profileResponseData.gender
                this.photo = this.profile_img
                this.setFullLoading(false)
            }, 3000)
            // this.$api.get(`/api/user/profile`)
            //     .then(response => {
            //
            //         this.profileResponseData = response.data.data.personalInfo
            //         this.profileResponseData = response.data.data.personalInfo
            //
            //         this.firstName = this.profileResponseData.firstName
            //         this.lastName = this.profileResponseData.lastName
            //         this.birthday = this.profileResponseData.birthday
            //         this.mobileNumber = this.profileResponseData.mobileNumber
            //         this.emailAddress = this.profileResponseData.emailAddress
            //         this.gender = this.profileResponseData.gender
            //         this.photo = this.profile_img
            //
            //         this.setFullLoading(false)
            //
            //     }).catch(error => {
            //     this.setFullLoading(false)
            //     console.log(error, ' error')
            //
            // })
        },
        updateProfile() {
            // console.log(this.firstName, '  this.firstName')
            //
            // this.profileObj.firstName = this.firstName
            // this.profileObj.lastName = this.lastName
            // this.profileObj.birthday = this.birthday
            // this.profileObj.mobileNumber = this.mobileNumber
            // this.profileObj.emailAddress = this.emailAddress
            // this.profileObj.gender = this.gender
            // this.profileObj.photo = this.profile_img
            //
            //
            // this.responseData = null
            // this.responseType = null
            // this.displayToast = false
            //
            // this.submitProfileLoading = true
            //
            // this.$api.post(`/api/user/submitProfile`, this.profileObj)
            //     .then(response => {
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.submitProfileLoading = false
            //
            //         this.profileObj = {
            //             firstName: '',
            //             lastName: '',
            //             birthday: '',
            //             mobileNumber: '',
            //             emailAddress: '',
            //             gender: '',
            //             photo: ''
            //         }
            //
            //     }).catch(error => {
            //     this.submitProfileLoading = false
            //     console.log(error, ' error')
            // })
        },
    }
}
</script>

<script setup>
definePageMeta({
    layout: 'dashboard'
})
useHead({
    title: 'پروفایل کاربر',
})
</script>

<style scoped>

</style>