<template>

    <div v-if="$route.params.slug"
         class="w-full bg-[#F6F8FF]">

        <selected-insurance ref="navigation"></selected-insurance>

        <questions :navigation-height="navigation_height"></questions>

    </div>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                navigation_height: 0
            }
        },
        mounted() {
            this.navigation_height = this.$refs['navigation'].$el.getBoundingClientRect().height
        }
    }
</script>
<script setup>
    definePageMeta({
        layout: 'dashboard'
    })
    if (JSON.parse(localStorage.getItem('selected_admin_insurance'))) {
        useHead({
            title: `${JSON.parse(localStorage.getItem('selected_admin_insurance')).categoryPersianLabel}`,
        })
    }

</script>
<style scoped>

</style>