<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <div class="flex flex-col py-5 md:px-20 px-4 w-full">
        <h3 class="mb-3 text-[#2131BA]">اطلاعات حساب کاربری</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 bg-[#F6F8FF] mt-5 rounded-xl p-10">

            <div>

                <div class="flex h-max">
                    <img :src="getProfileImg"
                         class="w-20 h-20"
                         id="img-preview"/>
                    <div class="flex flex-col items-first justify-center mr-5 w-full">
                        <div class="relative w-full h-[25px]">
                            <input type="file"
                                   accept="image/x-png,image/gif,image/jpeg"
                                   class="absolute right-0 top-0 w-full h-full z-[2] opacity-0 cursor-pointer"
                                   @change="setProfileImg"/>
                            <span class="absolute right-0 top-0 text-xs text-[#2131BA]">آپلود عکس</span>
                        </div>
                        <span v-if="profileResponseData"
                              class="text-xs">
                            {{ profileResponseData.firstName + ' ' + profileResponseData.lastName }}
                        </span>
                    </div>
                </div>

                <div class="mt-6 grid grid-cols-1 lg:grid-cols-2">
                    <div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام:</label>
                            <input type="text"
                                   v-model="firstName"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام خانوادگی:</label>
                            <input type="text"
                                   v-model="lastName"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام شرکت:</label>
                            <input type="text"
                                   v-model="companyName"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">شماره تماس:</label>
                            <input type="text"
                                   v-model="mobileNumber"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                    </div>
                    <div class="lg:mr-4">
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">سمت سازمانی:</label>
                            <input type="text"
                                   v-model="organization"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">شماره پرسنلی:</label>
                            <input type="text"
                                   v-model="personalNumber"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">نام کاربری:</label>
                            <input type="text"
                                   v-model="username"
                                   autocomplete="false"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                        <div class="flex items-center mb-3">
                            <label class="text-sm ml-2 w-[150px]">گذرواژه:</label>
                            <input type="password"
                                   v-model="adminPassword"
                                   autocomplete="false"
                                   class="transition-all rounded px-2 py-1 text-[#191919] text-sm w-full border-b border-[#fff] outline-none focus:border-b focus:border-[#2131BA]"/>
                        </div>
                    </div>
                </div>

                <button-component type="submit"
                                  :loading="submitProfileLoading"
                                  text="ویرایش"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="updateProfile">

                </button-component>

            </div>


            <div class="hidden md:flex w-full h-max justify-center">
                <img src="@/assets/img/admin/profile.png"/>
            </div>

        </div>
    </div>
</template>

<script>
import {useGlobalStore} from "@/stores/global"
import {mapActions, mapState} from "pinia"

export default {
    name: "index",
    data() {
        return {
            profile_img: '',

            responseData: null,
            responseType: null,

            submitProfileLoading: false,
            profileResponseData: [],


            firstName: '',
            lastName: '',
            companyName: '',
            mobileNumber: '',
            organization: '',
            personalNumber: '',
            username: '',
            adminPassword: '',
            photo: '',

            profileObj: {
                firstName: '',
                lastName: '',
                companyName: '',
                mobileNumber: '',
                organization: '',
                personalNumber: '',
                username: '',
                adminPassword: '',
                photo: ''
            }
        }
    },
    computed: {
        ...mapState(useGlobalStore, [ 'displayToast']),
        getProfileImg() {
            if (this.profile_img) {
                return this.profile_img
            } else {
                return '/img/default-pic.png'
            }
        }
    },
    created() {
        this.getProfileInfo()
    },
    methods: {
        ...mapActions(useGlobalStore, ['setFullLoading','toastTimeOut']),
        setProfileImg(event) {
            const file = event.target.files[0];
            this.profile_img = URL.createObjectURL(file);
        },
        getProfileInfo() {
            this.setFullLoading(true)

            setTimeout(()=>{
                this.profileResponseData= {
                    firstName: "Sara",
                    lastName: "Ghaffari",
                    companyName: "company",
                    mobileNumber: "0912",
                    organization: "test",
                    personalNumber: "fnjfdj",
                    username: "sara@admin.com",
                    adminPassword: "123321",
                    photo: ""
                }

                this.firstName = this.profileResponseData.firstName
                this.lastName = this.profileResponseData.lastName
                this.companyName = this.profileResponseData.companyName
                this.mobileNumber = this.profileResponseData.mobileNumber
                this.organization = this.profileResponseData.organization
                this.personalNumber = this.profileResponseData.personalNumber
                this.username = this.profileResponseData.username
                this.adminPassword = this.profileResponseData.adminPassword
                this.photo = this.profile_img


                this.setFullLoading(false)
            },3000)
            // this.$api.get(`/api/admin/profile`)
            //     .then(response => {
            //
            //         this.profileResponseData = response.data.data.additionalInfo
            //
            //         this.firstName = this.profileResponseData.firstName
            //         this.lastName = this.profileResponseData.lastName
            //         this.companyName = this.profileResponseData.companyName
            //         this.mobileNumber = this.profileResponseData.mobileNumber
            //         this.organization = this.profileResponseData.organization
            //         this.personalNumber = this.profileResponseData.personalNumber
            //         this.username = this.profileResponseData.username
            //         this.adminPassword = this.profileResponseData.adminPassword
            //         this.photo = this.profile_img
            //
            //
            //         this.setFullLoading(false)
            //
            //     }).catch(error => {
            //     this.setFullLoading(false)
            //     console.log(error, ' error')
            //
            // })
        },
        updateProfile() {
            //
            // this.profileObj.firstName = this.firstName
            // this.profileObj.lastName = this.lastName
            // this.profileObj.companyName = this.companyName
            // this.profileObj.mobileNumber = this.mobileNumber
            // this.profileObj.organization = this.organization
            // this.profileObj.personalNumber = this.personalNumber
            // this.profileObj.username = this.username
            // this.profileObj.adminPassword = this.adminPassword
            //
            // this.profileObj.photo = this.profile_img
            //
            //
            // this.responseData = null
            // this.responseType = null
            // this.displayToast = false
            //
            // this.submitProfileLoading = true
            //
            // this.$api.post(`/api/admin/submitProfile`, this.profileObj)
            //     .then(response => {
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.submitProfileLoading = false
            //
            //         this.profileObj = {
            //             firstName: '',
            //             lastName: '',
            //             companyName: '',
            //             mobileNumber: '',
            //             organization: '',
            //             personalNumber: '',
            //             username: '',
            //             adminPassword: '',
            //             photo: ''
            //         }
            //
            //     }).catch(error => {
            //     this.submitProfileLoading = false
            //     console.log(error, ' error')
            // })
        }
    }
}
</script>

<script setup>
definePageMeta({
    layout: 'dashboard'
})
useHead({
    title: 'پروفایل ادمین',
})
</script>

<style scoped>

</style>