<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>
    <div class="w-full px-5 md:px-0">
        <form @submit.prevent="adminLogin()"
              class="space-y-6 w-full mt-4">

            <div class="relative group">
                <input type="text"
                       id="username"
                       required
                       class="bg-[#F6F8FF] w-full h-10 text-sm peer outline-none border-[#ADA8A8] border-b focus:border-[#2131BA] transition-all"
                       v-model="username"
                       autocomplete="false">
                <label for="username"
                       class="text-xs transform transition-all absolute top-0 right-0 h-full flex items-center pl-2 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">
                    نام کاربری</label>
            </div>
            <div class="relative group">
                <input type="password"
                       id="password"
                       required
                       class="bg-[#F6F8FF] w-full h-10 text-sm peer outline-none border-[#ADA8A8] border-b focus:border-[#2131BA] transition-all"
                       v-model="value"
                       autocomplete="false">
                <label for="username"
                       class="text-xs transform transition-all absolute top-0 right-0 h-full flex items-center pl-2 group-focus-within:text-xs peer-valid:text-xs group-focus-within:h-1/2 peer-valid:h-1/2 group-focus-within:-translate-y-full peer-valid:-translate-y-full group-focus-within:pl-0 peer-valid:pl-0">
                    رمز عبور</label>
            </div>

            <button-component type="submit"
                              :loading="adminLoginLoading"
                              text="ورود"
                              txt-color="text-white-100"
                              custom-style="w-full text-center bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-2 text-xs ml-2">

            </button-component>
            <!--        <div class="flex items-center justify-center w-full">-->
            <!--            <a href="#"-->
            <!--               class="text-center text-xs font-medium text-primary-600 hover:underline dark:text-primary-500">-->
            <!--                فراموشی رمز عبور</a>-->
            <!--        </div>-->
        </form>
    </div>
</template>
<script>
    import {mapActions, mapState} from "pinia";
    import {useGlobalStore} from "~/stores/global";

    export default {
        name: "index",
        data() {
            return {
                username: '',
                value: '',
                adminLoginObj: {},
                adminLoginLoading: false,
                responseData: null,
                responseType: null,
                formType: 'login',
                adminInfo: {}
            }
        },
        computed: {
            ...mapState(useGlobalStore, ['displayToast'])
        },
        mounted() {
            localStorage.removeItem('userInfo')
        },
        methods: {
            ...mapActions(useGlobalStore, ['toastTimeOut']),
            // login method
            adminLogin() {
                this.adminLoginLoading = true

                this.responseData = null
                this.responseType = null

                this.adminLoginObj.email = this.username
                this.adminLoginObj.password = this.value
                this.adminLoginObj.formType = this.formType

                setTimeout(() => {
                    this.adminLoginLoading = false
                    this.adminInfo.role = 'admin'
                    this.adminInfo.token = 'tokentest123'
                    localStorage.setItem('adminInfo', JSON.stringify(this.adminInfo))

                    this.responseType = 'success'

                    this.$router.push({
                        path: '/admin/dashboard'
                    })
                }, 3000)
                // this.$api.post(`/api/auth/login`, this.adminLoginObj)
                //     .then(response => {
                //         this.adminLoginLoading = false
                //
                //
                //         if (response.data.isAdmin) {
                //             this.adminInfo.role = 'admin'
                //         }
                //         this.adminInfo.token = response.data.token
                //         localStorage.setItem('adminInfo', JSON.stringify(this.adminInfo))
                //
                //         this.$router.push({
                //             path: '/admin/dashboard'
                //         })
                //
                //
                //     }).catch(error => {
                //
                //     this.responseType = 'error'
                //     this.responseData = error.response.data.message
                //
                //     this.toastTimeOut()
                //
                //     this.adminLoginLoading = false
                // });

            }

        },
    }
</script>
<script setup>
    definePageMeta({
        layout: 'login',
    })

    useHead({
        title: 'ورود ادمین',
    })

</script>
<style scoped>

</style>