<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <div ref="chatBox"
         class="flex flex-row justify-between bg-[#F6F8FF] md:pt-4 z-0"
         :style="{paddingTop:`${topHeight}px`,paddingBottom:`${bottomHeight}px`}">
        <div class="w-full flex flex-col justify-between">

            <chat-skeleton v-show="getChatHistoryLoading"
                           class="md:mt-3 mt-48"></chat-skeleton>

            <div v-show="!getChatHistoryLoading">
                <div v-if="historyResponseData.length > 0"
                     class="overflow-y-scroll"
                     ref="chatHistory">
                    <div v-for="history in Object.entries(groupByJalali)">
                        <div class="relative flex py-5 items-center px-5">
                            <div class="flex-grow border-t border-[#ADA8A8]"></div>
                            <span class="flex-shrink mx-10 text-[#ADA8A8]">
                             {{ (today === history[0] ? 'امروز' : history[0]) }}
                            </span>
                            <div class="flex-grow border-t border-[#ADA8A8]"></div>
                        </div>

                        <div class="flex flex-col">
                            <div v-for="chat in history[1]"
                                 class="flex flex-row-reverse mb-4 px-5"
                                 :class="chat.isBotsAnswer ? 'justify-start' : 'justify-end'">

                                <div class="relative flex items-center flex-col-reverse sm:flex-row">
                                    <div class="mt-4 sm:mt-0">
                                        <div v-if="chat.isBotsAnswer && chat.askReact && !reactLoading && chat.react === ''"
                                             class="flex cursor-pointer items-center px-3">

                                            <div class="relative">
                                                <empty-like class="ml-2"></empty-like>
                                                <input type="radio"
                                                       v-model="reactBtn"
                                                       value="like"
                                                       class="absolute w-full h-full top-0 opacity-0 cursor-pointer"
                                                       @change="likeButton($event,chat)"/>
                                            </div>
                                            <div class="relative">
                                                <empty-dislike></empty-dislike>
                                                <input type="radio"
                                                       v-model="reactBtn"
                                                       value="dislike"
                                                       class="absolute w-full h-full top-0 opacity-0 cursor-pointer"
                                                       @change="dislikeButton($event,chat)"/>
                                            </div>

                                        </div>
                                        <div class="flex cursor-pointer items-center px-3">

                                            <div v-if="chat.react === 'dislike'"
                                                 class="relative">
                                                <fill-dislike></fill-dislike>
                                            </div>
                                            <div v-if="chat.react === 'like'"
                                                 class="relative">
                                                <fill-like></fill-like>
                                            </div>

                                        </div>
                                    </div>
                                    <div v-if="chat.askReact && reactLoading">
                                        <loading class="ml-4"></loading>
                                    </div>

                                    <div class="max-w-[500px] shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-sm py-3 px-4"
                                         :class="chat.isBotsAnswer ? 'bg-[#fff] text-[#000] rounded-br-xl rounded-tr-xl rounded-tl-xl' : 'bg-[#2131BA] text-[#fff] rounded-bl-xl rounded-tl-xl rounded-tr-xl'">
                                        {{ chat.message }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="dislikeChecked"
                         class="flex flex-row-reverse justify-start mb-4 px-5">
                        <div class="max-w-[500px] shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-sm bg-[#fff] rounded-br-xl rounded-tr-xl rounded-tl-xl text-white">
                            <div class="mb-4">
                                <h3 class="border-b px-4 py-2">سوال خود را از بین موارد زیر انتخاب کنید:</h3>
                                <div class="flex flex-col">

                                    <div v-for="other in otherQuestionList"
                                         class="inline-flex items-center">
                                        <div class="relative flex cursor-pointer items-center rounded-full py-1 px-3">
                                            <input v-model="otherQuestionInput"
                                                   name="type"
                                                   :value="other.question"
                                                   type="radio"
                                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:bg-blue-200 checked:before:bg-blue-200 hover:before:opacity-10"
                                            />
                                            <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-blue-500 opacity-0 transition-opacity peer-checked:opacity-100">
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-3.5 w-3.5"
                                                        viewBox="0 0 16 16"
                                                        fill="currentColor"
                                                >
                                                    <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                                                </svg>
                                            </div>
                                        </div>
                                        <label class="text-xs mt-px cursor-pointer select-none font-light ml-3">
                                            {{ other.question }}
                                        </label>
                                    </div>

                                    <div class="inline-flex items-center">
                                        <div class="relative flex cursor-pointer items-center rounded-full py-1 px-3">
                                            <input v-model="otherQuestionInput"
                                                   value="none"
                                                   name="type"
                                                   type="radio"
                                                   class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-blue-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:bg-blue-200 checked:before:bg-blue-200 hover:before:opacity-10"
                                            />
                                            <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-blue-500 opacity-0 transition-opacity peer-checked:opacity-100">
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="h-3.5 w-3.5"
                                                        viewBox="0 0 16 16"
                                                        fill="currentColor"
                                                >
                                                    <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                                                </svg>
                                            </div>
                                        </div>
                                        <label class="text-xs mt-px cursor-pointer select-none font-light ml-3">
                                            سوال من هیچکدام از این موارد نیست.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <is-typing v-if="botAnswerLoading"></is-typing>

                </div>

                <div class="md:absolute fixed bg-[#F6F8FF] w-full px-5 left-0 -bottom-0.5 md:bottom-5"
                     ref="sendQuestion">
                    <suggested-questions @selectQuestion="selectQuestion"></suggested-questions>

                    <form @submit.prevent="sendQuestion"
                          class="md:mb-0 mb-3 transition-all focus-within:border focus-within:border-[#2131BA] flex items-center border border-solid border-gray-300 w-full bg-[#fff] rounded-[20px]">
                        <button class="mr-3"
                                :disabled="question.length === 0">
                            <svg width="18"
                                 height="23"
                                 viewBox="0 0 18 23"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.00857142 22.283L18 11.283L0.00857142 0.282959L0 8.83851L12.8571 11.283L0 13.7274L0.00857142 22.283Z"
                                      :fill="(question.length > 0) ? '#2131BA':'#4B4B4B'"/>
                            </svg>

                        </button>
                        <input class="text-sm p-3 w-full h-full focus:border-indigo-400 focus:outline-none rounded-[20px] bg-[#fff]"
                               type="text"
                               v-model="question"
                               placeholder="سوال خود را وارد نمایید..."/>
                    </form>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import moment from "moment-jalaali";
    import IsTyping from "./IsTyping";
    import {mapActions, mapState} from "pinia";
    import {useGlobalStore} from "~/stores/global";
    import {groupItems} from '@/utils/index'

    export default {
        name: "ChatComponent",
        components: {IsTyping},
        props: ['navigationHeight'],
        data() {
            return {
                question: '',
                likeReact: false,
                likeChecked: false,

                dislikeReact: false,
                dislikeChecked: false,

                showLike: true,
                showDislike: true,

                reactBtn: '',

                askObj: {},

                botAnswerLoading: false,
                getChatHistoryLoading: false,

                askResponseData: null,
                historyResponseData: [],
                historyObj: {},

                chatDate: '',

                mapByJalali: [],
                groupByJalali: [],
                today: '',

                utc_date: '',

                chatHeight: 0,
                sendQuestionHeight: 0,


                responseData: null,
                responseType: null,

                otherQuestionList: [],

                reactObj: {},
                reactLoading: false,
                askReact: false,

                otherQuestionInput: '',
                lastQuestion: '',
                noneQuestionObj: {},
                mobileNavigationHeight: 0,
                topHeight: 0,
                bottomHeight: 0,
            }
        },
        computed: {
            ...mapState(useGlobalStore, ['displayToast'])
        },
        watch: {
            'reactBtn': function (value) {
                if (value === 'like') {

                } else if (value === 'dislike') {

                }
            },
            'otherQuestionInput': function (value) {
                if (value) {
                    if (value === 'none') {
                        // this.question = ''
                        this.submitNoneQuestion()
                    } else {
                        this.question = value
                        this.sendQuestion()
                    }
                }
            }
        },
        mounted() {
            this.today = moment().format('jYYYY/jM/jD')
            this.getChatHistory()
        },
        methods: {
            ...mapActions(useGlobalStore, ['toastTimeOut']),
            likeButton(event, chat) {
                this.reactObj.react = 'like'
                this.reactToMessage('like', chat)
            },
            dislikeButton(event, chat) {
                this.reactObj.react = 'dislike'
                this.reactToMessage('dislike', chat)
            },
            reactToMessage(type, chat) {
                this.reactLoading = true
                this.reactObj.category = this.$route.params.slug
                this.reactObj.qArray = this.otherQuestionList
                setTimeout(() => {
                    this.reactLoading = false
                    if (type === 'like') {
                        chat.react = 'like'
                    } else if (type === 'dislike') {
                        chat.react = 'dislike'
                        this.dislikeChecked = true
                        this.moveToBottom()
                    }
                    this.reactBtn = ''

                }, 3000)

                // this.$api.post(`/api/user/downVote/${chat.botMessageId}`, this.reactObj)
                //     .then(response => {
                //
                //         this.reactLoading = false
                //         if (type === 'like') {
                //             chat.react = 'like'
                //         } else if (type === 'dislike') {
                //             chat.react = 'dislike'
                //             this.dislikeChecked = true
                //             this.moveToBottom()
                //         }
                //         this.reactBtn = ''
                //
                //     }).catch(error => {
                //     console.log(error, ' error')
                //     this.reactLoading = false
                //
                //     this.responseType = 'error'
                //     this.responseData = error.response.data.message
                //     this.toastTimeOut()
                //
                // })
            },
            getChatHistory() {
                this.dislikeChecked = false
                this.getChatHistoryLoading = true

                this.historyObj.category = this.$route.params.slug

                setTimeout(() => {
                    this.historyResponseData = [
                        {
                            "messageId": "648d50ace90f39fdf93b960d",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "hi",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:20:28.892Z"
                        },
                        {
                            "messageId": "648d50ace90f39fdf93b9611",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "",
                            "message": "pasoookhhhh",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:20:28.910Z"
                        },
                        {
                            "messageId": "648d547ee90f39fdf93b98da",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "پرداخت حق بیمه نامه عمر به چه صورت است؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:36:46.043Z"
                        },
                        {
                            "messageId": "648d547ee90f39fdf93b98dc",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "like",
                            "message": "بیمه شده می‌تواند حق بیمه خود را به صورت ماهانه، دو ماهه، سه ماهه، چهار ماهه، شش ماهه و یا سالیانه پرداخت کند. روش‌های پرداخت بیمه نامه عمر در شرکت‌های بیمه‌ای مختلف نیز با یکدیگر متفاوت است. پرداخت از طریق درگاه‌های اعلام شده توسط شرکت بیمه، اصلی‌ترین روش حق بیمه در این بیمه نامه می‌باشد، اما علاوه بر این پرداخت حق بیمه برای تمامی شرکت‌های بیمه‌ای مانند قبوض عادی قابل انجام است. در دفترچه اقساط، شناسه قبض و شناسه پرداخت درج شده است و افراد می‌توانند با داشتن این اطلاعات، حق بیمه خود را از طریق دستگاه‌های خودپرداز و همراه بانک‌ها پرداخت کنند.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "بهترین شرایط پرداخت اقساط بیمه نامه عمر به چه شکلی است؟",
                                    "answer": "بهترین نحوه پرداخت حق بیمه اقساط بیمه عمر و سرمایه گذاری، به صورت پرداخت سالیانه میباشد، لازم به ذکر است که با توجه به روز شمار بودن سود اندوخته و تعلق گرفتن بهره مرکب، با پرداخت اقساط زودتر از سررسید سود بسیار بیشتری به اندوخته تعلق میگیرد.",
                                    "_id": "648d547ee90f39fdf93b98dd"
                                },
                                {
                                    "question": "در پایان مدت بیمه نامه، شرایط اخذ سرمایه بیمه نامه به چه صورت است؟",
                                    "answer": "امکان دریافت کل سرمایه گذاری به صورت یکجا و یا دریافت مستمری (مکمل حقوق بازنشستگی) در پایان قرارداد، وجود دارد.",
                                    "_id": "648d547ee90f39fdf93b98de"
                                },
                                {
                                    "question": "شرایط سنی ارائه پوشش در بیمه نامه زندگی، به چه صورت است؟",
                                    "answer": "امکان برقراری پوششهای بیمه‌ای تا سن 70 سالگی وجود دارد.",
                                    "_id": "648d547ee90f39fdf93b98df"
                                }
                            ],
                            "timestamp": "2023-06-17T06:36:46.053Z"
                        },
                        {
                            "messageId": "648d548ce90f39fdf93b98f3",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "بیمه گزاران جهت دریافت وام به کدام واحد مراجعه کنند؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:37:00.731Z"
                        },
                        {
                            "messageId": "648d548ce90f39fdf93b98f5",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "بیمه گزار به شعبه ناظر واحد صادر کننده بیمه نامه مراجعه نمایند",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "بیمه گزاران جهت انجام بازخرید، سررسید، برداشت از اندوخته بیمه نامه‌های عمر و پس انداز به کدام واحد مراجعه کنند؟",
                                    "answer": "بیمه‌گزار به شعبه ناظر واحد صادرکننده بیمه نامه مراجعه نماید، شعبه ضمن پذیرش مدارک و بررسی آنها، اقدام به بازپرداخت می‌نماید.",
                                    "_id": "648d548ce90f39fdf93b98f6"
                                },
                                {
                                    "question": "بیمه گزاران جهت دریافت وام چه شرایطی باید داشته باشند؟",
                                    "answer": "سپری شدن مدت دو سال از تاریخ صدور بیمه نامه، عدم بدهی حق بیمه و همچنین پرداخت اولین قسط سال سوم بیمه‌ای، (مبلغ وام کمتر از 4٫000٫000 ریال نباشد) \nبیمه گذار میتواند از ابتدای سال سوم تا سقف 90 درصد اندوخته خود را وام بگیرد، بهره این وام سه درصد بیشتر از سود پرداختی توسط بیمه‌گر به اندوخته بیمه گذار میباشد.",
                                    "_id": "648d548ce90f39fdf93b98f7"
                                },
                                {
                                    "question": "جهت دریافت وام مجدد بیمه گزار چه اقدامی باید انجام دهد؟",
                                    "answer": "پس از تسویه وام قبلی و سپری شدن سه ماه از تاریخ آخرین قسط پرداختی وام قبلی بیمه گذار می‌تواند اقدام نماید.",
                                    "_id": "648d548ce90f39fdf93b98f8"
                                }
                            ],
                            "timestamp": "2023-06-17T06:37:00.738Z"
                        },
                        {
                            "messageId": "648d5491e90f39fdf93b990e",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "بیمه گزاران جهت انجام بازخرید، سررسید، برداشت از اندوخته بیمه نامه‌های عمر و پس انداز به کدام واحد مراجعه کنند؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:37:05.689Z"
                        },
                        {
                            "messageId": "648d5491e90f39fdf93b9910",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "بیمه‌گزار به شعبه ناظر واحد صادرکننده بیمه نامه مراجعه نماید، شعبه ضمن پذیرش مدارک و بررسی آنها، اقدام به بازپرداخت می‌نماید.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "بیمه گزاران جهت دریافت وام به کدام واحد مراجعه کنند؟",
                                    "answer": "بیمه گزار به شعبه ناظر واحد صادر کننده بیمه نامه مراجعه نمایند",
                                    "_id": "648d5491e90f39fdf93b9911"
                                },
                                {
                                    "question": "بیمه گذار به چه صورت می‌تواند، وضعیت بیمه نامه و اقساط پرداختی خود را کنترل نماید؟",
                                    "answer": "سامانه شخصی بیمه گذار برای پیگیری وضعیت بیمه نامه، پرداخت حق بیمه و مشاهده صورتحساب به صورت الکترونیکی از طریق اینترنت بیمه و موبایل بیمه فراهم می‌باشد.",
                                    "_id": "648d5491e90f39fdf93b9912"
                                },
                                {
                                    "question": "آیا هزینه آزمایش‌های اولیه در بیمه نامه زندگی و سرمایه گذاری در صورت رد پزشکی به بیمه گذار عودت داده میشود؟",
                                    "answer": "بله در صورت رد پزشکی فاکتورها برای واحد خسارت زندگی ارسال می‌شود و هزینه عودت داده می‌شود.",
                                    "_id": "648d5491e90f39fdf93b9913"
                                }
                            ],
                            "timestamp": "2023-06-17T06:37:05.695Z"
                        },
                        {
                            "messageId": "648d54ede90f39fdf93b998d",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "بیمه تامین اجتماعی بهتر است یا بیمه عمر؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:38:37.284Z"
                        },
                        {
                            "messageId": "648d54ede90f39fdf93b998f",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "اول اینکه بیمه‌های اجتماعی از جمله تامین اجتماعی و خدمات درمانی، ماهیت درمانی دارند یعنی عمدتا حق بیمه‌های پرداختی شما صرف هزینه‌های درمانی میشود و تفاوت بسیاری با بیمه عمر و سرمایه گذاری دارند. شما میتوانید بیمه عمر و سرمایه گذاری را به عنوان مکمل بیمه‌های تامین اجتماعی خریداری کنید. \nدر صورت فوت فرد در بیمه تامین اجتماعی غیر از مبلغ ناچیزی از هزینه کفن و دفن (تا سقف 200٫000 تومان) پولی به بازماندگان پرداخت نمیشود، در حالیکه در بیمه عمر و سرمایه گذاری چنانچه خدای ناکرده اتفاقی برای بیمه گذار بیافتد حتی اگر یک قسط از حق بیمه را هم پرداخت کرده باشد، علاوه بر پرداخت سرمایه فوت، چنانچه پوشش فوت بر اثر حادثه هم خریداری شده باشد، تا ۳ برابر سرمایه فوت، به بازماندگان پول پرداخت میگردد. در حالیکه در بیمه تامین اجتماعی، حقوق به بازماندگان تحت شرایط خاص (از میان فرزندان تنها به فرزند دختر و مجرد) انتقال می‌یابد. \nحق بیمه‌های پرداختی شما به سازمان تامین اجتماعی قابلیت بازخریدی ندارد. شما ۷% حقوق دریافتیتان را ماهیانه بابت حق بیمه تامین اجتماعی پرداخت میکنید، اگر استفاده‌ای هم از آن نکنید نمیتوانید مبالغ پرداختی خود را بازخرید کنید. در حالیکه در بیمه عمر و سرمایه گذاری، حق بیمه‌های پرداختی شما برخلاف تامین اجتماعی امکان بازخریدی داشته و در پایان دوره به همراه سود با بهره مرکب محاسبه میشود و به صورت یکجا و یا مستمری قابل دریافت میباشد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "شرایط بازنشستگی از محل عمر چه تفاوتی با حقوق بازنشستگی تامین اجتماعی دارد؟",
                                    "answer": "در مدت 20 سال حقوق دریافتی بیش از حقوق دریافتی با سابقه 30 ساله تامین اجتماعی است. جمع حق بیمه پرداختی 20 ساله بسیار کمتر از 30 سال تامین اجتماعی است. \n- نیاز به اشتغال در محل یا تایید بازرس تامین اجتماعی نمیباشد و مناسب برای خانمهای خانه دار یا کودکان و نوزادان.",
                                    "_id": "648d54ede90f39fdf93b9990"
                                },
                                {
                                    "question": "مبلغ حق بیمه در بیمه عمر چقدر است؟",
                                    "answer": "حق بیمه به نسبت توان پرداختی، بیمه گذار تعیین می‌شود، حداقل هایی تعیین شده است ولی نهایتا کاملا دلخواه و به انتخاب بیمه گذار می‌باشد؛ و میدانیم که هر سال هم قابل تغییر می‌باشد. مثال؛ یک شخص با پرداخت ماهیانه 50 هزار، دیگری 100 هزار و دیگری 300 هزار و یا هر مبلغی بیمه نامه خویش را شروع می‌کند، منتها می‌دانیم که مزایا و خدمات بیمه عمر ضریبی از همین پرداختی است؛ پس بهتر است که ما 5 تا 10 درصد درآمد خویش را برای روز سختی (بسیاری از مصادیق روز سختی در بیمه عمر پیش بینی شده است) کنار بگذاریم. \nمثال شخصی که ماهیانه 2 میلیون درآمد دارد؛ پرداختی بین 100 تا 200 هزار تومان را به وی پیشنهاد می‌کنیم؛ حال اگر شخص بتواند این حق بیمه را به صورت سالیانه بپردازد که مسلما از سپرده بیمه نامه‌ی بیشتری بهره خواهد برد",
                                    "_id": "648d54ede90f39fdf93b9991"
                                },
                                {
                                    "question": "آیا بیمه عمر دفترچه خدمات درمانی دارد؟",
                                    "answer": "خیر، با این حال افراد می‌توانند در صورت ابتلا به بیماری‌های خاصی همچون سرطان، عمل قلب باز، سکته قلبی و مغزی و پیوند اعضای اصلی بدن و همچنین پرداخت هزینه‌های پزشکی در صورت بروز حادثه، از پوشش‌های اضافی که قبل از ابتلا خریداری کرده‌اند، استفاده کنند.",
                                    "_id": "648d54ede90f39fdf93b9992"
                                }
                            ],
                            "timestamp": "2023-06-17T06:38:37.297Z"
                        },
                        {
                            "messageId": "648d55afe90f39fdf93b99d1",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "راهکار‌های جلوگیری از بازخرید بیمه نامه چیست؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:41:51.233Z"
                        },
                        {
                            "messageId": "648d55afe90f39fdf93b99d3",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "",
                            "message": "وام و یا برداشت از اندوخته",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "شرایط معافیت از پرداخت حق بیمه در بیمه نامه‌های زندگی چگونه است؟",
                                    "answer": "در صورت ازکارافتادگی کامل، بیمه گذار از پرداخت مابقی اقساط بیمه نامه معاف می‌باشد.",
                                    "_id": "648d55afe90f39fdf93b99d4"
                                },
                                {
                                    "question": "چه روش هایی برای پرداخت حق بیمه وجود دارد؟",
                                    "answer": "شما می‌توانید حق بیمه عمر و تشکیل سرمایه خود را به صورت سالیانه، یا اقساط شش ماهه، چهارماهه، سه ماهه، دوماهه و ماهیانه پرداخت کنید. لیکن با توجه به اینکه هرچه اقساط در بازه‌های زمانی بلندتری پرداخت شوند، شما اندوخته بیشتری خواهید داشت. به این معنی که مثلا شخصی که ماهیانه پرداخت می‌کند، چون شرکت بیمه بابت قسطی بودن مبلغی بابت تقسیط از اندوخته‌اش کسر می‌کند، نسبت به شخصی که همان مبلغ را در شرایط مشابه به صورت سالیانه پرداخت می‌کند، اندوخته کمتری خواهد داشت. با این توضیحات، بهترین روش پرداخت از لحاظ سود مالی، ‌روش سالیانه است.",
                                    "_id": "648d55afe90f39fdf93b99d5"
                                },
                                {
                                    "question": "منظور از نرخ تعدیل در بیمه‌های زندگی چیست؟",
                                    "answer": "در بیمه عمر و سرمایه گذاری دو مکانیزم «نرخ تعدیل سالانه حق بیمه» و «نرخ تعدیل سالانه سرمایه بیمه» برای کاهش تأثیر تورم وجود دارد. نرخ تعدیل سالانه حق بیمه میزان افزایش حق بیمه پرداختی هر سال نسبت به سال قبل را مشخص میکند و نرخ تعدیل سالانه سرمایه بیمه، میزان افزایش سرمایه بیمه که در صورت فوت توسط شرکت بیمه به ذینفع بیمه پرداخت می‌شود را در هر سال نسبت به سال قبل مشخص می‌کند.",
                                    "_id": "648d55afe90f39fdf93b99d6"
                                }
                            ],
                            "timestamp": "2023-06-17T06:41:51.245Z"
                        },
                        {
                            "messageId": "648d568ee90f39fdf93b9b53",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "انواع بیمه‌های عمر گروهی در بیمه کدام‌اند؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:45:34.870Z"
                        },
                        {
                            "messageId": "648d568ee90f39fdf93b9b55",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "• بیمه عمر و سرمایه‌گذاری \n• بیمه عمر مانده بدهکار\n• بیمه عمر زمانی\n• بیمه عمر تلفیقی",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "انواع بیمه‌های عمر انفرادی کدام‌اند؟",
                                    "answer": "• بیمه عمر و سرمایه‌گذاری \n• بیمه عمر مانده بدهکار",
                                    "_id": "648d568ee90f39fdf93b9b56"
                                },
                                {
                                    "question": "در بیمه عمر و سرمایه‌گذاری، روش‌های پرداخت حق‌بیمه به چه صورت است و بهترین روش کدام است؟ \n•",
                                    "answer": "یک‌جا برای کل مدت قرارداد، \n• سالانه، \n• شش ماهه، \n• سه ماهه\n• ماهانه. \n• در قراردادهای گروهی، امکان پرداخت حق‌بیمه به صورت کسر از حقوق نیز وجود دارد. \n• بهترین روش خرید بیمه نامه به طریق سالیانه می‌باشد؛ زیرا سود این بیمه نامه روزشمار می‌باشد (سود روزشمار) و همچنین دارای تخفیف نقدی ویژه می‌باشد.",
                                    "_id": "648d568ee90f39fdf93b9b57"
                                },
                                {
                                    "question": "انواع معافیت‌های مالیاتی بیمه عمر و سرمایه‌گذاری کدام‌اند؟ \n•",
                                    "answer": "معافیت حق‌بیمه پس‌اندازی از مالیات بر ارزش افزوده\n• معافیت سرمایه بیمه از مالیات بر ارث\n• معافیت سرمایه بیمه از مالیات بر درآمد",
                                    "_id": "648d568ee90f39fdf93b9b58"
                                }
                            ],
                            "timestamp": "2023-06-17T06:45:34.874Z"
                        },
                        {
                            "messageId": "648d56b1e90f39fdf93b9b89",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "بعد از فوت بیمه عمر چه مبلغی پرداخت میکند؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:46:09.621Z"
                        },
                        {
                            "messageId": "648d56b1e90f39fdf93b9b8b",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "بیمه عمر پس از فوت، سرمایه فوت را به ذی‌نفعان بیمه‌گزار می‌دهد. مبلغ سرمایه فوت به حق بیمه پرداختی بیمه‌گزار و ضریب تشکیل سرمایه که توسط بیمه‌گزار انتخاب می‌شود بستگی دارد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "مبلغ حق بیمه در بیمه عمر چقدر است؟",
                                    "answer": "حق بیمه به نسبت توان پرداختی، بیمه گذار تعیین می‌شود، حداقل هایی تعیین شده است ولی نهایتا کاملا دلخواه و به انتخاب بیمه گذار می‌باشد؛ و میدانیم که هر سال هم قابل تغییر می‌باشد. مثال؛ یک شخص با پرداخت ماهیانه 50 هزار، دیگری 100 هزار و دیگری 300 هزار و یا هر مبلغی بیمه نامه خویش را شروع می‌کند، منتها می‌دانیم که مزایا و خدمات بیمه عمر ضریبی از همین پرداختی است؛ پس بهتر است که ما 5 تا 10 درصد درآمد خویش را برای روز سختی (بسیاری از مصادیق روز سختی در بیمه عمر پیش بینی شده است) کنار بگذاریم. \nمثال شخصی که ماهیانه 2 میلیون درآمد دارد؛ پرداختی بین 100 تا 200 هزار تومان را به وی پیشنهاد می‌کنیم؛ حال اگر شخص بتواند این حق بیمه را به صورت سالیانه بپردازد که مسلما از سپرده بیمه نامه‌ی بیشتری بهره خواهد برد",
                                    "_id": "648d56b1e90f39fdf93b9b8c"
                                },
                                {
                                    "question": "اگر قرارداد بیمه عمر 10 ساله باشد بعد از 10 سال حقوق مستمری خواهیم گرفت؟",
                                    "answer": "الزاما نه از تمام شرکت‌های بیمه؛ بعضی از شرکت‌ها امکان پرداخت به‌صورت مستمری را دارند و بعضی ندارند.",
                                    "_id": "648d56b1e90f39fdf93b9b8d"
                                },
                                {
                                    "question": "پس از پایان مدت قرارداد بیمه عمر، بازپرداخت بیمه عمر به چه صورت خواهد بود؟",
                                    "answer": "مبلغ اندوخته صندوق",
                                    "_id": "648d56b1e90f39fdf93b9b8e"
                                }
                            ],
                            "timestamp": "2023-06-17T06:46:09.634Z"
                        },
                        {
                            "messageId": "648d56b7e90f39fdf93b9ba0",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "اگر قرارداد بیمه عمر 10 ساله باشد بعد از 10 سال حقوق مستمری خواهیم گرفت؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:46:15.927Z"
                        },
                        {
                            "messageId": "648d56b7e90f39fdf93b9ba2",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "الزاما نه از تمام شرکت‌های بیمه؛ بعضی از شرکت‌ها امکان پرداخت به‌صورت مستمری را دارند و بعضی ندارند.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "مبلغ حق بیمه در بیمه عمر چقدر است؟",
                                    "answer": "حق بیمه به نسبت توان پرداختی، بیمه گذار تعیین می‌شود، حداقل هایی تعیین شده است ولی نهایتا کاملا دلخواه و به انتخاب بیمه گذار می‌باشد؛ و میدانیم که هر سال هم قابل تغییر می‌باشد. مثال؛ یک شخص با پرداخت ماهیانه 50 هزار، دیگری 100 هزار و دیگری 300 هزار و یا هر مبلغی بیمه نامه خویش را شروع می‌کند، منتها می‌دانیم که مزایا و خدمات بیمه عمر ضریبی از همین پرداختی است؛ پس بهتر است که ما 5 تا 10 درصد درآمد خویش را برای روز سختی (بسیاری از مصادیق روز سختی در بیمه عمر پیش بینی شده است) کنار بگذاریم. \nمثال شخصی که ماهیانه 2 میلیون درآمد دارد؛ پرداختی بین 100 تا 200 هزار تومان را به وی پیشنهاد می‌کنیم؛ حال اگر شخص بتواند این حق بیمه را به صورت سالیانه بپردازد که مسلما از سپرده بیمه نامه‌ی بیشتری بهره خواهد برد",
                                    "_id": "648d56b7e90f39fdf93b9ba3"
                                },
                                {
                                    "question": "بعد از فوت بیمه عمر چه مبلغی پرداخت میکند؟",
                                    "answer": "بیمه عمر پس از فوت، سرمایه فوت را به ذی‌نفعان بیمه‌گزار می‌دهد. مبلغ سرمایه فوت به حق بیمه پرداختی بیمه‌گزار و ضریب تشکیل سرمایه که توسط بیمه‌گزار انتخاب می‌شود بستگی دارد.",
                                    "_id": "648d56b7e90f39fdf93b9ba4"
                                },
                                {
                                    "question": "پس از پایان مدت قرارداد بیمه عمر، بازپرداخت بیمه عمر به چه صورت خواهد بود؟",
                                    "answer": "مبلغ اندوخته صندوق",
                                    "_id": "648d56b7e90f39fdf93b9ba5"
                                }
                            ],
                            "timestamp": "2023-06-17T06:46:15.934Z"
                        },
                        {
                            "messageId": "648d56dde90f39fdf93b9bc4",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "درصد افزایش سالانه حق بیمه چیست؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:46:53.028Z"
                        },
                        {
                            "messageId": "648d56dde90f39fdf93b9bc6",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "برای حفظ ارزش سرمایه ذخیره شده در بیمه نامه عمر و همچنین رفع اثر تورم بر این سرمایه، درصدی به صورت سالانه به حق بیمه پرداختی افزوده می‌شود. متقاضیان می‌توانند بسته به شرکت بیمه، ضرایب افزایش سالانه متفاوتی را انتخاب کنند.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "نحوه اعمال سود مشارکت در بیمه عمر چگونه است؟",
                                    "answer": "سود مشارکت از ابتدای قرارداد و در پایان هر سال مالی به اندوخته بیمه عمر افزوده می‌شود",
                                    "_id": "648d56dde90f39fdf93b9bc7"
                                },
                                {
                                    "question": "نحوه محاسبه حق بیمه عمر چیست؟",
                                    "answer": "مبلغ حق بیمه عمر به دلخواه بیمه گزار تعیین می‌شود. در واقع شرکت‌های بیمه مبلغ حداقل و حداکثر حق بیمه ماهانه را مشخص می‌کنند و شخص می‌تواند مبلغ دلخواه خود را انتخاب کند. حداقل مبلغ برای حق بیمه نامه عمر، ماهانه 50 هزار تومان است. لازم به ذکر است این مبلغ به طور مستقیم بر مبلغ سرمایه فوت اثر می‌گذارد. فرد بیمه شده می‌تواند برای سال‌های آتی بیمه نامه خود، افزایش سالانه 5 تا 25 درصدی در نظر بگیرد تا تاثیر تورم بر سرمایه گذاری بیمه نامه را کم‌تر کند. \nقیمت این بیمه نامه به سن بیمه شده، وضعیت سلامتی و مدت قرارداد بیمه نامه بستگی دارد. به طور مثال هر چقدر سن بیمه شده بالا‌تر باشد، باید حق بیمه بیشتری پرداخت کند. عوامل موثر بر محاسبه بیمه عمر شامل موارد زیر خواهد بود: \nسن بیمه شده\nمدت قرارداد بیمه تامه\nپوشش‌های خریداری شده\nسرمایه فوت در اثر حادثه\nسرمایه فوت طبیعی بیمه شده\nسرمایه امراض خاص\nسرمایه نقص عضو\nسرمایه از کارفتادگی \nزمان خرید بیمه نامه با توجه به اطلاعاتی که شخص در فرم قرارداد ثبت می‌کند، یک جدول بیمه عمر برای بیمه شده تکمیل می‌شود که اطلاعات شخصی بیمه شده به همراه مدت قرارداد، مقدار حق بیمه سالانه و سرمایه فوت از کارافتادگی بیمه نامه به همراه اندوخته هر ساله بیمه نامه و مقدار ارزش بازخریدی بیمه نامه در هر سال بیمه‌ای در آن ثبت شده است.",
                                    "_id": "648d56dde90f39fdf93b9bc8"
                                },
                                {
                                    "question": "مبنای تعیین حق بیمه تکمیلی بازنشستگی چیست؟",
                                    "answer": "حق بیمه اعلام شده از سوی بیمه گذار",
                                    "_id": "648d56dde90f39fdf93b9bc9"
                                }
                            ],
                            "timestamp": "2023-06-17T06:46:53.040Z"
                        },
                        {
                            "messageId": "648d5705e90f39fdf93b9c08",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "دریافت وام بدون ضامن و وثیقه چیست؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:47:33.314Z"
                        },
                        {
                            "messageId": "648d5705e90f39fdf93b9c0a",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "در صورتی که بیمه گزاران نیاز به پول داشته باشند، می‌توانند بسته به سیاست‌های شرکت بیمه مورد نظر، پس از گذشت معینی وام دریافت کنند. این مدت می‌تواند بسته به قرارداد 6 ماه، یک سال و … باشد و افراد بدون هیچ گونه ضامن و وثیقه‌ای این امکان را دارند که تا 90 درصد ارزش باز خرید خود وام دریافت کنند.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "شرایط دریافت وام از بیمه نامه مستمری و بازنشستگی تکمیلی چگونه است؟",
                                    "answer": "پس از پرداخت حق بیمه سال دوم و تا سقف 90 درصد ارزش بازخرید امکانپذیر است. در صورت تسویه وام قبلی امکان دریافت مجدد وام وجود دارد. مدت بازپرداخت وام بین یک الی سه سال با انتخاب بیمه‌گذار می‌باشد. تا زمانی که بیمه‌گذار واریز مجدد به کیف پول نداشته باشد و یا بازپرداخت کامل وام انجام نشده باشد امکان برداشت از اندوخته وجود ندارد.",
                                    "_id": "648d5705e90f39fdf93b9c0b"
                                },
                                {
                                    "question": "برای گرفت وام چه ضمانهایی لازم است و مدت زمان وام و بازپرداخت آن چگونه است؟",
                                    "answer": "برای دریافت وام باید حداقل شش ماه از مدت بیمه نامه گذشته و حداقل موجودی 200 هزار تومان باشد که در صورت ثبت همه اقساط بدون هیچ تشریفاتی و فقط با ارایه بیمه نامه و کارت شناسایی چک وام در وجه بیمه گذار صادر خواهد گردید. \nو باز پرداخت آن می‌تواند حداکثر تا 36 ماه بوده و همچنین می‌تواند بعد از اتمام هر وام بلافاصله درخواست وام جدید نماید",
                                    "_id": "648d5705e90f39fdf93b9c0c"
                                },
                                {
                                    "question": "وام بیمه عمر چیست و چه شرایطی دارد؟",
                                    "answer": "می‌توانید بدون نیاز به ضامن یا وثیقه‌ای از بیمه عمر وام دریافت کنید. اطلاعات بیشتر را در وبلاگ بیمیتو بخوانید.",
                                    "_id": "648d5705e90f39fdf93b9c0d"
                                }
                            ],
                            "timestamp": "2023-06-17T06:47:33.321Z"
                        },
                        {
                            "messageId": "648d573ae90f39fdf93b9c5f",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "در بیمه‌های عمر و پس انداز چه خطراتی تحت پوشش قرار دارد و چه مزایایی را دارا می‌باشد؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:48:26.324Z"
                        },
                        {
                            "messageId": "648d573ae90f39fdf93b9c61",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "فوت به هر علت و از کارافتادگی و فوت ناشی از حادثه تحت پوشش این نوع بیمه نامه می‌باشد. بیمه گذار پس از گذشت مدت 2 سال از شروع بیمه نامه وپرداخت حق بیمه مربوطه می‌تواند از محل بیمه نامه خود وام دریافت نماید و یا پس از گذشت مدت 6 ماه (و پرداخت حق بیمه مربوطه) نسبت به انفساخ (بازخرید) بیمه نامه اقدام نماید.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "در بیمه‌های عمر انفرادی در چه صورت بیمه گذار می‌تواند از پوشش از کارافتادگی نیز برخودار گردد؟",
                                    "answer": "در صورتیکه بیمه گذار و بیمه شده شخص واحدی باشد.",
                                    "_id": "648d573ae90f39fdf93b9c62"
                                },
                                {
                                    "question": "در بیمه عمر و سرمایه‌گذاری، روش‌های پرداخت حق‌بیمه به چه صورت است و بهترین روش کدام است؟ \n•",
                                    "answer": "یک‌جا برای کل مدت قرارداد، \n• سالانه، \n• شش ماهه، \n• سه ماهه\n• ماهانه. \n• در قراردادهای گروهی، امکان پرداخت حق‌بیمه به صورت کسر از حقوق نیز وجود دارد. \n• بهترین روش خرید بیمه نامه به طریق سالیانه می‌باشد؛ زیرا سود این بیمه نامه روزشمار می‌باشد (سود روزشمار) و همچنین دارای تخفیف نقدی ویژه می‌باشد.",
                                    "_id": "648d573ae90f39fdf93b9c63"
                                },
                                {
                                    "question": "آیا بیمه‌های عمر و سرمایه گذاری هزینه‌های درمانی را نیز پرداخت می‌نماید؟",
                                    "answer": "در بیمه‌های عمر و سرمایه گذاری، صرفا هزینه‌های درمانی بابت امراض خاص (بیماری‌های پر هزینه) به صورت غرامت پرداخت می‌گردد. امراض خاص: سکته قلبی، سکته مغزی، جراحی عروق قلبی (کرونر)، پیوند اعضاء اصلی بدن و انواع سرطان به استثناء ملانوم بدخیم",
                                    "_id": "648d573ae90f39fdf93b9c64"
                                }
                            ],
                            "timestamp": "2023-06-17T06:48:26.330Z"
                        },
                        {
                            "messageId": "648d5771e90f39fdf93b9cbe",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "برای بیمه عمر باید چند سالم باشه؟vvv",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:49:21.167Z"
                        },
                        {
                            "messageId": "648d5771e90f39fdf93b9cc0",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "ggggvv",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟vv",
                                    "answer": "ggggvv",
                                    "_id": "648d5771e90f39fdf93b9cc1"
                                },
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟",
                                    "answer": "hh",
                                    "_id": "648d5771e90f39fdf93b9cc2"
                                },
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟",
                                    "answer": "pasoookh",
                                    "_id": "648d5771e90f39fdf93b9cc3"
                                }
                            ],
                            "timestamp": "2023-06-17T06:49:21.174Z"
                        },
                        {
                            "messageId": "648d57b1e90f39fdf93b9d44",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "برای بیمه عمر باید چند سالم باشه؟vvv",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:50:25.938Z"
                        },
                        {
                            "messageId": "648d57b1e90f39fdf93b9d46",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "ggggvv",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟vv",
                                    "answer": "ggggvv",
                                    "_id": "648d57b1e90f39fdf93b9d47"
                                },
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟",
                                    "answer": "hh",
                                    "_id": "648d57b1e90f39fdf93b9d48"
                                },
                                {
                                    "question": "برای بیمه عمر باید چند سالم باشه؟",
                                    "answer": "pasoookh",
                                    "_id": "648d57b1e90f39fdf93b9d49"
                                }
                            ],
                            "timestamp": "2023-06-17T06:50:25.943Z"
                        },
                        {
                            "messageId": "648d57e5e90f39fdf93b9da1",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "آیا می‌توان شرایط بیمه نامه را تغییر داد؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T06:51:17.172Z"
                        },
                        {
                            "messageId": "648d57e5e90f39fdf93b9da3",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "بلی\nاعمال تغییرات در شرایط بیمه نامه در طول مدت قرارداد در سررسید هر یک از سنوات بیمه‌ای مقدور می‌باشد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "آیا می‌توان شرایط بیمه نامه مستمری و بازنشستگی تکمیلی را تغییر داد؟",
                                    "answer": "بله. اعمال تغییرات مالی در شرایط بیمه نامه مثلا کاهش یا افزایش حق‌بیمه، سرمایه فوت، مدت بیمه نامه و … در طول مدت قرارداد قبل از تمدید هر سال بیمه‌ای میسر می‌باشد و برای تغییرات غیر مالی مانند تغییر آدرس، ذینفع و …. در هر زمان امکان پذیر است.",
                                    "_id": "648d57e5e90f39fdf93b9da4"
                                },
                                {
                                    "question": "آیا می‌توان بیمه شده را تغییر داد؟",
                                    "answer": "خیر، پس از صدور بیمه نامه امکان تغییر بیمه شده وجود ندارد.",
                                    "_id": "648d57e5e90f39fdf93b9da5"
                                },
                                {
                                    "question": "آیا می‌توان بیمه عمر را فسخ کرد؟",
                                    "answer": "بیمه گزار می‌تواند پس از مدتی قرارداد بیمه خود را فسخ کند، که این مدت زمان بستگی به اساس نامه شرکت دارد. در این صورت بیمه گزار می‌تواند معادل ارزش بازخرید بیمه نامه را دریافت کند. مبلغ بازخرید این بیمه نامه برابر است با مجموع حق بیمه‌های پرداختی به اضافه سود هایی که به آن تعلق می‌گیرد. در صورتی که زود‌تر از سال پنجم اقدام به باز خرید بیمه شود، ارزش آن کم‌تر از مجموع مبلغ پرداختی خواهد بود. این مبلغ بر اساس مدت زمانی که از شروع قرارداد گذشته است، با توجه به جدول بیمه عمر که شرکت‌های بیمه ارائه می‌کنند محاسبه می‌شود. بیمه شده می‌تواند این مبلغ را به صورت یک جا و یا به صورت مستمری دریافت کند که نحوه پرداخت ان بستگی به سیاست‌های شرکت بیمه مورد نظر دارد.",
                                    "_id": "648d57e5e90f39fdf93b9da6"
                                }
                            ],
                            "timestamp": "2023-06-17T06:51:17.178Z"
                        },
                        {
                            "messageId": "648d5f61e90f39fdf93b9e78",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "آیا می‌توان شرایط بیمه نامه را تغییر داد؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T07:23:13.509Z"
                        },
                        {
                            "messageId": "648d5f61e90f39fdf93b9e7a",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "",
                            "message": "بلی\nاعمال تغییرات در شرایط بیمه نامه در طول مدت قرارداد در سررسید هر یک از سنوات بیمه‌ای مقدور می‌باشد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "آیا می‌توان شرایط بیمه نامه مستمری و بازنشستگی تکمیلی را تغییر داد؟",
                                    "answer": "بله. اعمال تغییرات مالی در شرایط بیمه نامه مثلا کاهش یا افزایش حق‌بیمه، سرمایه فوت، مدت بیمه نامه و … در طول مدت قرارداد قبل از تمدید هر سال بیمه‌ای میسر می‌باشد و برای تغییرات غیر مالی مانند تغییر آدرس، ذینفع و …. در هر زمان امکان پذیر است.",
                                    "_id": "648d5f61e90f39fdf93b9e7b"
                                },
                                {
                                    "question": "آیا می‌توان بیمه شده را تغییر داد؟",
                                    "answer": "خیر، پس از صدور بیمه نامه امکان تغییر بیمه شده وجود ندارد.",
                                    "_id": "648d5f61e90f39fdf93b9e7c"
                                },
                                {
                                    "question": "آیا می‌توان بیمه عمر را فسخ کرد؟",
                                    "answer": "بیمه گزار می‌تواند پس از مدتی قرارداد بیمه خود را فسخ کند، که این مدت زمان بستگی به اساس نامه شرکت دارد. در این صورت بیمه گزار می‌تواند معادل ارزش بازخرید بیمه نامه را دریافت کند. مبلغ بازخرید این بیمه نامه برابر است با مجموع حق بیمه‌های پرداختی به اضافه سود هایی که به آن تعلق می‌گیرد. در صورتی که زود‌تر از سال پنجم اقدام به باز خرید بیمه شود، ارزش آن کم‌تر از مجموع مبلغ پرداختی خواهد بود. این مبلغ بر اساس مدت زمانی که از شروع قرارداد گذشته است، با توجه به جدول بیمه عمر که شرکت‌های بیمه ارائه می‌کنند محاسبه می‌شود. بیمه شده می‌تواند این مبلغ را به صورت یک جا و یا به صورت مستمری دریافت کند که نحوه پرداخت ان بستگی به سیاست‌های شرکت بیمه مورد نظر دارد.",
                                    "_id": "648d5f61e90f39fdf93b9e7d"
                                }
                            ],
                            "timestamp": "2023-06-17T07:23:13.519Z"
                        },
                        {
                            "messageId": "648d610be90f39fdf93b9ef9",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "در بیمه عمر تشکیل سرمایه حداقل حق بیمه در سال چقدر می‌باشد؟",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T07:30:19.697Z"
                        },
                        {
                            "messageId": "648d610be90f39fdf93b9efb",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "dislike",
                            "message": "100 هزار تومان میباشد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "مبلغ حق بیمه در بیمه عمر چقدر است؟",
                                    "answer": "حق بیمه به نسبت توان پرداختی، بیمه گذار تعیین می‌شود، حداقل هایی تعیین شده است ولی نهایتا کاملا دلخواه و به انتخاب بیمه گذار می‌باشد؛ و میدانیم که هر سال هم قابل تغییر می‌باشد. مثال؛ یک شخص با پرداخت ماهیانه 50 هزار، دیگری 100 هزار و دیگری 300 هزار و یا هر مبلغی بیمه نامه خویش را شروع می‌کند، منتها می‌دانیم که مزایا و خدمات بیمه عمر ضریبی از همین پرداختی است؛ پس بهتر است که ما 5 تا 10 درصد درآمد خویش را برای روز سختی (بسیاری از مصادیق روز سختی در بیمه عمر پیش بینی شده است) کنار بگذاریم. \nمثال شخصی که ماهیانه 2 میلیون درآمد دارد؛ پرداختی بین 100 تا 200 هزار تومان را به وی پیشنهاد می‌کنیم؛ حال اگر شخص بتواند این حق بیمه را به صورت سالیانه بپردازد که مسلما از سپرده بیمه نامه‌ی بیشتری بهره خواهد برد",
                                    "_id": "648d610be90f39fdf93b9efc"
                                },
                                {
                                    "question": "حداقل مبلغ حق‌بیمه در بیمه عمر و سرمایه‌گذاری چقدر است؟ \n•",
                                    "answer": "در روش سالانه، حداقل ۲، ۰۰۰، ۰۰۰ ریال\n• در روش شش ماهه، هر قسط حداقل ۱، ۲۰۰، ۰۰۰ ریال\n• در روش سه ماهه، هر قسط حداقل ۷۵۰، ۰۰۰ ریال\n• در روش ماهانه، هر قسط حداقل ۵۰۰، ۰۰۰ ریال\n• در قراردادهای گروهی، میزان حق‌بیمه به‌صورت توافقی است.",
                                    "_id": "648d610be90f39fdf93b9efd"
                                },
                                {
                                    "question": "در بیمه عمر و سرمایه‌گذاری، روش‌های پرداخت حق‌بیمه به چه صورت است و بهترین روش کدام است؟ \n•",
                                    "answer": "یک‌جا برای کل مدت قرارداد، \n• سالانه، \n• شش ماهه، \n• سه ماهه\n• ماهانه. \n• در قراردادهای گروهی، امکان پرداخت حق‌بیمه به صورت کسر از حقوق نیز وجود دارد. \n• بهترین روش خرید بیمه نامه به طریق سالیانه می‌باشد؛ زیرا سود این بیمه نامه روزشمار می‌باشد (سود روزشمار) و همچنین دارای تخفیف نقدی ویژه می‌باشد.",
                                    "_id": "648d610be90f39fdf93b9efe"
                                }
                            ],
                            "timestamp": "2023-06-17T07:30:19.703Z"
                        },
                        {
                            "messageId": "648d6429e90f39fdf93b9f16",
                            "sender": "646b95c039788dbb05fecd37",
                            "recipient": "644ce382fe27fc0e85e84d5a",
                            "isBotsAnswer": false,
                            "react": "",
                            "message": "حق بیمه عمر و تشکیل سرمایه خودم را از چه طریقی می‌توانم پرداخت کنم؟ \n-",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [],
                            "timestamp": "2023-06-17T07:43:37.443Z"
                        },
                        {
                            "messageId": "648d6429e90f39fdf93b9f18",
                            "sender": "644ce382fe27fc0e85e84d5a",
                            "recipient": "646b95c039788dbb05fecd37",
                            "isBotsAnswer": true,
                            "react": "",
                            "message": "روش اول (پرداخت از طریق بانک): شما می‌توانید با استفاده از دفترچه اقساطی که در اختیار شما قرار گرفته و مراجعه به بانک صادرات، اقساط خود را از طریق بانک صادرات پرداخت کنید. \n- روش دوم (پرداخت الکترونیکی): در اسناد بیمه عمر و تشکیل سرمایه شما، جلوی اسمتان، کد بیمه گذار درج شده که همیشه ثابت است. هر ساله یک کد سریال اعلامیه بدهکار هم در اختیار شما قرار می‌گیرد که مربوط به پرداخت‌های همان سال است. شما با مراجعه به بخش پرداخت سررسید که لوگوی آن در وب سایت قرار دارد، با وارد کردن کد بیمه گذار و کد اعلامیه بدهکار می‌توانید اقساط خود را از طریق کارت بانکی عضو شبکه شتاب پرداخت کنید. در این روش یک شماره پیگیری به شما داده می‌شود که حکم رسید پرداخت وجه را نیز دارد.",
                            "chatId": "780947c6-b303-4d86-807d-757617ba19e3",
                            "isMulti": false,
                            "completed": true,
                            "othersQuestions": [
                                {
                                    "question": "در بیمه عمر و سرمایه‌گذاری، روش‌های پرداخت حق‌بیمه به چه صورت است و بهترین روش کدام است؟ \n•",
                                    "answer": "یک‌جا برای کل مدت قرارداد، \n• سالانه، \n• شش ماهه، \n• سه ماهه\n• ماهانه. \n• در قراردادهای گروهی، امکان پرداخت حق‌بیمه به صورت کسر از حقوق نیز وجود دارد. \n• بهترین روش خرید بیمه نامه به طریق سالیانه می‌باشد؛ زیرا سود این بیمه نامه روزشمار می‌باشد (سود روزشمار) و همچنین دارای تخفیف نقدی ویژه می‌باشد.",
                                    "_id": "648d6429e90f39fdf93b9f19"
                                },
                                {
                                    "question": "قرارداد بیمه عمر و سرمایه گذاری خود را چگونه می‌توانم تغییر دهم؟",
                                    "answer": "با توجه به انعطاف ویژه بیمه نامه عمر، بیمه گذار، این اختیار و اجازه را دارد که هر سال، بیمه خود را به هر نحو که بخواهد، آن را تغییر دهد، با مراجعه به یکی از مراکز ارائه خدمات شرکت بیمه (نمایندگی یا شعب) و تکمیل فرم الحاقیه تغییر در مفاد بیمه عمر، این تغییرات قبل از پرداخت قسط اول آن سال بیمه‌ای و پس از ثبت در سیستم، قابل اعمال است. \nنکته: تغییراتی که بار مالی ندارند مثال، تغییر ذینفع، تغییر آدرس، تغییر شغل و … در طول سال بیمه‌ای و هر چند بار، می‌توان تغییر داد. \nنکته: تغییراتی که بار مالی دارند؛ الحاقیه تغییر مفاد از بیمه گذار اخذ میگردد و ثبت سیستمی میشود؛ منتها اعمال آن از سال بیمه‌ای جدید می‌باشد.",
                                    "_id": "648d6429e90f39fdf93b9f1a"
                                },
                                {
                                    "question": "آیا پس از خرید بیمه عمر، می‌توانم در موارد انتخابی خودم تغییراتی ایجاد کنم؟",
                                    "answer": "بله، بسیاری از موارد از قبیل حق بیمه و پوشش‌های بیمه‌ای، روش‌های پرداخت حق بیمه، میزان تعدیل‌های حق بیمه و پوششهای بیمه، نام ذینفعان و درصد سهم هریک از آن‌ها، و اطلاعات تماس شما قابل تغییر خواهند بود.",
                                    "_id": "648d6429e90f39fdf93b9f1b"
                                }
                            ],
                            "timestamp": "2023-06-17T07:43:37.449Z"
                        }
                    ]

                    if (this.historyResponseData.length > 0) {
                        this.mapByJalali = this.historyResponseData.map(item => {
                            item.timestamp = moment(item.timestamp).format('jYYYY/jM/jD')
                            return item
                        })
                        this.groupByJalali = groupItems(this.mapByJalali, 'timestamp'); // array will be grouped by 'date' property
                    }

                    this.today = moment().format('jYYYY/jM/jD')
                    this.utc_date = new Date().toISOString()

                    this.moveToBottom()
                    this.getChatHistoryLoading = false

                }, 3000)

                // this.$api.post(`/api/user/getMessages`, this.historyObj)
                //     .then(response => {
                //
                //         this.historyResponseData = response.data.data
                //
                //         if (this.historyResponseData.length > 0) {
                //             this.mapByJalali = this.historyResponseData.map(item => {
                //                 item.timestamp = moment(item.timestamp).format('jYYYY/jM/jD')
                //                 return item
                //             })
                //             this.groupByJalali = groupItems(this.mapByJalali, 'timestamp'); // array will be grouped by 'date' property
                //
                //             this.today = moment().format('jYYYY/jM/jD')
                //             this.utc_date = new Date().toISOString()
                //
                //             this.moveToBottom()
                //         } else {
                //             this.getChatHistoryLoading = false
                //         }
                //
                //
                //     }).catch(error => {
                //     console.log(error, ' error')
                //     this.responseType = 'error'
                //     this.responseData = error.response.data.message
                //     this.toastTimeOut()
                //
                // })

            },
            sendQuestion() {
                this.botAnswerLoading = true

                this.responseData = null
                this.responseType = null

                this.askObj.category = this.$route.params.slug
                this.askObj.question = this.question

                this.lastQuestion = this.question

                this.historyResponseData.push({
                    isBotsAnswer: false,
                    message: this.question,
                    timestamp: this.today
                })

                this.groupByJalali = groupItems(this.historyResponseData, 'timestamp'); // array will be grouped by 'date' property
                this.moveToBottom()

                this.question = ''
                this.dislikeChecked = false


                setTimeout(() => {
                    this.askResponseData = {
                        "correctQuestion": "مزایای دیگر در بیمه‌های زندگی چیست؟",
                        "correctAnswer": "تشکیل اندوخته از محل حق بیمه پرداختی و یا سایر پرداخت‌ها ی بیمه گذار در طول مدت بیمه نامه\nتضمین سود سرمایه گذاری در بلند مدت\nپرداخت وام از محل اندوخته به بیمه شده پس از گذشت 2 سال از شروع بیمه نامه\nامکان برداشت از اندوخته بیمه نامه\nپرداخت اندوخته بیمه نامه به صورت یکجا و یا به صورت مستمری در پایان مدت بیمه نامه\nپرداخت سود مشارکت در منافع علاوه بر سود تضمین شده بیمه نامه\nبهره مندی از معافیت‌های مالیاتی\nامکان پرداخت حق بیمه به روش‌های یکجا، سالیانه و اقساط: شش ماهه، سه ماهه، دو ماهه و ماهانه\nانتخاب سرمایه بیمه نامه طبق نظر بیمه گذار\nامکان افزایش حق بیمه برای جبران اثرات تورم\nتخصیص سود به صورت روز شمار\nپرداخت سود تشویقی به بیمه گذارانی که اقساط خود را زودتر از موعد مقرر پرداخت نمایند\nامکان حفظ پوشش‌های بیمه‌ای درصورت عدم ادامه پرداخت حق بیمه (از محل اندوخته بیمه نامه)",
                        "others": [
                            {
                                "question": "بیمه اتکایی چیست و در بیمه‌های زندگی چه کاربردی دارد؟",
                                "answer": "یکی از عوامل موفقیت و ماندگاری شرکت‌های بیمه علاوه بر استفاده بهینه از علم آمار و احتمالات، بیمه اتکایی (بیمه مجدد) است. بیمه اتکایی بیمه نمودن مجدد ریسک‌های بیمه شده نزد بیمه‌گران اتکایی می‌باشد. \nبه زبان ساده بیمه اتکایی ابزاری برای توزیع ریسک در سطح ملی و جهانی بیمه‌ای است. در بیمه‌های زندگی کلیه شرکت‌‌های بیمه موظفند 20 درصد حق بیمه‌های پرداخت شده توسط بیمه‌گذار را نزد بیمه مرکزی جمهوری اسلامی ایران به عنوان حق بیمه اتکایی پرداخت نمایند. لذا بیمه‌‍مرکزی ج. ا. ا. در مقابل دریافت قسمتی از حق بیمه‌های شرکت‌های بیمه، متعهد می‌شود خسارت‌های احتمالی مربوط به بیمه‌نامه یابیمه‌نامه‌های صادره توسط شرکت بیمه طرف قرارداد را جبران نماید."
                            },
                            {
                                "question": "شرایط معافیت از پرداخت حق بیمه در بیمه نامه‌های زندگی چگونه است؟",
                                "answer": "در صورت ازکارافتادگی کامل، بیمه گذار از پرداخت مابقی اقساط بیمه نامه معاف می‌باشد."
                            },
                            {
                                "question": "پرسشهایی از قبیل سن، اعضای خانواده و وضعیت سلامتی بیمه شده در بیمه‌های عمر برای چیست؟",
                                "answer": "اساس قرار داد پرسش هایی است که درون پرسشنامه مطرح شده و هر یک از سوالات مطرح شده در نرخ حق بیمه تا ثیر گزار می‌باشد. مثلا سلامت یا عدم سلامت اعضای درجه یک خانواده از نظر وراثتی از طرف پزشک معتمد شرکت بیمه‌گر بررسی و نرخ متناسب با آن پیشنهاد می‌شود از این روست که نرخ دهی در بیمه اشخاص تقریبی است و نرخ نهایی بعد از نظریه پزشک اعلام می‌گردد."
                            }
                        ],
                        "ids": {
                            "botMessageId": "649045ebf130869744a13ac5",
                            "userMessageId": "649045ebf130869744a13ac3"
                        }
                    }
                    this.historyResponseData = this.historyResponseData.map(item => {
                        item.askReact = false
                        return item
                    })

                    this.historyResponseData.push({
                        isBotsAnswer: true,
                        message: this.askResponseData.correctAnswer,
                        timestamp: this.today,
                        askReact: true,
                        botMessageId: this.askResponseData.ids.botMessageId,
                        react: ''
                    })
                    if (this.askResponseData.others && this.askResponseData.others.length > 0) {
                        this.otherQuestionList = this.askResponseData.others
                    } else {
                        this.otherQuestionList = []
                    }

                    this.groupByJalali = groupItems(this.historyResponseData, 'timestamp'); // array will be grouped by 'date' property

                    this.moveToBottom()
                    this.botAnswerLoading = false

                }, 3000)

                // this.$api.post(`/api/user/ask`, this.askObj)
                //     .then(response => {
                //
                //         this.askResponseData = response.data.data
                //
                //         this.historyResponseData = this.historyResponseData.map(item => {
                //             item.askReact = false
                //             return item
                //         })
                //
                //         this.historyResponseData.push({
                //             isBotsAnswer: true,
                //             message: this.askResponseData.correctAnswer,
                //             timestamp: this.today,
                //             askReact: true,
                //             botMessageId: this.askResponseData.ids.botMessageId,
                //             react: ''
                //         })
                //         if (this.askResponseData.others && this.askResponseData.others.length > 0) {
                //             this.otherQuestionList = this.askResponseData.others
                //         } else {
                //             this.otherQuestionList = []
                //         }
                //
                //         this.groupByJalali = groupItems(this.historyResponseData, 'timestamp'); // array will be grouped by 'date' property
                //
                //         this.moveToBottom()
                //         this.botAnswerLoading = false
                //
                //
                //     }).catch(error => {
                //     this.botAnswerLoading = false
                //     this.responseType = 'error'
                //     this.responseData = error.response.data.message
                //     console.log(this.responseData, '  this.responseData')
                //     this.toastTimeOut()
                //
                // })


            },
            selectQuestion(value) {
                this.question = value
                this.sendQuestion()
            },
            moveToBottom() {
                setTimeout(() => {
                    this.sendQuestionHeight = this.$refs['sendQuestion'].getBoundingClientRect().height

                    this.mobileNavigationHeight = parseInt(localStorage.getItem('mobileNavigationHeight'))

                    this.selectedCategoryHeight = parseInt(localStorage.getItem('selectedCategoryHeight'))

                    if (window.innerWidth < 768) {


                        // this.$refs['chatHistory'].style.maxHeight = `calc(100dvh - ${this.chatHeight +20}px)`
                        this.topHeight = this.mobileNavigationHeight + this.selectedCategoryHeight

                        if (this.sendQuestionHeight === 0) {
                            this.bottomHeight = 100
                        } else {
                            this.bottomHeight = this.sendQuestionHeight
                        }


                        this.chatHeight = window.innerHeight - (this.mobileNavigationHeight + this.selectedCategoryHeight + 0) - 10

                        setTimeout(() => {
                            window.scrollTo({top: document.body.scrollHeight, left: 0})
                        }, 200)

                    } else {
                        this.chatHeight = window.innerHeight - (this.selectedCategoryHeight + 0) - 130

                        this.$refs['chatHistory'].style.maxHeight = this.chatHeight + 'px'
                        setTimeout(() => {
                            this.$refs['chatHistory'].scrollTop = this.$refs['chatHistory'].scrollHeight
                        }, 200)
                    }


                    this.getChatHistoryLoading = false
                }, 200)
            },
            submitNoneQuestion() {
                this.botAnswerLoading = true
                this.moveToBottom()

                this.noneQuestionObj.question = this.lastQuestion
                this.noneQuestionObj.category = this.$route.params.slug

                setTimeout(() => {
                    this.botAnswerLoading = false
                    this.dislikeChecked = false
                    this.historyResponseData.push({
                        isBotsAnswer: true,
                        message: 'در اسرع وقت پاسخ داده خواهد شد.',
                        timestamp: this.today
                    })
                    this.groupByJalali = groupItems(this.historyResponseData, 'timestamp'); // array will be grouped by 'date' property
                    this.moveToBottom()

                    this.otherQuestionInput = ''
                }, 3000)

                // this.$api.post(`/api/user/submitNoneQuestion`, this.noneQuestionObj)
                //     .then(response => {
                //         this.botAnswerLoading = false
                //         this.dislikeChecked = false
                //
                //         // if (response.data.success) {
                //         //     this.responseType = 'success'
                //         // } else {
                //         //     this.responseType = 'error'
                //         // }
                //         // this.responseData = response.data.message.message
                //         // this.toastTimeOut()
                //         this.historyResponseData.push({
                //             isBotsAnswer: true,
                //             message: response.data.message.message,
                //             timestamp: this.today
                //         })
                //         this.groupByJalali = groupItems(this.historyResponseData, 'timestamp'); // array will be grouped by 'date' property
                //         this.moveToBottom()
                //
                //         this.otherQuestionInput = ''
                //
                //     }).catch(error => {
                //     this.botAnswerLoading = false
                //
                //     console.log(error, ' error')
                //     this.responseType = 'error'
                //     this.responseData = error.response.data.message
                //     this.toastTimeOut()
                // })
            }
        }
    }
</script>

<style scoped>

</style>