<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <modal :show-modal="createModalVisible"
           :item="modalData"
           @closeModal="closeCreateModal">
        <template v-slot:header>
            <div class="hidden md:flex items-first mb-4">
                <label for="message"
                       class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                </label>
                <select-options placeholder="انتخاب دسته بندی"
                                :selected="selected_filter_obj"
                                :selectable="insuranceCategories"
                                side="right"
                                @selectedObj="selectedFilterObj"></select-options>
            </div>
            <div class="flex items-center justify-end w-full md:w-auto">

                <button-component type="submit"
                                  :loading="createQuestionsLoading"
                                  text="ثبت"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="createQuestion">

                </button-component>

                <button-component type="button"
                                  @click="closeCreateModal()"
                                  text="انصراف"
                                  txt-color="text-[#2131BA]"
                                  custom-style="border-2 border-[#2131BA] flex items-center  px-2 py-1 text-xs">
                </button-component>

            </div>
        </template>
        <template v-slot:body>

            <div class="flex flex-col">

                <div class="flex md:hidden items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                    </label>
                    <select-options placeholder="انتخاب دسته بندی"
                                    :selected="selected_filter_obj"
                                    :selectable="insuranceCategories"
                                    side="right"
                                    @selectedObj="selectedFilterObj"></select-options>
                </div>

                <div class="flex items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                        پرسش:
                    </label>
                    <input type="text"
                           v-model="question"
                           class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none placeholder:text-xs  rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-400 focus:border-indigo-400 focus:outline-none"
                           placeholder="پرسش مورد نظر را وارد نمایید."/>
                </div>

                <div class="flex items-first">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        پاسخ:
                    </label>
                    <textarea id="message" rows="4"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg placeholder:text-xs placeholder:text-gray-400 border border-gray-300 focus:border-indigo-400 focus:outline-none"
                              v-model="answer"
                              placeholder="پاسخ مورد نظر را وارد نمایید.">{{ answer }}</textarea>
                </div>
            </div>
        </template>
    </modal>
</template>

<script>
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "CreateQuestion",
    data() {
        return {
            createQuestionsLoading: false,
            createQuestionsObj: {},

            responseData: null,
            responseType: null,
            question: '',
            answer: '',

            selected_filter_obj: {}
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['displayToast','insuranceCategories'])
    },
    props: ['createModalVisible', 'modalData'],
    methods: {
        ...mapActions(useGlobalStore, ['toastTimeOut']),
        closeCreateModal() {
            this.question = ''
            this.answer = ''
            this.selected_filter_obj = {}

            this.$emit('closeModal', false)
        },
        selectedFilterObj(selectedObj) {
            this.createQuestionsObj.category = selectedObj.value
            this.selected_filter_obj = selectedObj
        },
        createQuestion() {
            // this.responseData = null
            // this.responseType = null
            //
            //
            // this.createQuestionsLoading = true
            //
            // this.createQuestionsObj.q = this.question
            // this.createQuestionsObj.a = this.answer
            //
            // this.$api.post(`/api/admin/faqs/createFaq`, this.createQuestionsObj)
            //     .then(response => {
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //         this.responseData = response.data.message
            //
            //         this.createQuestionsResponseData = response.data.data
            //         this.toastTimeOut()
            //
            //         this.createQuestionsLoading = false
            //         this.closeCreateModal()
            //
            //     }).catch(error => {
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //
            //     this.toastTimeOut()
            //
            //     this.createQuestionsLoading = false
            //     console.log(error, ' error')
            //
            // })
        },
    }
}
</script>

<style scoped>

</style>