<template>
    <svg class="rounded-full"
         width="28"
         height="28"
         viewBox="0 0 28 28"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M14 26.5C20.9037 26.5 26.5 20.9037 26.5 14C26.5 7.09625 20.9037 1.5 14 1.5C7.09625 1.5 1.5 7.09625 1.5 14C1.5 20.9037 7.09625 26.5 14 26.5Z"
              stroke="#FF1313"
              fill="#fff"
              stroke-width="2.5"
              stroke-linejoin="round"/>
        <path d="M17.5356 10.4644L10.4644 17.5356M10.4644 10.4644L17.5356 17.5356"
              stroke="#FF1313"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
    </svg>
</template>

<script>
export default {
    name: "EmptyDislike"
}
</script>

<style scoped>

</style>