<template>
    <svg class="rounded-full bg-[#fff]"
         width="28"
         height="28"
         viewBox="0 0 28 28"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M13.75 0C11.0305 0 8.37209 0.806423 6.11091 2.31729C3.84974 3.82816 2.08737 5.97562 1.04666 8.4881C0.00595765 11.0006 -0.266338 13.7652 0.264209 16.4325C0.794755 19.0997 2.10432 21.5497 4.02729 23.4727C5.95026 25.3957 8.40027 26.7052 11.0675 27.2358C13.7348 27.7663 16.4994 27.494 19.0119 26.4533C21.5244 25.4126 23.6718 23.6503 25.1827 21.3891C26.6936 19.1279 27.5 16.4695 27.5 13.75C27.5 11.9443 27.1443 10.1563 26.4533 8.4881C25.7623 6.81987 24.7495 5.30409 23.4727 4.02728C22.1959 2.75048 20.6801 1.73766 19.0119 1.04666C17.3437 0.355654 15.5557 0 13.75 0ZM13.75 24.75C11.5744 24.75 9.44767 24.1049 7.63873 22.8962C5.82979 21.6875 4.41989 19.9695 3.58733 17.9595C2.75477 15.9495 2.53693 13.7378 2.96137 11.604C3.38581 9.47021 4.43345 7.5102 5.97183 5.97182C7.51021 4.43345 9.47022 3.3858 11.604 2.96136C13.7378 2.53692 15.9495 2.75476 17.9595 3.58732C19.9695 4.41989 21.6875 5.82979 22.8962 7.63873C24.1049 9.44767 24.75 11.5744 24.75 13.75C24.75 16.6674 23.5911 19.4653 21.5282 21.5282C19.4653 23.5911 16.6674 24.75 13.75 24.75Z"
              fill="#27AE60"/>
        <path d="M17.0015 9.49505L12.2765 15.745L10.239 13.1075C10.0351 12.8456 9.7355 12.6755 9.40614 12.6344C9.07678 12.5934 8.74461 12.6849 8.48271 12.8888C8.22081 13.0927 8.05062 13.3923 8.0096 13.7216C7.96858 14.051 8.06007 14.3831 8.26396 14.645L11.3015 18.5325C11.4192 18.6815 11.5693 18.8017 11.7404 18.884C11.9115 18.9663 12.0991 19.0086 12.289 19.0075C12.4799 19.0071 12.6681 18.9629 12.8393 18.8784C13.0105 18.7939 13.16 18.6713 13.2765 18.52L18.989 11.02C19.1912 10.7548 19.2798 10.4201 19.2352 10.0896C19.1907 9.75907 19.0167 9.45977 18.7515 9.25754C18.4862 9.05532 18.1516 8.96673 17.821 9.01127C17.4905 9.05581 17.1912 9.22983 16.989 9.49505H17.0015Z"
              fill="#27AE60"/>
    </svg>
</template>

<script>
export default {
    name: "EmptyLike"
}
</script>

<style scoped>

</style>