<template>
  <!-- loader -->
    <div class="fixed w-full h-full top-0 left-0 bg-[#fff] opacity-75 z-50">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-7 h-7 border-b-2 border-gray-900 rounded-full animate-spin"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Loading"
}
</script>

<style scoped>

</style>