<template>
    <div class="h-full w-full md:overflow-y-auto dir-ltr">

        <div class="h-[100px]">
            <h3 class="font-bold p-4 pb-1 text-primary-700">دسته بندی ها</h3>

            <div class="px-3 mb-3">
                <div class="bg-[#F6F8FF] relative mt-3 rounded-xl w-full z-10">
                    <input type="text"
                           v-model="searchCategory"
                           class="bg-[#F6F8FF] rounded-xl w-full px-3 py-2 border border-[#D0D0D0] outline-none focus:outline-none focus:border-[#2131BA] transition-all"
                           @keyup="searchItems($event)"/>
                    <img src="@/assets/img/search.png"
                         class="absolute left-[10px] top-[10px]"/>
                </div>
            </div>
        </div>

        <ul class="h-[calc(100vh - 100px)]"
            :class="(insuranceCategories.length > 10 ? 'md:overflow-y-auto': '')">
            <li v-for="cat in insuranceCategories"
                ref="insurance"
                class="w-full hover:text-[#2131BA] hover:border-l border-l-[#2131BA] transition-all"
                :class="[($route.params.slug && $route.params.slug === cat.categoryLabel) ? 'border-l' : ''
                        ,(cat === insuranceCategories[insuranceCategories.length - 1]) ? '' : 'border-b border-[#D0D0D0]' ]">
                <NuxtLink class="w-full cursor-pointer flex items-center p-2"
                          @click="changeCategory(cat)">
                    <div class="rounded-full w-[50px] h-[50px] ml-3 flex items-center justify-center">
                        <img :src="`/img/insurances/${cat.categoryLabel}.svg`"
                             class="w-max h-max"
                             :alt="cat.categoryLabel"/>
                    </div>
                    <div class="h-full">
                        <span class="text-sm w-full"
                              :class="($route.params.slug && $route.params.slug === cat.categoryLabel) ? 'text-[#2131BA]' : ''">{{
                            cat.categoryPersianLabel
                            }}</span>
                    </div>
                </NuxtLink>
            </li>
        </ul>
    </div>
</template>

<script>
import {useGlobalStore} from '@/stores/global'
import {mapActions, mapState} from "pinia"
export default {
    name: "Insurances",
    data() {
        return {
            searchCategory: '',
            insurance_images: [],
            role: ''
        }
    },
    created() {
        // if (JSON.parse(localStorage.getItem('userInfo'))) {
        if (this.$route.path.includes('/user')) {
            this.getInsuranceCategories('user')
        } else if (this.$route.path.includes('/admin')) {
            this.getInsuranceCategories('admin')
        }
        // }
    },
    computed: {
        ...mapState(useGlobalStore, ['insuranceCategories'])
    },
    methods: {
        ...mapActions(useGlobalStore, ['getInsuranceCategories', 'setFullLoading']),
        changeCategory(value) {

            this.setFullLoading(true)

            setTimeout(() => {
                this.setFullLoading(false)
                if (this.$route.path.includes('/user')) {
                    localStorage.setItem('selected_user_insurance', JSON.stringify(value))
                    this.$router.push(`/user/insurance-categories/${value.categoryLabel}`)
                } else if (this.$route.path.includes('/admin')) {
                    localStorage.setItem('selected_admin_insurance', JSON.stringify(value))
                    this.$router.push(`/admin/insurance-categories/${value.categoryLabel}`)
                }
            }, 200);


        },
        searchItems(event) {
            // Declare variables
            var input, li, span, i, txtValue
            input = event.target.value
            // filter = input.toUpperCase()
            li = this.$refs['insurance']

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                span = li[i].getElementsByTagName('span')[0]
                txtValue = span.textContent || span.innerText
                if (txtValue.indexOf(input) > -1) {
                    // li[i].style.display = ''
                    li[i].classList.remove('hidden')
                } else {
                    // li[i].style.display = 'none'
                    li[i].classList.add('hidden')
                }
            }

            // if (input.length === 0) {
            //   this.currentLI = 0
            // }
        },
    }
}
</script>

<style scoped>

</style>
