<template>
    <div class="flex flex-row-reverse mb-4 justify-start px-5">
        <div class="w-full max-w-[75px] shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-sm py-4 px-4 bg-[#fff] text-[#000] rounded-br-xl rounded-tr-xl rounded-tl-xl">
            <div class="typing relative mb-3">
                <span class="typing-span"></span>
                <span class="typing-span"></span>
                <span class="typing-span"></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IsTyping"
    }
</script>

<style scoped>

</style>