<template>
  <!-- loader -->
    <div class="w-4 h-4 border-b-2 border-gray-900 rounded-full animate-spin"></div>
</template>

<script>
export default {
    name: "Loading"
}
</script>

<style scoped>

</style>