<template>
    <create-question :create-modal-visible="createModalVisible"
                     @closeModal="closeCreateModal"></create-question>

    <div class="md:static fixed top-0 w-full md:hidden flex items-center justify-between p-3 z-[12] bg-[#fff]"
         ref="mobileNavigation">
        <img src="@/assets/img/parsian.png"
             class="h-10"
             alt="parsian"/>
        <button class="outline-none mobile-menu-button"
                @click="toggle">
            <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.8 8H1.2C0.0959999 8 0 8.894 0 10C0 11.106 0.0959999 12 1.2 12H26.8C27.904 12 28 11.106 28 10C28 8.894 27.904 8 26.8 8ZM26.8 16H1.2C0.0959999 16 0 16.894 0 18C0 19.106 0.0959999 20 1.2 20H26.8C27.904 20 28 19.106 28 18C28 16.894 27.904 16 26.8 16ZM1.2 4H26.8C27.904 4 28 3.106 28 2C28 0.894 27.904 0 26.8 0H1.2C0.0959999 0 0 0.894 0 2C0 3.106 0.0959999 4 1.2 4Z"
                      fill="#545454"/>
            </svg>
        </button>
    </div>

    <div v-if="drawerIsOpen"
         @click="toggle"
         class="overlay fixed h-full w-full left-0 top-0 bg-[#000] bg-opacity-50 z-[11]"></div>
    <aside class="transform bottom-0 left-0 bg-white fixed w-full h-max overflow-auto ease-in-out transition-all duration-300 z-30 bg-[#fff] rounded-t-2xl"
           :class="drawerIsOpen ? 'translate-y-0' : 'translate-y-full'">
        <ul class="py-4">
            <li class="px-5 py-2 flex items-center cursor-pointer transition-all [&_path:first-child]:hover:stroke-primary-700 [&_path:last-child]:hover:stroke-primary-700 [&_span]:hover:text-primary-700"
                @click="goToHome">
                <button class="w-6 h-6 flex items-center justify-center transition-all">
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.625 9.96777V22.874C3.625 23.1061 3.71719 23.3286 3.88128 23.4927C4.04538 23.6568 4.26794 23.749 4.5 23.749H9.75V16.3115C9.75 15.9634 9.88828 15.6296 10.1344 15.3834C10.3806 15.1373 10.7144 14.999 11.0625 14.999H15.4375C15.7856 14.999 16.1194 15.1373 16.3656 15.3834C16.6117 15.6296 16.75 15.9634 16.75 16.3115V23.749H22C22.2321 23.749 22.4546 23.6568 22.6187 23.4927C22.7828 23.3286 22.875 23.1061 22.875 22.874V9.96777"
                              stroke="#ADA8A8" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.5 12.374L13.8455 1.21779C13.5721 0.929045 12.9328 0.925763 12.6545 1.21779L1 12.374M21.125 8.16311V1.87404H18.5V5.64748"
                              stroke="#ADA8A8" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <span class="text-sm text-[#191919] mr-4">خانه</span>
            </li>
            <li v-if="!$route.path.includes('/developer')"
                class="px-5 py-2 flex items-center cursor-pointer [&_path:first-child]:hover:stroke-primary-700 [&_path:last-child]:hover:fill-primary-700 [&_span]:hover:text-primary-700 transition-all"
                @click="goToProfile">
                <button class="w-6 h-6 flex items-center justify-center transition-all">
                    <svg width="26"
                         height="26"
                         viewBox="0 0 26 26"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25 12.9972C25.004 15.3796 24.2954 17.7087 22.9653 19.6852C21.8685 21.3212 20.3854 22.6616 18.6473 23.5881C16.9092 24.5146 14.9696 24.9986 13 24.9972C11.0304 24.9986 9.09078 24.5146 7.35268 23.5881C5.61457 22.6616 4.13153 21.3212 3.03467 19.6852C1.99031 18.1284 1.3252 16.3486 1.09267 14.4885C0.860146 12.6283 1.06666 10.7396 1.69566 8.9736C2.32467 7.20764 3.35866 5.61361 4.71476 4.31929C6.07085 3.02497 7.71133 2.06637 9.50468 1.52034C11.298 0.974298 13.1944 0.856011 15.0417 1.17496C16.889 1.49391 18.6358 2.24121 20.1423 3.35698C21.6487 4.47274 22.8728 5.92592 23.7164 7.60002C24.5599 9.27413 24.9996 11.1226 25 12.9972Z"
                              stroke="#ADA8A8" stroke-width="1.875"/>
                        <path d="M14.6668 8.99723C14.6668 9.91723 13.9201 10.6639 13.0001 10.6639V12.6639C13.9726 12.6639 14.9052 12.2776 15.5928 11.59C16.2805 10.9023 16.6668 9.96969 16.6668 8.99723H14.6668ZM13.0001 10.6639C12.0801 10.6639 11.3334 9.91723 11.3334 8.99723H9.33344C9.33344 9.96969 9.71975 10.9023 10.4074 11.59C11.095 12.2776 12.0276 12.6639 13.0001 12.6639V10.6639ZM11.3334 8.99723C11.3334 8.07723 12.0801 7.33057 13.0001 7.33057V5.33057C12.0276 5.33057 11.095 5.71687 10.4074 6.40451C9.71975 7.09214 9.33344 8.02477 9.33344 8.99723H11.3334ZM13.0001 7.33057C13.9201 7.33057 14.6668 8.07723 14.6668 8.99723H16.6668C16.6668 8.02477 16.2805 7.09214 15.5928 6.40451C14.9052 5.71687 13.9726 5.33057 13.0001 5.33057V7.33057ZM3.8881 20.8052L2.92944 20.5199L2.77344 21.0426L3.12944 21.4559L3.8881 20.8052ZM22.1121 20.8052L22.8721 21.4572L23.2268 21.0439L23.0708 20.5199L22.1121 20.8052ZM9.0001 17.9972H17.0001V15.9972H9.0001V17.9972ZM9.0001 15.9972C7.63623 15.9973 6.30879 16.4375 5.21508 17.2523C4.12137 18.0671 3.31977 19.2131 2.92944 20.5199L4.84677 21.0906C5.11415 20.1968 5.66268 19.413 6.41091 18.8557C7.15914 18.2985 8.06715 17.9974 9.0001 17.9972V15.9972ZM13.0001 23.9972C11.4127 23.9991 9.84372 23.6564 8.40155 22.993C6.95938 22.3296 5.67832 21.3612 4.64677 20.1546L3.12944 21.4559C4.34872 22.8812 5.86256 24.0265 7.56662 24.8103C9.27068 25.5941 11.1244 25.999 13.0001 25.9972V23.9972ZM17.0001 17.9972C18.9601 17.9972 20.6201 19.3012 21.1534 21.0906L23.0708 20.5199C22.6804 19.2131 21.8788 18.0671 20.7851 17.2523C19.6914 16.4375 18.364 15.9973 17.0001 15.9972V17.9972ZM21.3534 20.1546C20.3219 21.3612 19.0408 22.3296 17.5987 22.993C16.1565 23.6564 14.5875 23.9991 13.0001 23.9972V25.9972C14.8758 25.999 16.7295 25.5941 18.4336 24.8103C20.1376 24.0265 21.6528 22.8825 22.8721 21.4572L21.3534 20.1546Z"
                              fill="#ADA8A8"/>
                    </svg>
                </button>
                <span class="text-sm text-[#191919] mr-4">اطلاعات کاربری</span>
            </li>
            <li v-if="$route.path.includes('/admin')"
                class="px-5 py-2 flex items-center cursor-pointer [&_path:first-child]:hover:fill-primary-700 [&_span]:hover:text-primary-700 transition-all"
                @click="goToNoAnswers">
                <button class="w-6 h-6 flex items-center justify-center transition-all">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.6 17.6226H6.4V16.8559H5.6V17.6226ZM5.6 22.2195H4.8C4.8 22.3619 4.84137 22.5015 4.91948 22.6226C4.99759 22.7437 5.10934 22.8416 5.24223 22.9053C5.37511 22.9689 5.52388 22.9959 5.67184 22.9831C5.81981 22.9703 5.96114 22.9183 6.08 22.8329L5.6 22.2195ZM12 17.6226V16.8559H11.7328L11.52 17.0093L12 17.6226ZM7.2 6.12873H6.4V7.66207H7.2V6.12873ZM16.8 7.66207H17.6V6.12873H16.8V7.66207ZM7.2 10.7257H6.4V12.259H7.2V10.7257ZM13.6 12.259H14.4V10.7257H13.6V12.259ZM4.8 17.6226V22.2195H6.4V17.6226H4.8ZM6.08 22.8329L12.48 18.2359L11.52 17.0093L5.12 21.6062L6.08 22.8329ZM12 18.3893H21.6V16.8559H12V18.3893ZM21.6 18.3893C22.9264 18.3893 24 17.3619 24 16.0893H22.4C22.4 16.514 22.0432 16.8559 21.6 16.8559V18.3893ZM24 16.0893V2.3H22.4V16.0908H24V16.0893ZM24 2.3C24 1.02733 22.9264 0 21.6 0V1.53333C22.0432 1.53333 22.4 1.87527 22.4 2.3H24ZM21.6 0H2.4V1.53333H21.6V0ZM2.4 0C1.0736 0 0 1.02733 0 2.3H1.6C1.6 1.87527 1.9568 1.53333 2.4 1.53333V0ZM0 2.3V16.0893H1.6V2.3H0ZM0 16.0893C0 17.3619 1.0736 18.3893 2.4 18.3893V16.8559C2.29488 16.8561 2.19076 16.8364 2.0936 16.798C1.99645 16.7595 1.90817 16.7031 1.83384 16.6318C1.75952 16.5606 1.7006 16.476 1.66047 16.3829C1.62034 16.2898 1.59979 16.19 1.6 16.0893H0ZM2.4 18.3893H5.6V16.8559H2.4V18.3893ZM7.2 7.66207H16.8V6.12873H7.2V7.66207ZM7.2 12.259H13.6V10.7257H7.2V12.259Z"
                              fill="#ADA8A8"/>
                    </svg>
                </button>
                <span class="text-sm text-[#191919] mr-4">سوالات بی پاسخ</span>
            </li>

            <li v-if="$route.path.includes('/admin')"
                class="px-5 py-2 flex items-center cursor-pointer [&_path:first-child]:hover:fill-primary-700 [&_span]:hover:text-primary-700 transition-all"
                @click="openCreateModal">
                <button class="w-6 h-6 flex items-center justify-center transition-all">
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_261_2396" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                              width="26" height="24">
                            <path d="M13.1934 22.55C19.2657 22.55 24.188 17.9611 24.188 12.3C24.188 6.63897 19.2657 2.05005 13.1934 2.05005C7.12116 2.05005 2.19891 6.63897 2.19891 12.3C2.19891 17.9611 7.12116 22.55 13.1934 22.55Z"
                                  fill="white"
                                  stroke="white" stroke-width="2.5" stroke-linejoin="round"/>
                            <path d="M13.1934 8.19995V16.4M8.79562 12.3H17.5912" stroke="black" stroke-width="2.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </mask>
                        <g mask="url(#mask0_261_2396)">
                            <path d="M0 0H26.3869V24.6H0V0Z" fill="#ADA8A8"/>
                        </g>
                    </svg>

                </button>
                <span class="text-sm text-[#191919] mr-4">ایجاد سوال جدید</span>


            </li>

            <li class="px-5 py-2 flex items-center cursor-pointer [&_path]:hover:fill-primary-700 [&_span]:hover:text-primary-700 transition-all"
                @click="logoutAction">
                <button
                    class="w-6 h-6 flex items-center justify-center transition-all">
                    <svg width="31"
                         height="30"
                         viewBox="0 0 31 30"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4999 29.583C15.1684 29.583 14.8505 29.4513 14.616 29.2169C14.3816 28.9825 14.2499 28.6645 14.2499 28.333C14.2499 28.0015 14.3816 27.6835 14.616 27.4491C14.8505 27.2147 15.1684 27.083 15.4999 27.083C18.7046 27.083 21.7781 25.8099 24.0441 23.5439C26.3102 21.2778 27.5833 18.2044 27.5833 14.9997C27.5833 11.795 26.3102 8.72153 24.0441 6.45547C21.7781 4.1894 18.7046 2.91634 15.4999 2.91634C15.1684 2.91634 14.8505 2.78465 14.616 2.55022C14.3816 2.3158 14.2499 1.99786 14.2499 1.66634C14.2499 1.33482 14.3816 1.01688 14.616 0.782455C14.8505 0.548035 15.1684 0.41634 15.4999 0.41634C19.3677 0.41634 23.077 1.95279 25.8119 4.6877C28.5468 7.4226 30.0833 11.1319 30.0833 14.9997C30.0833 18.8674 28.5468 22.5767 25.8119 25.3116C23.077 28.0466 19.3677 29.583 15.4999 29.583Z"
                              fill="#ADA8A8"/>
                        <path d="M8.04992 19.1164C8.27072 19.3533 8.39092 19.6667 8.38521 19.9906C8.3795 20.3144 8.24831 20.6234 8.01929 20.8524C7.79027 21.0814 7.48129 21.2126 7.15745 21.2183C6.83362 21.224 6.52021 21.1038 6.28325 20.883L1.28325 15.883C1.04917 15.6486 0.917685 15.3309 0.917685 14.9997C0.917685 14.6684 1.04917 14.3507 1.28325 14.1164L6.28325 9.11635C6.39769 8.99354 6.53569 8.89504 6.68902 8.82672C6.84235 8.7584 7.00788 8.72166 7.17571 8.7187C7.34355 8.71574 7.51027 8.74661 7.66591 8.80948C7.82156 8.87235 7.96295 8.96592 8.08165 9.08462C8.20035 9.20332 8.29392 9.34471 8.35679 9.50036C8.41966 9.656 8.45053 9.82272 8.44757 9.99056C8.44461 10.1584 8.40787 10.3239 8.33955 10.4772C8.27123 10.6306 8.17273 10.7686 8.04992 10.883L5.18325 13.7497L18.8333 13.7497C19.1648 13.7497 19.4827 13.8814 19.7171 14.1158C19.9516 14.3502 20.0833 14.6682 20.0833 14.9997C20.0833 15.3312 19.9516 15.6491 19.7171 15.8836C19.4827 16.118 19.1648 16.2497 18.8333 16.2497H5.18325L8.04992 19.1164Z"
                              fill="#ADA8A8"/>
                    </svg>
                </button>
                <span class="text-sm text-[#191919] mr-4">خروج</span>
            </li>
        </ul>
    </aside>

</template>

<script>
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "MobileNavigation",
    data() {
        return {
            homeActive: false,
            profileActive: false,
            suggestionActive: false,
            role: '',

            createModalVisible: false,
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['drawerIsOpen'])
    },
    mounted() {
        this.setMobileNavigationHeight(this.$refs['mobileNavigation'].getBoundingClientRect().height)
    },
    methods: {
        ...mapActions(useGlobalStore, ['toggleDrawer', 'closeDrawer',
            'logout', 'setMobileNavigationHeight',
            'navigateToDashboard', 'navigateToProfile', 'navigateToNoAnswers']),
        toggle() {
            this.toggleDrawer()
        },
        goToHome() {
            this.navigateToDashboard()
            this.closeDrawer()
        },
        goToProfile() {
            this.navigateToProfile()
            this.closeDrawer()
        },
        goToNoAnswers() {
            this.navigateToNoAnswers()
            this.closeDrawer()
        },
        logoutAction() {
            this.logout()
        },
        openCreateModal() {
            this.createModalVisible = true
            this.closeDrawer()
        },
        closeCreateModal(value) {
            this.createModalVisible = value
        },


    }
}
</script>

<style scoped>

</style>