<template>
    <div>
        <div v-if="showModal"
             class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
            <div class="relative my-6 mx-4"
                 :class="modalWidth">
                <!--content-->
                <div class="border-0 rounded-lg shadow-lg relative flex flex-col bg-[#fff] outline-none focus:outline-none"
                     :class="modalWidth">
                    <!--header-->
                    <div class="flex items-start justify-between rounded-t">
                        <div class="flex items-center justify-between w-full p-5 pb-2">

                            <button class="absolute top-7 text-red-500 bg-transparent font-bold uppercase text-sm rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button" @click="closeModal()">
                                <img src="@/assets/img/close.png"
                                     alt="close"
                                     class="w-3 h-3"/>
                            </button>

                            <slot name="header"/>

                        </div>
                    </div>

                    <!--body-->

                    <div class="relative px-6 pb-6 flex-auto">

                        <slot name="body"/>

                    </div>

                </div>
            </div>
        </div>
        <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-[#000]"></div>
    </div>
</template>

<script>
import {mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "ModalComponent",
    props: ['showModal', 'type', 'item'],
    data() {
        return {
            questionValue: ''
        }
    },
    computed: {

        ...mapState(useGlobalStore, ['isMobile', 'device']),

        modalWidth() {
            if (this.device === 'lg') {
                if (this.type === 'delete') {
                    return 'w-[20rem]'
                } else {
                    return 'w-[70rem]'
                }
            } else {
                return 'w-full'
            }
        }
    },
    methods: {
        closeModal() {
            this.$emit('closeModal', false)
        }
    }
}
</script>

<style scoped>

</style>