<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

  <!--  edit modal  -->
    <modal :show-modal="editModalVisible"
           :item="modalData"
           @closeModal="closeEditModal">
        <template v-slot:header>
            <div class="hidden md:flex items-first mb-4">
                <label for="message"
                       class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                </label>
                <select-options placeholder="انتخاب دسته بندی"
                                :selected="selected_category_obj"
                                :selectable="insuranceCategories"
                                side="right"
                                @selectedObj="selectedObj"></select-options>
            </div>
            <div class="flex items-center justify-end w-full md:w-auto">

                <button-component type="submit"
                                  :loading="editQuestionsLoading"
                                  text="ذخیره تغییرات"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="editOtherQuestion">

                </button-component>

                <button-component type="button"
                                  @click="closeEditModal()"
                                  text="انصراف"
                                  txt-color="text-[#2131BA]"
                                  custom-style="border-2 border-[#2131BA] flex items-center  px-2 py-1 text-xs">
                </button-component>
            </div>
        </template>
        <template v-slot:body>

            <div class="flex flex-col">

                <div class="flex md:hidden items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                    </label>
                    <select-options placeholder="انتخاب دسته بندی"
                                    :selected="selected_category_obj"
                                    :selectable="insuranceCategories"
                                    side="right"
                                    @selectedObj="selectedObj"></select-options>
                </div>

                <div class="flex items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                        پرسش:
                    </label>
                    <input type="text"
                           v-model="editedQuestion"
                           @keyup="changeQuestion($event)"
                           placeholder="پرسش مورد نظر را وارد نمایید."
                           class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>
                </div>

                <div class="flex items-first">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        پاسخ:
                    </label>
                    <textarea rows="4"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-indigo-400 focus:outline-none"
                              v-model="editedAnswer"
                              @keyup="changeAnswer($event)"
                              placeholder="پاسخ مورد نظر را وارد نمایید.">{{ editedAnswer }}</textarea>
                </div>
            </div>
        </template>
    </modal>

  <!--  delete modal  -->
    <modal :show-modal="deleteModalVisible"
           :item="modalData"
           type="delete"
           @closeModal="closeDeleteModal">
        <template v-slot:header>
            <div class="flex items-first mb-4">
                <label for="message"
                       class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                </label>
            </div>
        </template>
        <template v-slot:body>
            <p class="text-center my-4 text-sm leading-relaxed mt-0">
                آیا از حذف این سوال اطمینان دارید؟
            </p>
            <div class="flex justify-center items-center">


                <button-component type="submit"
                                  :loading="deleteQuestionsLoading"
                                  text="تایید"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="deleteOtherQuestion">

                </button-component>

                <button-component type="button"
                                  @click="closeDeleteModal()"
                                  text="انصراف"
                                  txt-color="text-[#2131BA]"
                                  custom-style="border-2 border-[#2131BA] flex items-center  px-2 py-1 text-xs">
                </button-component>

            </div>
        </template>
    </modal>

    <div class="flex items-center justify-between px-5 pt-4 pb-1">
        <h3 class="text-md">سوالات بی پاسخ</h3>
        <!--        <select-component v-if="questionsResponseData.length > 0"-->
        <!--                          placeholder="انتخاب دسته بندی"-->
        <!--                          :selected="selected_insurance"-->
        <!--                          @selectedObj="selectedObj"-->
        <!--                          side="left"></select-component>-->
        <select-options placeholder="انتخاب دسته بندی"
                        :selected="selected_filter_obj"
                        :selectable="insuranceCategories"
                        side="left"
                        is-filter="true"
                        @selectedObj="selectedFilterObj"></select-options>
    </div>

    <div class="flex flex-row justify-between bg-[#F6F8FF] pt-4">
        <div class="w-full flex flex-col justify-between">

            <question-skeleton v-if="getQuestionsLoading"></question-skeleton>

            <div v-else>

                <div v-if="questionsResponseData.length > 0"
                     class="mx-4">
                    <!--  questions list  -->
                    <div v-for="(item,index) in questionsResponseData"
                         class="flex flex-col sm:flex-row justify-between items-center p-4 bg-[#fff] mb-4 rounded-lg">
                        <div class="flex items-center w-full">
                            <div class="min-w-[50px] min-h-[50px] w-[50px] h-[50px] relative flex justify-center items-center rounded-full">
                                <img :src="`/img/insurances/${item.category}.svg`"
                                     class="w-max h-max"
                                     :alt="item.category"/>
                            </div>
                            <div class="max-w-[650px] mr-4">
                                <h4 class="text-sm mb-2 line-clamp-1">{{ item.question }}</h4>
                                <!--                                <h5 class="text-xs line-clamp-1">{{ item.answer }}</h5>-->
                            </div>
                        </div>
                        <div class="flex mt-4 sm:mt-0 justify-end w-full sm:w-auto">

                            <button-component type="button"
                                              @click="openEditModal(item)"
                                              text="بررسی"
                                              txt-color="text-white-100"
                                              custom-style="bg-[#2131BA] flex items-center ml-3 px-2 py-1 text-xs">
                                <template v-slot:image>
                                    <svg width="15"
                                         height="15"
                                         viewBox="0 0 12 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 6.66678H1.35159C1.51411 7.77681 2.07325 8.79158 2.92671 9.52543C3.78016 10.2593 4.87089 10.6631 5.99933 10.6631C7.12777 10.6631 8.21849 10.2593 9.07195 9.52543C9.92541 8.79158 10.4845 7.77681 10.6471 6.66678H11.9993C11.834 8.13359 11.1306 9.48839 10.0238 10.4722C8.91692 11.4561 7.48416 12 5.99933 12C4.5145 12 3.08174 11.4561 1.97488 10.4722C0.868028 9.48839 0.165373 8.13359 0 6.66678ZM0 5.33322C0.165373 3.86641 0.868698 2.51161 1.97556 1.52776C3.08241 0.543903 4.51517 0 6 0C7.48483 0 8.91759 0.543903 10.0244 1.52776C11.1313 2.51161 11.8346 3.86641 12 5.33322H10.6477C10.4857 4.22271 9.92675 3.20736 9.07317 2.47304C8.21959 1.73872 7.12851 1.33457 5.99967 1.33457C4.87082 1.33457 3.77974 1.73872 2.92616 2.47304C2.07258 3.20736 1.51362 4.22271 1.35159 5.33322H0Z"
                                              fill="white"/>
                                    </svg>


                                </template>
                            </button-component>

                            <button-component type="button"
                                              @click="openDeleteModal(item)"
                                              text="حذف"
                                              txt-color="text-[#2131BA]"
                                              custom-style="border-2 border-[#2131BA] flex items-center ml-6 px-2 py-1 text-xs">
                                <template v-slot:image>
                                    <svg width="15"
                                         height="15"
                                         viewBox="0 0 12 13"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.43933 12.342C2.07438 12.342 1.76186 12.2121 1.50176 11.9522C1.24165 11.6923 1.11182 11.3802 1.11226 11.016V2.39636H0.44873V1.07027H3.76639V0.407227H7.74759V1.07027H11.0652V2.39636H10.4017V11.016C10.4017 11.3806 10.2717 11.6929 10.0116 11.9528C9.75145 12.2127 9.43915 12.3425 9.07465 12.342H2.43933ZM9.07465 2.39636H2.43933V11.016H9.07465V2.39636ZM3.76639 9.68986H5.09346V3.72245H3.76639V9.68986ZM6.42052 9.68986H7.74759V3.72245H6.42052V9.68986Z"
                                              fill="#2131BA"/>
                                    </svg>
                                </template>
                            </button-component>

                        </div>
                    </div>

                </div>

                <div v-else
                     class="px-5">
                    <div class="flex flex-col justify-center items-center p-5 w-full h-full bg-[#F6F8FF]">
                        <img src="@/assets/img/no-questions.png"
                             class="md:w-[500px] w-full"/>
                        <p class="block mt-5 text-center">هیچ پرسش بی پاسخی وجود ندارد.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
import moment from "moment-jalaali";
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "ChatComponent",
    props: ['navigationHeight'],
    data() {
        return {
            question: '',
            likeReact: false,
            likeChecked: false,
            dislikeReact: false,
            dislikeChecked: false,
            showLike: true,
            showDislike: true,
            reactBtn: '',
            askObj: {},
            botAnswerLoading: false,
            historyObj: {},
            chatDate: '',
            mapByJalali: [],
            groupByJalali: [],
            today: '',
            utc_date: '',
            chatHeight: 0,
            sendQuestionHeight: 0,

            modalData: null,

            editModalVisible: false,
            deleteModalVisible: false,
            getQuestionsLoading: false,
            questionsObj: {},
            questionsResponseData: [],
            editQuestionsResponseData: [],
            editQuestionsObj: {},
            editQuestionsLoading: false,
            deleteQuestionsLoading: false,
            deleteQuestionsResponseData: [],
            editedQuestion: '',
            editedAnswer: '',
            selected_insurance: {},
            responseData: null,
            responseType: null,
            answer: '',

            selected_category_obj: {},
            selected_filter_obj: {},
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['selected_user_insurance', 'selected_admin_insurance',
            'insuranceCategories', 'displayToast'])
    },
    created() {
        this.fetchInsuranceCategories('admin')
        this.getOtherQuestions()
    },

    methods: {
        ...mapActions(useGlobalStore, ['fetchInsuranceCategories', 'toastTimeOut']),
        editModal() {
            this.editModalVisible = true
        },
        deleteModal() {
            this.deleteModalVisible = true
        },
        openEditModal(data) {
            this.selected_category_obj = {
                title: this.getCategoryName(data.category),
                value: data.category
            }

            this.modalData = data

            this.editedQuestion = data.question
            this.editedAnswer = data.adminAnswer

            this.editModalVisible = true
        },
        getCategoryName(value) {
            const categories = this.insuranceCategories
            const result = categories.filter(function (item) {
                return item.categoryLabel == value
            })
            return (categories.length !== 0) ? result[0].categoryPersianLabel : ''
        },
        openDeleteModal(data) {
            this.modalData = data
            this.deleteModalVisible = true
        },
        closeEditModal() {
            this.editModalVisible = false
            this.modalData = null
        },
        closeDeleteModal() {
            this.deleteModalVisible = false
            this.modalData = null
        },
        getOtherQuestions(category) {
            if (category) {
                this.questionsObj.category = category
            } else {
                this.questionsObj.category = ''
            }

            this.getQuestionsLoading = true

            setTimeout(() => {
                if (category === "life_insurance") {
                    this.questionsResponseData = [
                        {
                            "id": "648d5494e90f39fdf93b9943",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d5494e90f39fdf93b9941",
                            "question": "بیمه گزاران جهت انجام بازخرید، سررسید، برداشت از اندوخته بیمه نامه‌های عمر و پس انداز به کدام واحد مراجعه کنند؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d56bce90f39fdf93b9bb3",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d56bce90f39fdf93b9bb1",
                            "question": "اگر قرارداد بیمه عمر 10 ساله باشد بعد از 10 سال حقوق مستمری خواهیم گرفت؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d56e6e90f39fdf93b9bd9",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d56e6e90f39fdf93b9bd7",
                            "question": "درصد افزایش سالانه حق بیمه چیست؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d570ee90f39fdf93b9c1b",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d570ee90f39fdf93b9c19",
                            "question": "دریافت وام بدون ضامن و وثیقه چیست؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d573fe90f39fdf93b9c72",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d573fe90f39fdf93b9c70",
                            "question": "در بیمه‌های عمر و پس انداز چه خطراتی تحت پوشش قرار دارد و چه مزایایی را دارا می‌باشد؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d5774e90f39fdf93b9cd1",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d5774e90f39fdf93b9ccf",
                            "question": "برای بیمه عمر باید چند سالم باشه؟vvv",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d57b5e90f39fdf93b9d57",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d57b5e90f39fdf93b9d55",
                            "question": "برای بیمه عمر باید چند سالم باشه؟vvv",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d57f3e90f39fdf93b9db6",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d57f3e90f39fdf93b9db4",
                            "question": "آیا می‌توان شرایط بیمه نامه را تغییر داد؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648d6113e90f39fdf93b9f0c",
                            "askedBy": "646b95c039788dbb05fecd37",
                            "messageId": "648d6113e90f39fdf93b9f0a",
                            "question": "در بیمه عمر تشکیل سرمایه حداقل حق بیمه در سال چقدر می‌باشد؟",
                            "category": "life_insurance",
                            "chatId": "7bae732d-0ef3-41d9-8197-fd274fc18a5c",
                            "adminAnswer": ""
                        },
                        {
                            "id": "648f107eb347483d9abd2ecd",
                            "askedBy": "646c5cb539788dbb05fecd5b",
                            "messageId": "648f107eb347483d9abd2ecb",
                            "question": "هدف از آزمایش و معاینه پزشکی در خرید بیمه نامه زندگی چیست؟",
                            "category": "life_insurance",
                            "chatId": "dd72e8a7-4074-4306-bae8-574ab17ec44a",
                            "adminAnswer": ""
                        }
                    ]
                } else {
                    this.questionsResponseData = []
                }
                this.getQuestionsLoading = false
            }, 3000)
            // this.$api.post(`/api/admin/faqs/getOtherQuestions`, this.questionsObj)
            //     .then(response => {
            //
            //         this.questionsResponseData = response.data.data
            //
            //         this.getQuestionsLoading = false
            //
            //     }).catch(error => {
            //     console.log(error, ' error')
            //     this.getQuestionsLoading = false
            //     this.responseType = 'error'
            //     this.responseData = null
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })
        },
        editOtherQuestion() {
            // this.editQuestionsLoading = true
            // this.responseData = null
            // this.editQuestionsObj.question = this.editedQuestion
            // this.editQuestionsObj.adminAnswer = this.editedAnswer
            // this.editQuestionsObj.category = this.selected_category_obj.value
            // this.editQuestionsObj.messageId = this.modalData.messageId
            //
            // this.$api.post(`/api/admin/faqs/submitAdminAnswer/`, this.editQuestionsObj)
            //     .then(response => {
            //
            //         this.editQuestionsResponseData = response.data.data
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.editQuestionsLoading = false
            //         this.closeEditModal()
            //         this.getOtherQuestions()
            //
            //     }).catch(error => {
            //     console.log(error, ' error')
            //     this.editQuestionsLoading = false
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })
        },
        deleteOtherQuestion() {
            // this.deleteQuestionsLoading = true
            // this.responseData = null
            //
            // this.$api.get(`/api/admin/faqs/deleteOtherQuestion/${this.modalData.id}`)
            //     .then(response => {
            //
            //         this.deleteQuestionsResponseData = response.data.data
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.deleteQuestionsLoading = false
            //         this.closeDeleteModal()
            //         this.getOtherQuestions()
            //
            //     }).catch(error => {
            //     this.deleteQuestionsLoading = false
            //     console.log(error, ' error')
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })
        },
        changeQuestion(event) {
            this.editedQuestion = event.target.value
        },
        changeAnswer(event) {
            this.editedAnswer = event.target.value
        },
        selectedObj(value) {
            this.editQuestionsObj.category = value.value
            this.selected_insurance = value
        },
        selectedFilterObj(selectedObj) {
            this.selected_filter_obj = selectedObj
            this.getOtherQuestions(selectedObj.value)
        },
    }
}
</script>

<style scoped>

</style>