<template>


    <div class="w-full text-sm" :class="{}">
        <div v-if="label" class="text-right pr-1 transition-all duration-300 mb-1 pt-1 ">
            {{ label }}
        </div>

        <div class="h-12"

        >
            <div ref="wrap" class="bg-[#F6F8FF] flex h-full rounded-md justify-center dir-ltr">
                <template v-for="(i , index) in 5" :key="i">
                    <input :type="inputType"
                           :name="name"
                           v-model="userInput[index]"
                           :autofocus="index === 0"
                           v-bind="$attrs"
                           @keydown="handleEnterKey($event); handleKeyDown($event, index)"
                           @input="handleInput($event, index)"
                           @paste="onPaste"
                           type="tel"

                           onkeypress="if(this.userInput && this.userInput.length === 1) return false;"
                           :class="otpBorder"
                           class="w-full h-full xs:w-10 xs:h-10 input text-center border border-[#ADA8A8] rounded-md  ml-2 text-xl "
                           :maxlength="1"
                           :minlength="1"
                    />
                </template>
            </div>

        </div>
        <div v-if="option === 'default' " class="text-right pr-1 mt-1 mb-1 pb-1">
      <span class="error text-ir-danger-1000 transition-all duration-300 block" :class="{'show' : hasError}">
        {{ hasError }}
      </span>

        </div>
    </div>


</template>

<script>
import * as validator from '~/utils/validator';

function _fill(arr, val, l) {
    if (arr) {
        arr.length = l;
        arr.fill(val, 0, l);
        return arr;
    }
    return []


}

function _sanitizeEventKey(key) {
    return key === "Unidentified" ? undefined : key;
}

export default {

    name: "input-element",
    data() {
        return {


            code: 0,
            result: '',
            error: false,
            userInput: [],
            inputError: [],
            inputList: [],
            showSuccess: false,
            showError: false,
            hasError: '',
            successInput: false,
            protect: false,
            delimiter: this.code / 2 - 1,
        }
    },
    mounted() {
        if (this.$el.attributes.autofocus) {
            this.focus(0);
        }
    },

    props: {
        label: String,
        hasIcon: {
            type: Boolean,
            default: false
        },
        inputType: {
            type: String,
            default: 'text'
        },
        type: {},
        name: {
            type: String
        },
        canEmpty: {
            type: Boolean
        },
        option: {
            type: String,
            default: 'default'
        },
        viewError: {
            type: Boolean,
            default: true
        },
        otpBorder: {
            type: String,
        }
        /* hasError:{
           type:Boolean,
           default: false
         }*/

    },

    methods: {
        appendIconHandler() {

        },
        preAppendIconHandler() {

        },
        focus(index) {
            if (index > this.delimiter) {
                index++;
            }
            const inp = this.$refs.wrap.children[index];
            if (inp) {
                inp.focus();
            }
        },
        handleEnterKey(event) {
            // handle Enter key submit since "onKeyPress="if(this.value.length" prevents thisdefault action
            if (event.key === 'Enter') {

                this.showError = true

                if (this.result !== '12345') {
                    this.inputList = ['0', '1', '2', '3', '4']
                } else {
                    this.showError = false
                    this.inputList = []
                    this.$emit('inputValue', this.result);
                }


                event.stopPropagation();
            }
        },
        handleKeyDown(event, index) {


            const key = _sanitizeEventKey(event.key);

            if (!key) {
                return;
            } else if (key === "Backspace") {

                if (this.userInput[index]) {
                    return (this.userInput[index] = "");
                }
                const test = [...this.inputList]
                const filter = test.filter(item => item !== index)
                this.inputList = filter
                this.showError = false
                this.focus(index - 1);
            } else if (
                !event.shiftKey &&
                (key === "ArrowRight" || key === "Right")
            ) {
                this.focus(index + 1);
            } else if (
                !event.shiftKey &&
                (key === "ArrowLeft" || key === "Left")
            ) {
                this.focus(index - 1);
            } else if (key === 1 && this.userInput[index]) {
                this.userInput[index] = key;
                this.$forceUpdate();
                this.focus(index + 1);
                this.emitInput();
            }
        },
        handleInput(event, index) {


            const regex = /\d/gm;
            // if (regex.test(event.target.value)) {
            const value = this.userInput[index];


            if (value) {
                if (value.length > 1) {
                    this.userInput[index] = value[value.length - 1];
                }
                this.focus(index + 1);
            }
            this.inputList.push(index)

            this.emitInput();
            // } else {

            /* this.inputList.push(index)*/
            // event.target.value = ''
            // this.userInput[index] = ''
            // }
        },
        onPaste(event) {
            const clipboardData =
                event.clipboardData || window.clipboardData;
            if (!clipboardData) {
                return;
            }
            // IE fix
            event.preventDefault();
            const code =
                clipboardData.getData("Text") || clipboardData.getData("text/plain");
            this.fillCode(code);
        },
        fillCode(code) {
            code = code.trim();
            code = code.slice(0, this.code);
            const parts = code.split("");
            parts.length = this.code;
            this.userInput = parts;

            const last = code.length - 1;
            setTimeout(() => {
                // cut out extra chars from last input
                this.userInput[last] =
                    this.userInput[last] && this.userInput[last].slice(0, 1); // apply just first char
                this.$forceUpdate();
                this.focus(last);
            }, 0);
        },
        emitInput() {
            this.result = this.userInput.join("")
            this.$emit('inputValue', this.result);
        },

    },
    watch: {
        userInput(value) {
            validator[this.name](value, this.canEmpty, (error, resolve) => {

                if (error) {
                    this.successInput = false
                    this.hasError = error
                    return
                }
                this.hasError = ''
                if (this.canEmpty && value.length < 1) {
                    this.successInput = false
                    return
                }
                this.successInput = true


                /*this.hasError = ''*/


            })
        }
    }
}
</script>

<style lang="scss" scoped>
//@import "assets/css/colors";


.error {
  font-size: 13px;
  transform: translateY(-20px);
  opacity: 0;
}

.show {
  transform: translateY(1px);
  opacity: 1;
}

.input {
  box-shadow: none;
  outline: none;
}

.danger-border {
  border: 1px solid #Ef658b !important;
  /*border: 2px solid $it-danger-0;*/
}

.success-border {
  border: 1px solid green !important;

}

@keyframes show-hide {


}

</style>