<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <!--  edit modal  -->
    <modal :show-modal="editModalVisible"
           :item="modalData"
           @closeModal="closeEditModal">
        <template v-slot:header>
            <div class="hidden md:flex items-first mb-4">
                <label for="message"
                       class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                </label>
                <select-options placeholder="انتخاب دسته بندی"
                                :selected="selected_filter_obj"
                                :selectable="insuranceCategories"
                                side="right"
                                @selectedObj="selectedFilterObj"></select-options>
            </div>
            <div class="flex items-center justify-end w-full md:w-auto">

                <button-component type="submit"
                                  :loading="editQuestionsLoading"
                                  text="ذخیره تغییرات"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="editQuestion">

                </button-component>

                <button-component type="button"
                                  @click="closeEditModal()"
                                  text="انصراف"
                                  txt-color="text-[#2131BA]"
                                  custom-style="border-2 border-[#2131BA] flex items-center  px-2 py-1 text-xs">
                </button-component>
            </div>
        </template>
        <template v-slot:body>

            <div class="flex flex-col">

                <div class="flex md:hidden items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                    </label>
                    <select-options placeholder="انتخاب دسته بندی"
                                    :selected="selected_filter_obj"
                                    :selectable="insuranceCategories"
                                    side="right"
                                    @selectedObj="selectedFilterObj"></select-options>
                </div>

                <div class="flex items-first mb-4">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                        پرسش:
                    </label>
                    <input type="text"
                           v-model="editedQuestion"
                           @keyup="changeQuestion($event)"
                           placeholder="پرسش مورد نظر را وارد نمایید."
                           class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>
                </div>

                <div class="flex items-first">
                    <label for="message"
                           class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        پاسخ:
                    </label>
                    <textarea rows="4"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-indigo-400 focus:outline-none"
                              v-model="editedAnswer"
                              @keyup="changeAnswer($event)"
                              placeholder="پاسخ مورد نظر را وارد نمایید.">{{ editedAnswer }}</textarea>
                </div>
            </div>
        </template>
    </modal>

    <!--  delete modal  -->
    <modal :show-modal="deleteModalVisible"
           :item="modalData"
           type="delete"
           @closeModal="closeDeleteModal">
        <template v-slot:header>
            <div class="flex items-first mb-4">
                <label for="message"
                       class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
                </label>
            </div>
        </template>
        <template v-slot:body>
            <p class="text-center my-4 text-sm leading-relaxed mt-0">
                آیا از حذف این سوال اطمینان دارید؟
            </p>
            <div class="flex justify-center items-center">


                <button-component type="submit"
                                  :loading="deleteQuestionsLoading"
                                  text="تایید"
                                  txt-color="text-white-100"
                                  custom-style="bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                                  @click="deleteQuestion">

                </button-component>

                <button-component type="button"
                                  @click="closeDeleteModal()"
                                  text="انصراف"
                                  txt-color="text-[#2131BA]"
                                  custom-style="border-2 border-[#2131BA] flex items-center  px-2 py-1 text-xs">
                </button-component>

            </div>
        </template>
    </modal>


    <div class="flex flex-row justify-between bg-[#F6F8FF] md:pt-4"
         :style="{marginTop:bodyTopPadding }">
        <div class="w-full flex flex-col justify-between">

            <question-skeleton v-if="getQuestionsLoading"></question-skeleton>

            <div v-else>

                <div v-if="questionsResponseData.length > 0"
                     class="mx-4">
                    <!--  questions list  -->
                    <div v-for="(item,index) in questionsResponseData"
                         class="flex flex-col sm:flex-row justify-between items-start p-4 bg-[#fff] mb-4 rounded-lg">
                        <div class="max-w-[650px] ml-2">
                            <h4 class="text-sm mb-2 line-clamp-1">{{ item.question }}</h4>
                            <h5 class="text-xs line-clamp-1">{{ item.answer }}</h5>
                        </div>
                        <div class="flex mt-4 sm:mt-0 justify-end w-full sm:w-auto">

                            <button-component type="button"
                                              @click="openEditModal(item)"
                                              text="ویرایش"
                                              txt-color="text-white-100"
                                              custom-style="bg-[#2131BA] flex items-center ml-3 px-2 py-1 text-xs">
                                <template v-slot:image>
                                    <svg width="15"
                                         height="15"
                                         viewBox="0 0 10 10"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.99595 3.64609L6.87095 1.54609L7.57095 0.846094C7.76261 0.654427 7.99811 0.558594 8.27745 0.558594C8.55678 0.558594 8.79211 0.654427 8.98345 0.846094L9.68345 1.54609C9.87511 1.73776 9.97511 1.96909 9.98345 2.24009C9.99178 2.51109 9.90011 2.74226 9.70845 2.93359L8.99595 3.64609ZM8.27095 4.38359L2.97095 9.68359H0.845947V7.55859L6.14595 2.25859L8.27095 4.38359Z"
                                              fill="white"/>
                                    </svg>

                                </template>
                            </button-component>

                            <button-component type="button"
                                              @click="openDeleteModal(item)"
                                              text="حذف"
                                              txt-color="text-[#2131BA]"
                                              custom-style="border-2 border-[#2131BA] flex items-center ml-6 px-2 py-1 text-xs">
                                <template v-slot:image>
                                    <svg width="15"
                                         height="15"
                                         viewBox="0 0 12 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.43933 12.342C2.07438 12.342 1.76186 12.2121 1.50176 11.9522C1.24165 11.6923 1.11182 11.3802 1.11226 11.016V2.39636H0.44873V1.07027H3.76639V0.407227H7.74759V1.07027H11.0652V2.39636H10.4017V11.016C10.4017 11.3806 10.2717 11.6929 10.0116 11.9528C9.75145 12.2127 9.43915 12.3425 9.07465 12.342H2.43933ZM9.07465 2.39636H2.43933V11.016H9.07465V2.39636ZM3.76639 9.68986H5.09346V3.72245H3.76639V9.68986ZM6.42052 9.68986H7.74759V3.72245H6.42052V9.68986Z"
                                              fill="#2131BA"/>
                                    </svg>
                                </template>
                            </button-component>

                        </div>
                    </div>

                </div>

                <div v-else
                     class="px-5">
                    <div class="flex flex-col justify-center items-center p-5 w-full h-full bg-[#F6F8FF]">
                        <img src="@/assets/img/no-questions.png"
                             class="md:w-[500px] w-full"/>
                        <p class="block mt-5 text-center">هیچ پرسش و پاسخی در این دسته بندی وجود ندارد.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
import moment from "moment-jalaali";
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "ChatComponent",
    props: ['navigationHeight'],
    data() {
        return {
            question: '',
            likeReact: false,
            likeChecked: false,
            dislikeReact: false,
            dislikeChecked: false,
            showLike: true,
            showDislike: true,
            reactBtn: '',
            askObj: {},
            botAnswerLoading: false,
            askResponseData: null,

            historyResponseData: [],
            historyObj: {},
            chatDate: '',
            mapByJalali: [],
            groupByJalali: [],
            today: '',
            utc_date: '',
            chatHeight: 0,
            sendQuestionHeight: 0,
            modalData: null,

            editModalVisible: false,
            deleteModalVisible: false,
            getQuestionsLoading: false,
            questionsObj: {},
            questionsResponseData: [],
            editQuestionsResponseData: [],
            editQuestionsObj: {},
            editQuestionsLoading: false,
            deleteQuestionsLoading: false,
            deleteQuestionsResponseData: [],
            editedQuestion: '',
            editedAnswer: '',
            selected_insurance: {},
            responseData: null,
            responseType: null,
            answer: '',

            mobileNavigationHeight: null,
            selectedCategoryHeight: null,

            bodyTopPadding: null,

            selected_filter_obj: {}
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['selected_user_insurance', 'selected_admin_insurance',
            'displayToast', 'insuranceCategories'])
    },


    mounted() {
        if (window.innerWidth < 768) {
            this.mobileNavigationHeight = localStorage.getItem('mobileNavigationHeight')
            this.selectedCategoryHeight = localStorage.getItem('selectedCategoryHeight')
            this.bodyTopPadding = `${parseInt(this.mobileNavigationHeight) + parseInt(this.selectedCategoryHeight) + 20}px`
        } else {
            this.mobileNavigationHeight = null
            this.selectedCategoryHeight = null
            this.bodyTopPadding = null
        }

        if (JSON.parse(localStorage.getItem('selected_user_insurance'))) {
            this.selected_insurance = JSON.parse(localStorage.getItem('selected_user_insurance'))
        } else if (JSON.parse(localStorage.getItem('selected_admin_insurance'))) {
            this.selected_insurance = JSON.parse(localStorage.getItem('selected_admin_insurance'))
        }
    },
    created() {
        this.getQuestions()
    },

    methods: {
        ...mapActions(useGlobalStore, ['toastTimeOut']),
        editModal() {
            this.editModalVisible = true
        },
        deleteModal() {
            this.deleteModalVisible = true
        },

        openEditModal(data) {
            this.selected_filter_obj = {
                title: this.getCategoryName(data.category),
                value: data.category
            }

            this.modalData = data

            this.editedQuestion = data.question
            this.editedAnswer = data.answer

            this.editModalVisible = true
        },
        getCategoryName(value) {
            const categories = this.insuranceCategories
            const result = categories.filter(function (item) {
                return item.categoryLabel == value
            })
            return (categories.length !== 0) ? result[0].categoryPersianLabel : ''
        },
        openDeleteModal(data) {
            this.modalData = data
            this.deleteModalVisible = true
        },
        closeEditModal() {
            this.editModalVisible = false
            this.modalData = null
            this.selected_filter_obj = {}

            this.editedQuestion = ''
            this.editedAnswer = ''
        },
        closeDeleteModal() {
            this.deleteModalVisible = false
            this.modalData = null
        },
        getQuestions() {
            this.getQuestionsLoading = true

            this.questionsObj.category = this.$route.params.slug

            setTimeout(() => {
                this.questionsResponseData = [
                    {
                        "id": "6468b192cc083e4d2c1ec6d3",
                        "category": "health_insurance",
                        "question": "مدارک مورد نیاز جهت پرداخت هزینه‌های مستقیم درمان چیست؟ \nبیمارانی که اصل مدارک و صورت حسابهای بیمارستانی را می‌خواهند تحویل بیمه‌گر اول نمایند و متقاضی دریافت مابه التفاوت هزینه‌ها می‌باشند چه مدارکی را باید تحویل بیمه‌گر بدهند؟",
                        "answer": "*نامه بیمه گذار مبنی بر تائید هویت بیمه شده و درخواست پرداخت هزینه درمانی\n* اصل صورتحساب بیمارستان و کلیه مدارک پزشکی ممهور به مهر بیمارستان و حسابداری بیمارستان مربوطه.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d4",
                        "category": "health_insurance",
                        "question": "آیا می‌توان در طرح‌های درمان شرکت تغییرات دلخواه را اعمال نمود؟",
                        "answer": "ممکن است شرکتی بسته به میانگین سنی پرسنل و نیازهای درمانی ایشان درخواست تغییر سقف پوشش‌ها و همینطور ترکیب آن‌ها را داشته باشد. به طور مثال ممکن است لازم باشد پوششی را حذف کرده و یا پوشش دیگری مانند اوروتز را اضافه نماید..",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d5",
                        "category": "health_insurance",
                        "question": "شرایط سنی در بیمه درمان گروهی چیست؟",
                        "answer": "طبق آیین‌نامه بیمه درمان بیمه مرکزی و مشابه سایر شرکت‌های بیمه، برای افراد 60 تا 70 سال 50 درصد افزایش قیمت و برای افراد 70 تا 80 سال 100 درصد افزایش قیمت در نظر می‌گیرد. قیمت‌های مشاهده شده در جداول فوق مختص افراد زیر 60 سال است. \nدر صورتی که شرکتی تمایل داشته باشد حق بیمه همه سنین یکسان باشد، این موضوع با موافقت شرکت بیمه امکان پذیر است. این مورد اغلب برای شرکت‌های بزرگ انجام می‌شود و منوط به اعلام حدودی تعداد نفرات بالای 60 سال است. شرکت بیمه با اندکی تعدیل حق بیمه، قیمت یکسانی برای همه سنین اعلام می‌کند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d6",
                        "category": "health_insurance",
                        "question": "آیا برای خرید این بیمه داشتن بیمه پایه الزامی است؟",
                        "answer": "خرید بیمه تکمیلی گروهی به صورت کلی نیازمند داشتن بیمه پایه است. به این معنی که افراد یک مجموعه باید دارای بیمه پایه تامین اجتماعی واحد از یک شرکت باشند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d7",
                        "category": "health_insurance",
                        "question": "دوره انتظار بیمه درمان چقدر است و چه بیماری هایی را شامل می‌شود؟",
                        "answer": "* دوره انتظار بیمه تکمیلی در مورد دو پوشش زایمان و بستری است. در رابطه با پوشش زایمان دوره انتظار 9 ماه است و این بدان معنی است که اگر فردی مشمول دوره انتظار باشد و در بازه 9 ماه ابتدایی از شروع بیمه تکمیلی خود زایمان انجام دهد شرکت بیمه در مورد جبران هزینه آن تعهدی ندارد. بدیهی است که این موضوع در رابطه با زایمان هایی که در ماه 9 الی 12 قرارداد بیمه تکمیلی صورت می‌گیرند صادق نیست. \n* دوره انتظار جهت بیماری‌های مزمن 3 ماه تمام است و موارد آن عبارتست از: کاتاراکت، استرابیسم، پولیپ و انحراف بینی، جراحی سینوس، لوزه، جراحی قلب باز، نارسایی‌های مزمن کلیه، دیسک ستون فقرات، پروستات، واریکوسل، میومکتومی و هیسترکتومی، سیتوسل، رکتوسل، آنتروسل و خسارت‌های درمانی ناشی از حوادث مربوط به ادامه معالجاتی که حادثه قبل از تاریخ شروع اولین پوشش بیمه برای بیمه شده اتفاق افتاده باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d8",
                        "category": "health_insurance",
                        "question": "میزان فرانشیز در بیمه تکمیلی درمان چقدر است؟",
                        "answer": "سهم بیمه شده از خسارت ارزیابی شده را فرانشیز می‌گویند، مقدار فرانشیز معمولا 30% است، اما در زمان عقد قرارداد با پرداخت حق بیمه بیشتر، کاهش فرانشیز تا 10% نیز امکان پذیراست، در صورتی که بیمه شده از خدمات بیمه‌گر پایه (سازمان تامین اجتماعی، بیمه سلامت، بیمه خدمات درمانی و) … استفاده نماید بخش قابل توجهی از فرانشیز توسط بیمه‌گر پایه پوشش داده خواهد شد و سهم بیمه شده از مبلغ خسارت به سمت صفر میل پیدا میکند",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6d9",
                        "category": "health_insurance",
                        "question": "در صورتیکه بیمه‌گر اول از برابر اصل نمودن مدارک خودداری کند چه باید کرد؟",
                        "answer": "نماینده بیمه گذار یا بیمه شده با در دست داشتن اصل و فتوکپی از تمامی مدارک مراجعه و پس از رویت اصل مدارک توسط کارشناسان اداره خسارت مراجع درمانی و رسیدگی به اسناد پزشکی فتوکپی‌ها را برابر اصل نموده و در پرونده نگهداری و اصل مدارک به بیمه شده یا نماینده بیمه جهت دریافت سهم بیمه‌گر اول عودت می‌گردد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6da",
                        "category": "health_insurance",
                        "question": "آیاهزینه لنزداخل چشمی جز تعهدات بیمه طلایی هست",
                        "answer": "اگر لنز تماسی باشد از سقف عینک واگر جهت کاتراکت باشد از سقف بیمارستانی طبق تعرفه و ضوابط قابل پرداخت می‌باشد",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6db",
                        "category": "health_insurance",
                        "question": "حق بیمه هاچگونه تعیین می‌شوند؟",
                        "answer": "هزینه بیمه تکمیلی به عوامل زیر بستگی دارد: \n1- نوع تعهدات انتخاب شده در بیمه تکمیلی: به عنوان مثال انتخاب هزینه‌های دندانپزشکی، آزمایشگاه یا دارو و ویزیت بطور مستقیم در هزینه بیمه تکمیلی تاثیر گذار است\n2- سقف تعهدات انتخاب شده در بیمه تکمیلی: تعیین مقدار تعهد شرکت بیمه در مورد هر یک از تعهدات انتخاب شده بطور مستقیم در هزینه بیمه تکمیلی موثر است به عنوان مثال سقف هزینه‌های آزمایشگاه برای هر نفر در سال پانصد هزار تومان باشد یا دو میلیون تومان و یا بیشتر\n3- مقدار فرانشیز در بیمه تکمیلی: فرانشیز درصدی از هزینه‌های درمانی است که به عهده شخص بیمه شده است و هر چقدر این درصد بیشتر باشد بدیهی است که سهم بیمه شده از هزینه‌ها بیشتر و حق بیمه پرداختی کمتر میشود\n4- تعداد افراد بیمه شده در بیمه تکمیلی: هر چقدر تعداد افراد گروه بیشتر باشند امکان ارایه تخفیف و کاهش حق بیمه بیشتر خواهد شد\n5- سوابق سال‌های گذشته بیمه گذار و میزان ضریب خسارت بیمه تکمیلی در سال‌های گذشته نیز یکی دیگر از عوامل تاثیر گذار در مقدار هزینه بیمه تکمیلی است",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6dc",
                        "category": "health_insurance",
                        "question": "هزینه درمان و داروهای بیماران خاص مثل هپاتیت شامل بیمه تکمیلی میگردد؟",
                        "answer": "خیر",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6dd",
                        "category": "health_insurance",
                        "question": "آیا بیمه‌های تکمیلی درمان بیمه به صورت انفرادی هم صادر می‌شوند؟",
                        "answer": "خیر. هنوز امکان صدور بیمه نامه انفرادی تکمیلی درمان در بیمه پارسیان برقرار نشده است",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6de",
                        "category": "health_insurance",
                        "question": "آیا بیمه‌های تکمیلی هزینه‌های درمانی بیماری کرونا را پوشش می‌دهد؟",
                        "answer": "بله هزینه‌های بیماری کرونا با شرایط زیر در تعهد بیمه تکمیلی است. \n1-در صورت بستری شدن بیمار مبتلا به بیماری کرونا هزینه‌های بیمارستان تا سقف تعهدات مندرج در پوشش‌های اصلی بیمه نامه یا بند یک قراداد پرداخت خواهد شد. \n2-چنانچه بیمار مبتلا به کرونا در بخش اورژانس مراکز درمانی پذیرش گردد و پس از دریافت خدمات درمانی بدون اینکه بستری شود ترخیص گردد هزینه‌های مربوطه از محل پوشش ویزیت و دارو و اورژانس قرارداد پرداخت خواهد شد. \n3-در صورت انجام خدمات تشخیصی مانند اسپیرومتری، رادیولوژی یا سی تی اسکن هزینه‌های انجام شده تا سقف تعهدات مندرج در پوشش پاراکلینیکی قرارداد قابل پرداخت است. \n4-در صورت انجام آزمایش هزینه‌های آن از بخش تعهدات آزمایش و تا سقف این پوشش قابل پرداخت است",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6df",
                        "category": "health_insurance",
                        "question": "اگر هنگام ثبت پرونده و پذیرش بیماران اشتباهی صورت گرفته باشد و اطلاعات اشتباه ثبت شده باشد چگونه می‌توان اطلاعات را ویرایش و اصلاح کرد؟",
                        "answer": "اگر پرونده تایید و ارسال شده باشد امکان ویرایش وجود ندارد و باید به شعبه اعلام شود که پرونده را عودت دهند تا مرجع درمانی بتوانند آن را ویرایش کنند. اما اگر پرونده در حالت باز و صورتحساب آن جاری باشد می‌توان از مسیر پرونده‌ها و جستجوی شماره پرونده یا کد ملی بیمار پرونده را ابطال و یا ویرایش کنند",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e0",
                        "category": "health_insurance",
                        "question": "بیمه شدگان بیمه‌های درمان مدارک هزینه‌های درمانی خود را باید به کجا تحویل دهند؟",
                        "answer": "بیمه شدگان باید همراه با سایر مدارک هزینه‌های درمانی مهروامضا شده توسط مراجع درمانی به به واحد رفاهی یا مسئول امور بیمه‌ای سازمان محل خدمتشان که بیمه ایشان زیرنظر آنها برقرار شده مراجعه کنند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e1",
                        "category": "health_insurance",
                        "question": "بیمه شدگان لیست تعهدات در قرارداد درمانی شان را از کجا می‌توانند دریافت کنند؟",
                        "answer": "بیمه شدگان می‌توانند لیست تعهدات و جزئیات آنها را از مسئول واحد رفاهی یا مسئول امور بیمه‌ای خود دریافت کنند. سازمان خود دریافت کنند. همچنین در صورتی که با واحد مرکز تماس بیمه پارسیان تماس بگیرند کارشناسان می‌توانند برای ایشان استعلام گرفته و به ایشان جزئیات تعهداتشان را اعلام کنند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e2",
                        "category": "health_insurance",
                        "question": "صورتحساب‌های ماهانه مرجع درمانی چگونه برای شرکت ارسال می‌شود؟",
                        "answer": "صورتحساب‌های ماهانه مرجع درمانی در تاریخی مشخص (توسط شعبه تعیین میشود) توسط کاربری ادمین تایید و ارسال می‌شوند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e3",
                        "category": "health_insurance",
                        "question": "لیست بیمه شدگان در بیمه نامه‌های گروهی چگونه در قرارداد وارد می‌شوند؟",
                        "answer": "پس از صدور بیمه نامه حوادث گروهی باید الحاقیه مربوطه صادر شود سپس فایل اکسل مخصوص بیمه شدگان بیمه حوادث که در مسیر زیر (در پرتال) موجود می‌باشد به بیمه گزار تحویل داده شود تا مشخصات بیمه شدگان را در آن تکمیل کنند: \n (آرشیو فایل ← اموزش نرم افزارهای کاربردی← حوادث← راهنمای کاربری کاربران← فایل ورودی بیمه شدگان) پس از آن فایل اکسل تکمیل شده طبق راهنمای موجود در مسیر بالا به فایل اکسس تبدیل شود و فایل اکسس در سامانه حوادث الصاق شده و الحاقیه صادر شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e4",
                        "category": "health_insurance",
                        "question": "مراجع درمانی چگونه می‌توانند از پرداخت صورتحساب توسط شعبه یا سایر اقداماتی که توسط شعبه انجام میشود مطلع شوند؟",
                        "answer": "در قسمت اطلاعات پرداخت گزارش پرداخت صورتحساب‌های مراجع درمانی توسط شعبه مشاهده می‌شود. همچنین در قسمت اعلان‌ها سایر فعالیت‌های شعبه و پیغامهایی که شعبه مختص مراجع درمانی ارسال میکنند مشاهده می‌شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e5",
                        "category": "health_insurance",
                        "question": "پس از ویرایش پرونده‌های عودتی مرجع درمانی چگونه می‌توانند پرونده را ارسال کنند؟",
                        "answer": "در قسمت پرونده‌های عودتی و عدم ارسالی مرجع درمانی باید پس از جستجوی پرونده آیکون ارسال مجدد را انتخاب کرده و پرونده را ارسال کنند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e6",
                        "category": "health_insurance",
                        "question": "چه زمانی قرارداد درمانی تعلیق و غیر قابل استفاده خواهد شد؟",
                        "answer": "مهلت پرداخت حق بیمه‌های قرارداد درمان حداکثر 45 روز می‌باشد، در صورتی که از این مدت بگذرد و حق بیمه توسط بیمه گزار (شرکت یا سازمان محل خدمت) پرداخت نشود قرارداد به صورت اتوماتیک تعلیق و غیرقابل استفاده می‌شود. همچنین تعلیق قرارداد بعضا می‌تواند به دلایل خاص و با تصمیم خود شعبه یا واحد ستادی بیمه پارسیان باشد که در این مواقع باید از خود این واحدها پیگیری انجام شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e7",
                        "category": "health_insurance",
                        "question": "هزینه ثبت نام بیمه درمان تکمیلی چقدر است؟ \nهزینه خرید بیمه نامه چقدر است؟",
                        "answer": "شما می‌توانید از طریق سایت بیمه‌دات‌کام استعلام قیمت بیمه درمان‌تکمیلی را با توجه به شرایط خود (سن، دارا بودن بیمه‌گر پایه و تعداد افراد تحت تکفل) به دست آورده بیاورید و ببینید که حق بیمه شما برای خرید این بیمه چقدر می‌شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e8",
                        "category": "health_insurance",
                        "question": "در صورت نداشتن بیمه پایه امکان خرید بیمه درمان تکمیلی به صورت انفرادی وجود دارد؟ \nبیمه تامین اجتماعی ندارم. ایا میتوانم بیمه درمان تکمیلی بخرم؟",
                        "answer": "در اغلب شرکت‌های بیمه شرط لازم برای خرید بیمه درمان تکمیلی داشتن بیمه تامین اجتماعی است. اما از طریق بعضی از شرکت‌های بیمه می‌توانید حتی بدون داشتن بیمه تامین اجتماعی بیمه تکمیلی خریداری کنید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6e9",
                        "category": "health_insurance",
                        "question": "بیمه‌درمان تکمیلی جراحی لیزیک تحت پوشش می‌باشد؟",
                        "answer": "بله در طرح هایی که پوشش عیوب انکساری را دارند، جراحی لیزیک تحت پوشش بیمه‌درمان می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ea",
                        "category": "health_insurance",
                        "question": "برای پرداخت هزینه لیزیک چه شماره چشمی تحت پوشش می‌باشد؟",
                        "answer": "جبران هزینه‌های جراحی مربوط ‌به رفع عیوب انکساری چشم در مواردی که به تشخیص پزشک معتمد بیمه‌گر درجه نزدیک‌بینی، دوربینی، آستیگمات یا جمع قدر مطلق نقص بینایی هر چشم (درجه نزدیک بینی یا دوربینی به‌علاوه نصف آستیگمات‌) 3 دیوپتر یا بیشتر باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6eb",
                        "category": "health_insurance",
                        "question": "آیا در بیمه درمان خانواده، جراحی IVF در بخش نازایی تحت پوشش می‌باشد؟",
                        "answer": "در طرح هایی که پوشش نازایی و ناباروری دارند، اعمال جراحی مرتبط، IUI، ZIFT، GIFT، میکرواینجکشن و IVFو طبق شرایط خصوصی با 9 ماه دوران انتظار قابل پرداخت می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ec",
                        "category": "health_insurance",
                        "question": "کیست مویی تحت پوشش درمان می‌باشد یا خیر؟",
                        "answer": "بله-در صورت تایید پرونده توسط کارشناس مربوطه، درمان کیست مویی نیز تحت پوشش این بیمه‌نامه می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ed",
                        "category": "health_insurance",
                        "question": "هزینه غربالگری تحت پوشش درمان خانواده می‌باشد؟",
                        "answer": "خیر- تحت پوشش بیمه‌درمان نمی‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ee",
                        "category": "health_insurance",
                        "question": "آیا بیمه‌درمان جراحی IUI را تحت پوشش خود قرار می‌دهد؟",
                        "answer": "در طرح هایی که پوشش نازایی و ناباروری دارند، اعمال جراحی مرتبط، IUI، ZIFT، GIFT، میکرواینجکشن و IVFو طبق شرایط خصوصی با 9 ماه دوران انتظار قابل پرداخت می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ef",
                        "category": "health_insurance",
                        "question": "آیا میتوانم برای زایمان از بیمه درمان تکمیلی استفاده کنم؟",
                        "answer": "بله، یکی از پوشش‌های بیمه درمان تکمیلی زایمان است. اما برای استفاده از آن باید قبل از دوران بارداری اقدام به خرید بیمه تکمیلی کنید؛ چرا که اغلب بیمه‌های درمان تکمیلی دوره انتظار دارند و قبل از پایان این دوره نمی‌توانید از بیمه تکمیلی استفاده کنید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f0",
                        "category": "health_insurance",
                        "question": "جراحی دیسک گردن تحت پوشش ‌درمان است؟",
                        "answer": "بله-در صورت تایید پرونده توسط کارشناس مربوطه، تحت پوشش بیمه‌درمان می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f1",
                        "category": "health_insurance",
                        "question": "در صورتیکه ماما دستور سونو یا آزمایش بدهد، هزینه آن تحت پوشش بیمه‌درمان قرار می‌گیرد یا نیاز به دستور متخصص زنان می‌باشد؟",
                        "answer": "طبق دستورالعمل تامین اجتماعی فقط تعداد معدودی آزمایش توسط ماما مورد قبول است فقط دستور سونوگرافی بارداری آن هم در 3 استان اصفهان، اردبیل و گلستان مورد قبول است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f2",
                        "category": "health_insurance",
                        "question": "در صورتیکه فیزیوتراپی توسط پزشک عمومی دستورش صادر شود پرداخت می‌شود؟",
                        "answer": "بله",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f3",
                        "category": "health_insurance",
                        "question": "اگر دستور پزشک برای دارو بصورت آزاد باشد، هزینه آن تحت پوشش‌های بیمه درمان پرداخت می‌شود یا باید حتما در دفترچه باشد (برای بیمه گذارانی که هنگام صدور دفترچه بیمه پایه داشته‌اند)؟",
                        "answer": "بله- بر اساس فهرست داروهای مجاز کشور صرفا مازاد بر سهم بیمه‌گر اول و طبق جدول فارماکوپه قابل پرداخت می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f4",
                        "category": "health_insurance",
                        "question": "انحراف بینی تحت پوشش بیمه‌درمان می‌باشد؟",
                        "answer": "هزینه انحراف عمل بینی در صورت تایید پزشک معتمد با رویت مدارک پزشکی و معاینه حضوری قبل از عمل قابل پرداخت است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f5",
                        "category": "health_insurance",
                        "question": "آیا بیمه درمان جراحی سینوس را پوشش می‌دهد؟",
                        "answer": "در صورت تایید پزشک معتمد با رویت مدارک پزشکی و معاینه حضوری قبل از عمل قابل پرداخت است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f6",
                        "category": "health_insurance",
                        "question": "آیا در بیمه‌درمان، هزینه داروهای خارجی نیز پرداخت می‌شود؟",
                        "answer": "داروها بر اساس فهرست داروهای مجاز کشور صرفا مازاد بر سهم بیمه‌گر اول و طبق جدول فارماکوپه قابل پرداخت می‌باشد",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f7",
                        "category": "health_insurance",
                        "question": "آیا بیمه تکمیلی درمان خانواده جراحی‌های لاغری را برای کسانی که به تشخیص پزشک نیاز به جراحی داشته باشند)؟",
                        "answer": "در پوشش‌های بیمه‌‍تکمیلی‌درمان خانواده در صورت تایید پزشک معتمد با رویت مدارک پزشکی و معاینه حضوری قبل از عمل قابل پرداخت است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f8",
                        "category": "health_insurance",
                        "question": "جراحی دندان عقل تحت پوشش بیمه‌درمان می‌باشد؟ جزء دندانپزشکی یا جراحی‌ها؟",
                        "answer": "بله تحت پوشش‌ بیمه‌درمان می‌باشد و از سقف دندانپزشکی قابل پرداخت می‌باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6f9",
                        "category": "health_insurance",
                        "question": "جراحی فتق تحت پوشش بیمه‌درمان است؟",
                        "answer": "در صورت تایید پزشک معتمد با رویت سونوگرافی قبل از عمل و معاینه بیمار، جراحی فتق تحت پوشش بیمه‌درمان است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6fa",
                        "category": "health_insurance",
                        "question": "چگونه بیمه درمان تکمیلی شویم؟ \nنحوه خرید بیمه تکمیلی به چه صورت می‌باشد؟",
                        "answer": "برای خرید بیمه تکمیلی می‌توان از طریق سایت‌های فروش اینترنتی بیمه اقدام کرد \nو با خرید بیمه درمان تکمیلی چه به‌صورت انفرادی و چه گروهی (شرکتی) می‌توانید از خدمات بیمه درمان تکمیلی استفاده کنید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6fb",
                        "category": "health_insurance",
                        "question": "فرق بیمه عمر و بیمه تکمیلی چیست؟",
                        "answer": "بیمه عمر پوشش‌های مختلفی دارد و برای سرمایه‌گذاری و دوران بازنشستگی نیز گزینه مناسبی محسوب می‌شود؛ اما بیمه درمان تکمیلی صرفا پوشش‌هایی برای بیماری‌ها و خدمات پزشکی دارد و خدمات دیگری به بیمه‌گذار ارائه نمی‌دهد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6fc",
                        "category": "health_insurance",
                        "question": "آیا بلافاصله بعد از خرید بیمه تکمیلی میتوانم از ان استفاده کنم؟",
                        "answer": "اغلب بیمه‌های درمان تکمیلی دوره انتظار دارند؛ به‌طوری‌که تا پایان مدت این دوره بیمه‌گذار نمی‌تواند از خدمات بیمه تکمیلی استفاده کند و بیمه‌گر هم تعهدی نسبت به بیمه‌گذار ندارد. بعد از اتمام این دوره بیمه‌گذار می‌تواند از بیمه تکمیلی خود استفاده کند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6fd",
                        "category": "health_insurance",
                        "question": "آیا امکان عضویت انفرادی در بیمه تکمیلی هست؟",
                        "answer": "خیر، تعداد بیمه شدگان (کارکنان واعضای خانواده) حداقل می‌بایست 50 نفر باشد",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6fe",
                        "category": "health_insurance",
                        "question": "چه کسانی میتوانند تحت پوشش بیمه درمان تکمیلی قرار بگیرند؟",
                        "answer": "بیمه شدگانی که تحت پوشش بیمه‌گر پایه (تامین اجتماعی، خدمات درمانی و….) باشند",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec6ff",
                        "category": "health_insurance",
                        "question": "آیا بیمه درمان تکمیلی گروهی را می‌توان به صورت خانوادگی یا دوستانه تهیه نمود؟",
                        "answer": "ارائه خدمات بیمه درمان تکمیلی صرفا به گروه هایی که دارای بیمه‌گر پایه بوده و توسط بیمه گذار حقوقی درخواست بیمه داده‌اند، قابل صدور خواهد بود. \nاعضای خانواده شامل افراد تحت تکفل (همسر، فرزندان، پدرو مادر) می‌باشند",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec700",
                        "category": "health_insurance",
                        "question": "منظور از فرانشیز چیست؟",
                        "answer": "سهم بیمه شده از خسارت است که میزان آن در شرایط بیمه نامه تعیین می‌شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec701",
                        "category": "health_insurance",
                        "question": "به چه کسانی فرانشیز تعلق میگیرد؟",
                        "answer": "در صورتیکه بیمه شده از سهم بیمه‌گر اول استفاده نکرده باشد فرانشیز به وی تعلق می‌گیرد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec702",
                        "category": "health_insurance",
                        "question": "فرزندان دختر و پسر تا چه زمانی می‌توانند تحت پوشش بیمه باشند؟",
                        "answer": "فرزندان مونث تاهنگام ازدواج یا اشتغال به کار بیمه می‌باشد\n-فرزندان مذکر مجرد حداکثر تا سن 22سال تمام به شرط عدم اشتغال",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec703",
                        "category": "health_insurance",
                        "question": "چه کسانی در طول قرارداد می‌توانند به لیست بیمه اضافه شوند؟",
                        "answer": "-نوزاد از بدو تولد\n-افراد جدیدالاستخدام\n-همسرتازه ازدواج کرده",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec704",
                        "category": "health_insurance",
                        "question": "چه کسانی می‌توانند در طول قرارداد از بیمه تکمیلی خارج شوند؟",
                        "answer": "-فوت\n-قطع رابطه همکاری (استعفا، اخراج، …) \n-خروج از کفالت (طلاق و….)",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec705",
                        "category": "health_insurance",
                        "question": "شرایط دریافت بیمه تکمیلی به چه صورت است؟ \n✔️",
                        "answer": "یکی از شرایط دریافت بیمه تکمیلی این است که هزینه‌های درمانی بیمه شدگان در خارج از کشور ایران با تایید سفارت ایران در کشور مورد نظر تا سقف تعهدات درج شده در این بیمه نامه بطور کامل پرداخت می‌شود و در متن مقاله نیز در رابطه با دیگر شرایط این بیمه توضیحات لازم آورده شده است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec706",
                        "category": "health_insurance",
                        "question": "در صورت تعهدات دارو در یک قرارداد کدام دارو‌ها قابل پرداخت نمی‌باشد؟",
                        "answer": "داروهای زیبایی و بهداشتی-داروهای گیاهی و داروهای تقویتی",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec707",
                        "category": "health_insurance",
                        "question": "آیا اعمال جراحی که به منظور زیبایی انجام میگیرد مانند نظیرجراحی بینی رینوپلاستی، ماموپلاستی و … قابل پرداخت است؟",
                        "answer": "بر اساس بند یک از ماده 7 شرایط عمومی بیمه در مان تکمیلی اعمال جراحی که برای زیبایی انجام میشود خارج از تعهدات بیمه نامه است مگر اینکه ناشی از حادثه‌ای باشد که در طول مدت بیمه رخ داده است. یعنی اگر بیمه شده در طول مدتی که بیمه درمان تکمیلی دارد به علت تصادف رانندگی دچار شکستگی بینی شود آنگاه بیمه‌گر هزینه‌های جراحی بینی را حتی اگر بخشی از آن مربوط به زیبایی باشد پرداخت خواهد کرد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec708",
                        "category": "health_insurance",
                        "question": "آیا تعهدات بیمه تکمیلی هزینه‌های دندانپزشکی را شامل میشود؟",
                        "answer": "طابق تعرفه‌های درمانی هزینه دندانپزشکی در صورت تعهد بیمه‌گر در قرارداد قابل پرداخت است",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec709",
                        "category": "health_insurance",
                        "question": "آیا هزینه‌های درمانی در مراکز درمانی غیر طرف قرارداد با بیمه‌گر قابل پرداخت هستند؟",
                        "answer": "بله ولی خسارت بر اساس مراکز هم تراز محاسبه و مازاد تعرفه‌ها مشمول کسور میگردد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70a",
                        "category": "health_insurance",
                        "question": "بیمارانی که اصل مدارک و صورت حسابهای بیمارستانی را می‌خواهند تحویل بیمه‌گر اول نمایند و متقاضی دریافت مابه التفاوت هزینه‌ها می‌باشند چه مدارکی را باید تحویل بیمه‌گر بدهند؟",
                        "answer": "الف) فتوکپی برابر اصل شده مدارک و صورتحساب توسط بیمه‌گر اول *\nب) رسید مبلغ دریافتی بابت هزینه درمان بیمه شده که به تائید بیمه‌گر اول رسیده باشد یا تصویر چک دریافتی بابت هزینه درمان بیمه شده از بیمه‌گر",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70b",
                        "category": "health_insurance",
                        "question": "آیا بیمه هزینه سمعک راپرداخت می‌کند؟",
                        "answer": "مطابق تعرفه‌های درمانی هزینه سمعک در صورت تعهد بیمه‌گر در قرارداد قابل پرداخت است",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70c",
                        "category": "health_insurance",
                        "question": "اعمال جراحی اصلی کدامند (6 عمل مهم)؟",
                        "answer": "هزینه جراحی تخصصی 6 عمل اصلی شامل: مغز و اعصاب (به استثنای ستون فقرات)، قلب باز و آنژیوپلاستی، پیوند کلیه، پیوند ریه، پیوند کبد، پیوند مغز استخوان",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70d",
                        "category": "health_insurance",
                        "question": "مدارک مورد نیاز جهت صدور معرفینامه چیست؟",
                        "answer": "دستور پزشک – کارت شناسایی – تاریخ بستری – نوع عمل جراحی _ کپی کارت درمانی یا نامه بیمه گذار یا نامه نماینده",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70e",
                        "category": "health_insurance",
                        "question": "آیا بیمه تکمیلی انفرادی وجود دارد؟",
                        "answer": "بطور کلی برای جلوگیری از انتخاب ریسک‌های نامناسب بیمه تکمیلی بصورت انفرادی فروخته نمی‌شود و بصورت گروهی (حداقل 50 نفر) عرضه میگردد. شرکت‌های بیمه با عرضه گروهی بیمه تکمیلی در واقع ریسک‌های خوب و ریسک‌های بد یا به عبارت دیگر افراد سالم و افراد بیمار را بصورت درهم و مخلوط بیمه میکنند تا با استفاده از قانون اعداد بزرگ از زیان احتمالی جلوگیری کرده باشند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec70f",
                        "category": "health_insurance",
                        "question": "هزینه‌های پاراکلینیکی در بیمه تکمیلی چیست؟",
                        "answer": "پاراکلینیک به معنای مجموعه خدمات بهداشتی و درمانی است مربوط به ناهنجاری‌ها و مشکلات نهفته در بدن که با معاینه عادی کشف نمی‌گردد و مستلزم بررسی‌های آزمایشگاهی با استفاده از تجهیزات خاص میباشد. هزینه‌های پاراکلینیکی در دو بسته یا گروه در بیمه تکمیلی عرضه میگردد: \nهزینه‌های پاراکلینیکی 1 در بیمه تکمیلی: شامل جبران هزینه انواع رادیوگرافی، آنژیوگرافی، آنژیوگرافی عروق محیطی، آنژیوگرافی چشم، سونوگرافی، ماموگرافی و انواع اسکن، ام آر آی، پزشکی هسته‌ای (شامل اسکن هسته‌ای و درمان رادیو ایزوتوپ)، دانسیتومتری\nهزینه‌های پاراکلینیکی 2 در بیمه تکمیلی: جبران هزینه انواع آندوسکوپی، خدمات تشخیصی قلبی و عروقی، شامل انواع الکترو کاردیوگرافی، انواع اکو کاردیو گرافی، انواع هولتر مانیتورینگ، تست ورزش، آنالیز پیس میکر، EECP، تیلت تست، خدمات تشخیصی تنفسی شامل (اسپیرومتری و PFT)، خدمات تشخیصی الکترو میلو گرافی و هدایت عصبی (EMG NCV)، الکتروانسفالوگرافی (EEG)، خدمات تشخیصی یورودینامیک (نوار مثانه)، خدمات تشخیصی و پرتو پزشکی چشم مانند اپتومتری، پریمتری، بیومتری و پنتاکم، شنوایی سنجی (انواع رادیو متری)",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec710",
                        "category": "health_insurance",
                        "question": "چگونه از بیمه تکمیلی استفاده کنیم؟",
                        "answer": "برای استفاده از بیمه تکمیلی دو روش وجود دارد\n1- روش مستقیم یا آنلاین: در این روش بیمه شده با مراجعه مستقیم به مراکز وبیمارستان‌های طرف قرارداد با بیمه پارسیان از خدمات بیمه تکمیلی بهره مند میشود در واقع مراکز درمانی طرف قرارداد از طریق سیستم آنلاین سدا این امکان را دارند که با وارد کردن کد ملی بیمه شده از جزییات بیمه تکمیلی ایشان مطلع و بر همان اساس به نامبرده خدمات بدهند و هیچ هزینه‌ای به جز فرانشیز بیمه تکمیلی و هزینه خدمات خارج از تعهدات بیمه تکمیلی (استثنائات قرارداد) از بیمه شده دریافت نمی‌کنند\n2- روش غیر مستقیم یا آفلاین: در این روش بیمه شده به مراکز درمانی غیر طرف قرارداد با بیمه پارسیان مراجعه میکند و طبیعتا هزینه خدمات پزشکی دریافت شده را شخصا پرداخته و اسناد و مدارک مربوطه را به شرکت بیمه تحویل میدهد تا پس از بررسی که معمولا یک هفته طول میکشد مبلغ تعهد شده به حساب بیمه شده واریز گردد. \nدر صورتیکه به بیمارستان و یا مراکز درمانی مراجعه کرده‌اید که با سازمان تامین اجتماعی هم قرارداد ندارند برای دریافت سهم سازمان تامین اجتماعی از هزینه‌های انجام شده می‌بایست ابتدا اسناد وصورت حساب‌های خود را به سازمان تامین اجتماعی تحویل دهید. در تهران میبایست به دفتر رسیدگی اسناد پزشکی استان تهران سازمان تامین اجتماعی واقع در خیابان کارگر شمالی روبروی پارک لاله ساختمان 254 مراجعه و کلیه اسناد و مدارک را تحویل سازمان فوق بدهید تا پس از بررسی که معمولا حدود یک ماه طول میکشد سهم بیمه‌گر پایه یا سازمان تامین اجتماعی به حساب شما واریز گردد. پس از واریز وجه توسط سازمان تامین اجتماعی به حساب بیمه شده میبایست گواهی مبلغ پرداخت شده از سایت آن سازمان دریافت وبه همراه کپی برابر اصل مدارک ارایه شده به سازمان تامین اجتماعی برای بررسی و محاسبه به بیمه‌گر بیمه تکمیلی تحویل گردد. \nتوصیه ما به بیمه شدگان بیمه تکمیلی این است که از روش مستقیم یا آنلاین استفاده کنند چون اولا هزینه‌ای پرداخت نمی‌کنند و ثانیا مرکز درمانی طرف قرارداد برای محاسبه هزینه‌های مربوطه از تعرفه توافق شده با شرکت بیمه استفاده میکند که معمولا تخفیف‌های قابل ملاحظه‌ای در نظر گرفته شده است لیکن در مراجعه مستقیم بیمه شدگان از مزایای این تخفیف‌ها بی بهره میشوند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec711",
                        "category": "health_insurance",
                        "question": "آیا داشتن چند بیمه تکمیلی به طور همزمان برای یک نفر امکان پذیر است؟",
                        "answer": "برای پاسخ به این سوال ابتدا می‌بایست یک توضیح مقدماتی داده شود، به طور کلی بر اساس اصول حاکم بر قراردادهای بیمه، در بیمه درمان تکمیلی بیمه شده نباید از وقوع بیماری منتفع گردد بلکه باید زیان ناشی از پرداخت هزینه‌های بیماری جبران گردد و عدم تعادل ایجاد شده در شرایط مالی بیمه شده به حالت قبل از وقوع بیماری برگردد. به عنوان مثال چنانچه بیمه شده ده میلیون تومان هزینه کرده باشد حداکثر ده میلیون تومان از بیمه تکمیلی خسارت میتواند بگیرد و نه بیشتر بنابراین صرف داشتن همزمان چند بیمه تکمیلی برای یک نفر هیچ اشکالی ندارد اما هرگز بیمه شده نمی‌تواند به طور همزمان از تمام بیمه نامه‌ها استفاده کند به گونه‌ای که از بیماری منتفع گردد. هرچند اگر هزینه‌های انجام شده توسط بیمه شده بیش از سقف تعهدات بیمه تکمیلی اول باشد بیمه شده می‌تواند مازاد بر تعهدات بیمه اول را از بیمه دوم دریافت کند و الی آخر. به عنوان مثال اگر سقف تعهد بیمه تکمیلی اول 5 میلیون تومان باشد بیمه شده‌ای که هزینه بیمارستان وی ده میلیون تومان شده است می‌تواند پس از دریافت خسارت 5 میلیون تومان از بیمه‌گر اول جهت دریافت 5 میلیون تومان دوم به بیمه‌گر دوم مراجعه نماید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec712",
                        "category": "health_insurance",
                        "question": "آیا بیمه تکمیلی هزینه‌های ناشی از حوادث رانندگی را پرداخت می‌کند؟",
                        "answer": "مصدومان حوادث رانندگی بر اساس ماده قانونی زیر به صورت کاملا رایگان در مراکز درمانی پذیرش و درمان میشوند و تا 60 روز پس از ترخیص نیزمی توانند پیگیری درمان انجام شده را به صورت کاملا رایگان داشته باشند اما چنانچه مصدوم دارای بیمه تکمیلی باشد و قصد استفاده از خدمات بیمارستان‌های خصوصی را داشته باشد بیمه تکمیلی پس از کسر فرانشیز ملزم به پرداخت هزینه‌ها در چهارچوب قرارداد منعقد شده خواهد بود. لازم به ذکر است بیمه‌گر پایه (تامین اجتماعی، خدمات درمانی، بیمه سلامت و …) هزینه‌های حوادث رانندگی را پرداخت نمی‌کنند. \nماده30 قانون الحاق برخی مواد به قانون تنظیم بخشی از مقررات مالی دولت: \nوزارت بهداشت، درمان و آموزش پزشکی موظف است اقدامات لازم برای درمان فوری و بدون قید و شرط مصدومان حوادث و سوانح رانندگی در همه واحدهایبهداشتی و درمانی دولتی و غیردولتی و همچنین در مسیر اعزام به مراکز تخصصی و مراجعات ضروری بعدی را به عمل آورد. برای تأمین بخشی از منابع لازمجهت ارائه خدمات تشخیصی و درمانی به این مصدومان، معادل ده‌درصد (10%) از حق بیمه پرداختی شخص ثالث، سرنشین و مازاد به‌طور مستقیم طی قبض جداگانه به حساب درآمدهای اختصاصی نزد خزانه‌داری کل‌کشور در چهارچوب اعتبارات مصوب بودجه سنواتی به نام وزارت بهداشت، درمان و آموزش پزشکی واریز می‏شود. توزیع این منابع بین دانشگاههای علوم پزشکی توسط وزارتخانه مذکور با تأیید سازمان مدیریت و برنامه‌ریزی کشور براساس عملکرد واحدهای یادشده بر مبنای تعرفه‌های مصوب هر سه ماه یک‌‌‌‌بار صورت می‌گیرد. وزارت بهداشت، درمان و آموزش پزشکی موظف است هزینه‌کرد اعتبارات مذکور را هر شش ماه یک‌‌‌‌بار به بیمه مرکزی جمهوری اسلامی ایران و سازمان مدیریت و برنامه‌ریزی کشور و کمیسیون بهداشت و درمان مجلس شورای اسلامی گزارش کند. بیمه مرکزی جمهوری اسلامی ایران مسؤول حسن اجرای این ماده است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec713",
                        "category": "health_insurance",
                        "question": "بیمه تکمیلی چیست؟",
                        "answer": "بیمه تکمیلی بیمه نامه‌ای است که هزینه‌های ناشی از بیماری و حوادث را پرداخت میکند و از آنجاییکه تکمیل کننده پوشش بیمه‌های تامین اجتماعی و خدمات درمانی می‌باشد به آن بیمه درمان تکمیلی گفته میشود. سازمان‌های بیمه گرپایه همچون سازمان تامین اجتماعی و سازمان خدمات درمانی، خدمات خود را دربیمارستان‌ها و مراکز درمانی خود و مراکز دولتی ارایه میکنند و یا در صورت مراجعه بیمه شده تامین اجتماعی به بیمارستان‌ها و مراکز بخش خصوصی هزینه‌ها را بر مبنای تعرفه سازمان تامین اجتماعی و تعرفه دولتی محاسبه و پرداخت میکنند و همین موضوع باعث میشود بیمه شده در صورت مراجعه به مراکز درمانی بخش خصوصی هزینه‌های سرسام آوری را شخصا پرداخت کند. با توجه به موارد فوق وهمچنین افزایش هزینه‌های درمان در جامعه داشتن بیمه تکمیلی بیش از پیش ضروری به نظر میرسد. \nدربیمه تکمیلی هزینه‌های بستری شدن و جراحی در بیمارستان، رادیوتراپی، شیمی درمانی، آنژیوگرافی قلب، گامانایف، هزینه‌های زایمان، هزینه‌های‌های پاراکلینیکی از قبیل سونوگرافی، رادیولوژی، ماموگرافی، انواع اسکن، آندوسکوپی، ام آر آی، آزمایشگاه و همچنین هزینه‌های دندان پزشکی، دارو، ویزیت، عینک، سمعک , … پرداخت میگردد البته لازم به ذکر است هر قرارداد بیمه تکمیلی شرایط خاص خود را دارد و با توجه به تعداد نفرات، مقدار حق بیمه، مقدار فرانشیز ممکن است تعهدات متفاوتی داشته باشد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec714",
                        "category": "health_insurance",
                        "question": "آیا بیمه تکمیلی هزینه‌های عمل جراحی تعویض مفصل زانو یا لگن را پرداخت میکند؟",
                        "answer": "بله کلیه هزینه‌های مربوط به تعویض مفصل زانو و مفصل لگن جزو تعهدات بیمه تکمیلی است. پرداخت هزینه‌های عمل زانو و لگن از محل تعهدات جراحی‌های عمومی و تا سقف تعهدات مندرج در قرارداد پس از کسر فرانشیز قابل پرداخت است. هزینه‌های مربوط به خرید پروتز یا مفصل مصنوعی زانو و لگن نیز جزو تعهدات بیمه تکمیلی است. پرداخت فاکتور خرید پروتز منوط به تایید و مهر و امضا فاکتور بوسیله تیم جراح و اطاق عمل مبنی بر استفاده این لوازم در بدن بیمار است. چنانچه شرکت بیمه با مراکز فروش پروتز قرارداد نداشته باشد میبایست پروتز توسط بیمه شده خریداری شود و پس از ترخیص با ارائه مدارک به شرکت بیمه هزینه آن حداکثر تا سقف تعهدات بیمه نامه و پس از کسر فرانشیز دریافت گردد.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec715",
                        "category": "health_insurance",
                        "question": "آیا بیمه درمان تکمیلی را می‌توان به صورت انفرادی نیز صادر نمود؟",
                        "answer": "بیمه درمان تکمیلی برای گروه‌های بیش از ۱۰۰ نفر قابل صدور خواهد بود.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec716",
                        "category": "health_insurance",
                        "question": "بهترین روش برای انجام درمان و مدیریت هزینه‌های آن برای بیمه شدگان چیست؟",
                        "answer": "دریافت دستور پزشک و تحویل آن به شرکت بیمه‌گر به منظور دریافت معرفی نامه به مرکز درمانی مورد نظر، که در اینصورت شرکت بیمه کلیه هزینه‌های درمانی تا سقف تعهدات را مستقیما به مرکز درمانی پرداخت می‌نماید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec717",
                        "category": "health_insurance",
                        "question": "در صورتیکه امور درمانی بدون معرفی نامه در مراکز درمانی غیر طرف قرارداد انجام شود، بیمه‌گر هزینه‌ها را چگونه پرداخت می‌نماید؟",
                        "answer": "عموما بیمه‌گر هزینه را بر حسب مرکز درمانی طرف قرارداد خود، محاسبه نموده و معادل آن را به بیمه شده پرداخت می‌نماید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec718",
                        "category": "health_insurance",
                        "question": "آیا امکان صدور معرفینامه آنلاین وجود دارد؟",
                        "answer": "همه مراکز طرف قرارداد امکان صدور آنلاین معرفینامه را دارند اما می‌بایست قبل از مراجعه، تماس بگیرند.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec719",
                        "category": "health_insurance",
                        "question": "آیا امکان صدور بیمه نامه درمان انفرادی وجود دارد؟",
                        "answer": "خیر این بیمه نامه فقط بصورت گروهی بیش از 50 نفر قابل صدور است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71a",
                        "category": "health_insurance",
                        "question": "استعلام خسارت درمان به چه صورت انجام می‌گیرد؟",
                        "answer": "با مراجعه به سایت قسمت خدمات الکترونیک بخش معرفینامه و استعلام خسارت درمان و در نهایت استعلام خسارت درمان",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71b",
                        "category": "health_insurance",
                        "question": "آیا هزینه عینک در درمان تکمیلی پرداخت میشود؟",
                        "answer": "بله تا سقف تعهدات پرداخت می‌شود",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71c",
                        "category": "health_insurance",
                        "question": "پوشش‌های اصلی بیمه‌نامه درمان تکمیلی چیست؟",
                        "answer": "پوشش‌های اصلی این‌گونه بیمه‌نامه‌ها عبارت‌اند از جبران هزینه جراحی و بستری شدن در بیمارستان، اعمال جراحی‌های مهم، زایمان طبیعی و سزارین، هزینه‌های سرپایی شامل انواع اسکن، MRI، سونوگرافی، ماموگرافی، اکو، کاردیوگرافی، جراحی‌های محدود، تست ورزش، نوار عضله، عصب و مغز، رفع عیوب انکساری چشم و لیزر درمانی.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71d",
                        "category": "health_insurance",
                        "question": "کدام پوشش‌های اضافی از طریق پرداخت حق‌بیمه اضافی در بیمه‌نامه درمان تکمیلی، قابل ارائه است؟",
                        "answer": "پوشش‌های اضافی مانند جبران هزینه‌های دارو و ویزیت، خدمات آزمایشگاهی، فیزیوتراپی، سمعک، عینک و لنز طبی، خدمات دندان‌پزشکی نیز با دریافت حق‌بیمه اضافی قابل ارائه است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71e",
                        "category": "health_insurance",
                        "question": "حدکثر سن بیمه‌شدگان در بیمه‌نامه درمان تکمیلی چند سال است؟",
                        "answer": "حداکثر سن بیمه‌شدگان از 70 سال بیشتر نیست.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec71f",
                        "category": "health_insurance",
                        "question": "اگر در طول قرارداد بیمه شده اصلی (سرپرست) بازنشسته، ازکارافتاده و یا فوت گردد، وضعیت ادامه بیمه تکمیلی چگونه خواهد بود؟",
                        "answer": "در صورت فوت، بازنشستگی و یا از کار افتادگی بیمه شده اصلی (درطول قرارداد منعقده فیما بین بیمه‌گر و بیمه گذار)، پوشش بیمه‌ای بازماندگان متوفی، بازنشستگان و از کار افتادگان و بیمه شدگان تبعی ایشان، مشروط به پرداخت حق بیمه (با توافق بیمه‌گر و بیمه گذار)، صرفأ تا پایان مدت قرارداد ادامه خواهد یافت.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec720",
                        "category": "health_insurance",
                        "question": "در بیمه‌های درمان کدام هزینه‌ها از سوی بیمه‌گر پرداخت نمی‌گردد؟",
                        "answer": "هزینه‌های زیر از شمول تعهدات بیمه‌گر خارج است: 1 - اعمال جراحی که به‌منظور زیبایی انجام می‌شود، مگر اینکه ناشی از وقوع حادثه در طی مدت بیمه باشد. 2 - عیوب مادرزادی مگر اینکه طبق تشخیص پزشک معالج و تأیید پزشک معتمد بیمه‌گر، رفع این عیوب جنبه درمانی داشته باشد. 3 - سقط جنین مگر در موارد قانونی با تشخیص پزشک معالج. 4 - ترک اعتیاد. 5 - خودکشی و اعمال مجرمانه. 6 - حوادث طبیعی مانند سیل، زلزله و آتشفشان. 7 - جنگ، شورش، اغتشاش، بلوا، اعتصاب، قیام، آشوب، کودتا و اقدامات احتیاطی مقامات نظامی و انتظامی و عملیات خرابکارانه بنا به تأیید مقامات ذی‌صلاح. 8 - فعل و انفعالات هسته‌ای. 9 - هزینه اتاق خصوصی مگر در موارد ضروری به تشخیص پزشک معالج و تأیید پزشک معتمد بیمه‌گر. 10 - هزینه همراه بیماران بین 7 سال تا70 سال مگر در موارد ضروری به تشخیص پزشک معالج و تأیید پزشک معتمد بیمه‌گر. 11 - جنون. 12 - جراحی لثه. 13 - زایمان برای فرزند چهارم و بیشتر. 14 - لوازم بهداشتی و آرایشی که جنبه دارویی ندارند. 15 - جراحی فک مگر آنکه به‌علت وجود تومور و یا وقوع حادثه تحت پوشش باشد. 16 - هزینه‌های مربوط به معلولیت ذهنی و ازکارافتادگی کلی 17 - بیماریهای فراگیر (اپیدمی) 18-کلیه هزینه‌های پزشکی که در مراحل تحقیقاتی بوده و تعرفه درمانی آن ازسوی وزارت بهداشت، درمان و آموزش پزشکی تدوین و اعلام نگردیده است. 19 - هزینه‌های درمان بیمه شده‌ای، که ثابت شود در شروع قرارداد، مبتلا به بیماریهای غیر قابل درمان بوده است.",
                        "deleted": false
                    },
                    {
                        "id": "6468b192cc083e4d2c1ec721",
                        "category": "health_insurance",
                        "question": "آیا برای هزینه‌های جراحی و بستری در بیمارستان خصوصی سقفی وجود دارد؟",
                        "answer": "پرداخت هزینه‌های درمان تکمیلی شرکت سهامی بیمه پارسیان براساس تعرفه‌های مصوب با مراجع درمانی می‌باشد. در صورتی که بیمه شده از بیمارستان غیر طرف قرارداد استفاده نماید یا به بیمارستان طرف قراردادمراجعه نماید اما از موارد خارج از مفادقرارداد (مانند هزینه فردهمراه یا….) استفاده نماید می‌بایست هزینه‌های مربوطه را خود پرداخت نماید.",
                        "deleted": false
                    },
                    {
                        "id": "6468b1c4cc083e4d2c1ec7d6",
                        "category": "health_insurance",
                        "question": "تعریف بیمه مسافرتی hi",
                        "answer": "بیمه نامه عبارت است از پوشش صدمات بدنی و بیماری بیمه شده که پس از شروع سفر به خارج بروز نموده و یا عارضه ناگهانی و غیر قابل پیشبینی که ابتلا به آن یا آغاز آن پس از شروع سفر به خارج بوده و موجب درخواست امداد از طرف بیمه شده یا نمایندگان وی شود.",
                        "deleted": false
                    },
                    {
                        "id": "6468c558f825670a513f72dd",
                        "category": "health_insurance",
                        "question": "سوال های بیمه درمان",
                        "answer": "پاسخ",
                        "deleted": false
                    }
                ]
                this.getQuestionsLoading = false
            }, 3000)


            // this.$api.post(`/api/admin/faqs/getQuestionsByCategory`, this.questionsObj)
            //     .then(response => {
            //
            //         this.questionsResponseData = response.data.data
            //
            //         this.getQuestionsLoading = false
            //
            //     }).catch(error => {
            //     console.log(error, ' error')
            //     this.getQuestionsLoading = false
            //     this.responseData = null
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })

        },
        editQuestion() {
            // this.editQuestionsLoading = true
            // this.responseData = null
            //
            // // this.modalData.question = this.editedQuestion
            //
            // this.editQuestionsObj.q = this.editedQuestion
            // this.editQuestionsObj.a = this.editedAnswer
            // this.editQuestionsObj.category = this.selected_insurance.categoryLabel
            //
            // this.$api.post(`/api/admin/faqs/updateQA/${this.modalData.id}`, this.editQuestionsObj)
            //     .then(response => {
            //
            //         this.editQuestionsResponseData = response.data.data
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.editQuestionsLoading = false
            //         this.closeEditModal()
            //         this.getQuestions()
            //
            //     }).catch(error => {
            //     console.log(error, ' error')
            //     this.editQuestionsLoading = false
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })
        },
        deleteQuestion() {
            // this.deleteQuestionsLoading = true
            // this.responseData = null
            //
            // this.$api.get(`/api/admin/faqs/deleteQuestion/${this.modalData.id}`)
            //     .then(response => {
            //
            //         this.deleteQuestionsResponseData = response.data.data
            //
            //         if (response.data.success) {
            //             this.responseType = 'success'
            //         } else {
            //             this.responseType = 'error'
            //         }
            //
            //         this.responseData = response.data.message
            //         this.toastTimeOut()
            //
            //         this.deleteQuestionsLoading = false
            //         this.closeDeleteModal()
            //         this.getQuestions()
            //
            //     }).catch(error => {
            //     this.deleteQuestionsLoading = false
            //     console.log(error, ' error')
            //     this.responseType = 'error'
            //     this.responseData = error.response.data.message
            //     this.toastTimeOut()
            //
            // })
        },
        changeQuestion(event) {
            this.editedQuestion = event.target.value
        },
        changeAnswer(event) {
            this.editedAnswer = event.target.value
        },
        selectedFilterObj(selectedObj) {
            this.editQuestionsObj.category = selectedObj.value
            this.selected_filter_obj = selectedObj
        },
    }
}
</script>

<style scoped>

</style>