<template>
    <div class="px-5 w-full rounded-md mb-4">
        <div class="flex animate-pulse flex-row items-center justify-center">
            <div class="w-full flex flex-col space-y-3">
                <div class="w-full flex flex-row-reverse justify-end">
                    <div class="w-full h-6 shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-sm py-5 px-4 bg-gray-300 text-[#fff] rounded"></div>
                </div>
                <div class="w-full flex flex-row-reverse justify-start">
                    <div class="w-full h-6 shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-sm py-5 px-4 bg-gray-300 text-[#000] rounded"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "QuestionSkeleton"
}
</script>

<style scoped>

</style>