<template>
    <div class="md:static fixed w-full py-3 px-4 bg-[#fff] md:border-none border-t z-[2]"
         :style="{top:`${mobileNavigationHeight}px`}"
         ref="selectedCategory">
        <div class="flex items-first justify-between w-full">
            <div class="flex">
                <div class="min-w-[50px] min-h-[50px] w-[50px] h-[50px] relative flex justify-center items-center rounded-full">
                    <img :src="`/img/insurances/${selected_insurance.categoryLabel}.svg`"
                         class="w-max h-max"
                         :alt="selected_insurance.categoryLabel"/>
                </div>
                <div v-if="selected_insurance"
                     class="flex mr-4 flex-col justify-center">
                    <div class="flex flex-col">
                        <span class="w-full text-md mb-2">{{ selected_insurance.categoryPersianLabel }}</span>
                        <span class="w-full text-xs">
                            {{
                            `تنها سوالات مربوط به ${selected_insurance.categoryPersianLabel} را در اینجا وارد نمایید.`
                            }}
                        </span>
                    </div>

                </div>
            </div>

            <div class="flex flex-col justify-evenly items-end md:hidden">
                <button @click="goToDashboard"
                        class="flex items-center">
                    <!--                    <span class="text-xs">انتخاب بیمه</span>-->
                    <img src="@/assets/img/left-arrow.png"
                         alt="left arrow"
                         class="w-6 h-6"/>
                </button>

            </div>

        </div>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'pinia'
    import {useGlobalStore} from "@/stores/global";

    export default {
        name: "Navbar",
        data() {
            return {
                selected_insurance: {},
                mobileNavigationHeight: 0
            }
        },
        computed: {
            ...mapState(useGlobalStore, ['selected_user_insurance', 'selected_admin_insurance'])
        },
        mounted() {
            setTimeout(() => {
                this.setSelectedCategoryHeight(this.$refs['selectedCategory'].getBoundingClientRect().height)
                this.mobileNavigationHeight = parseInt(localStorage.getItem('mobileNavigationHeight'))
            }, 500)
        },
        beforeMount() {
            if (JSON.parse(localStorage.getItem('selected_user_insurance'))) {
                this.selected_insurance = JSON.parse(localStorage.getItem('selected_user_insurance'))
            } else if (JSON.parse(localStorage.getItem('selected_admin_insurance'))) {
                this.selected_insurance = JSON.parse(localStorage.getItem('selected_admin_insurance'))
            }
        },
        methods: {
            ...mapActions(useGlobalStore, ['setSelectedCategoryHeight', 'navigateToDashboard']),
            goToDashboard() {
                this.navigateToDashboard()
                this.closeDrawer()
            }
        },
    }
</script>

<style scoped>

</style>