<template>

  <!--        desktop-->
    <div v-if="!isMobile"
         class="flex md:fixed h-full right-0 top-0 border-[#D0D0D0] w-max"
         :class="!$route.path.includes('/profile') ? 'border-l max-w-[300px]' : 'max-w-full'">
        <tabs></tabs>
        <insurances v-if="!$route.path.includes('/profile') && !$route.path.includes('/no-answers')"></insurances>
    </div>

  <!--    mobile-->
    <div v-if="isMobile && !$route.path.includes('/profile') && !$route.path.includes('/insurance-categories')
         && !$route.path.includes('/no-answers')"
         class="flex h-full border-[#D0D0D0] w-full">
        <insurances></insurances>
    </div>

</template>

<script>

import Tabs from "~/components/Tabs.vue";
import {mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "Sidebar",
    components: {Tabs},
    computed: {
        ...mapState(useGlobalStore, ['isMobile']),
    },
    mounted() {
        console.log(this.isMobile, ' isMobile')
    }
}
</script>

<style scoped>

</style>