<template>
  <!--    <div class="flex flex-col">-->
  <!--        <div class="flex mb-4 justify-start">-->
  <!--            &lt;!&ndash;            <div v-for="question in suggestedQuestions"&ndash;&gt;-->
  <!--            &lt;!&ndash;                 class="mr-2 max-w-[500px] shadow-[0_4px_10px_rgba(0,0,0,0.1)] text-xs p-2 bg-[#fff] text-[#000] rounded-xl">&ndash;&gt;-->
  <!--            &lt;!&ndash;                {{ question.value }}&ndash;&gt;-->
  <!--            &lt;!&ndash;            </div>   &ndash;&gt;-->


    <div v-if="suggestedQuestions.length > 0"
         class="flex items-center mb-2">
        <button @click="swipeRight($event)"
                class="ml-3">
            <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.389337 17.3631C0.16026 17.1006 0.0315905 16.7446 0.0315905 16.3735C0.0315905 16.0024 0.16026 15.6464 0.389337 15.3838L6.04895 8.90442L0.389337 2.42501C0.269153 2.2968 0.172755 2.14219 0.105897 1.9704C0.0390387 1.79861 0.003088 1.61317 0.000190735 1.42513C-0.00270748 1.23709 0.0275068 1.05031 0.0890303 0.875931C0.150554 0.701551 0.242126 0.543142 0.358285 0.410158C0.474443 0.277174 0.612808 0.172337 0.765125 0.1019C0.917442 0.0314655 1.08059 -0.00312233 1.24484 0.00019455C1.40909 0.00351143 1.57107 0.0446682 1.72112 0.121212C1.87117 0.197754 2.00622 0.308113 2.11821 0.445705L8.64225 7.91477C8.87133 8.17736 9 8.5333 9 8.90442C9 9.27554 8.87133 9.63149 8.64225 9.89407L2.11821 17.3631C1.88885 17.6254 1.57794 17.7727 1.25377 17.7727C0.929607 17.7727 0.618698 17.6254 0.389337 17.3631Z"
                      fill="#4B4B4B"/>
            </svg>
        </button>
        <div ref="suggestions"
             class="flex overflow-x-auto suggestions py-3 scroll-smooth">
            <section v-for="suggested in suggestedQuestions"
                     @click="setQuestion(suggested.question)"
                     class="cursor-pointer text-xs ml-2 p-2 bg-[#fff] flex-shrink-0 rounded-full shadow-[0_4px_10px_rgba(0,0,0,0.1)]">
                <span>{{ suggested.question }}</span>
            </section>
        </div>
        <button @click="swipeLeft"
                class="rotate-180 mr-3">
            <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.389337 17.3631C0.16026 17.1006 0.0315905 16.7446 0.0315905 16.3735C0.0315905 16.0024 0.16026 15.6464 0.389337 15.3838L6.04895 8.90442L0.389337 2.42501C0.269153 2.2968 0.172755 2.14219 0.105897 1.9704C0.0390387 1.79861 0.003088 1.61317 0.000190735 1.42513C-0.00270748 1.23709 0.0275068 1.05031 0.0890303 0.875931C0.150554 0.701551 0.242126 0.543142 0.358285 0.410158C0.474443 0.277174 0.612808 0.172337 0.765125 0.1019C0.917442 0.0314655 1.08059 -0.00312233 1.24484 0.00019455C1.40909 0.00351143 1.57107 0.0446682 1.72112 0.121212C1.87117 0.197754 2.00622 0.308113 2.11821 0.445705L8.64225 7.91477C8.87133 8.17736 9 8.5333 9 8.90442C9 9.27554 8.87133 9.63149 8.64225 9.89407L2.11821 17.3631C1.88885 17.6254 1.57794 17.7727 1.25377 17.7727C0.929607 17.7727 0.618698 17.6254 0.389337 17.3631Z"
                      fill="#4B4B4B"/>
            </svg>
        </button>
    </div>

</template>

<script>
export default {
    name: "SuggestedQuestions",
    data() {
        return {
            getSuggestedQuestionsLoading: false,
            suggestedQuestions: [],
            suggestedObj: {}
        }
    },
    created() {
        this.getSuggestedQuestions()
    },
    methods: {
        getSuggestedQuestions() {
            this.getSuggestedQuestionsLoading = true

            this.suggestedObj.category = this.$route.params.slug
            // setTimeout(() => {
                this.suggestedQuestions = [
                    {
                        "question": "آیا می‌توان در طرح‌های درمان شرکت تغییرات دلخواه را اعمال نمود؟",
                        "count": 6
                    },
                    {
                        "question": "آیا بلافاصله بعد از خرید بیمه تکمیلی میتوانم از ان استفاده کنم؟",
                        "count": 3
                    },
                    {
                        "question": "استعلام خسارت درمان به چه صورت انجام می‌گیرد؟",
                        "count": 1
                    }
                ]
                this.getSuggestedQuestionsLoading = false
            // }, 3000)
            // this.$api.post(`/api/user/getMAQByCategory`, this.suggestedObj)
            //     .then(response => {
            //
            //         this.suggestedQuestions = response.data.data
            //
            //         this.getSuggestedQuestionsLoading = false


            // }).catch(error => {
            // console.log(error, ' error')
            // console.log(error.response.data, ' error')
            // this.responseType = 'error'
            // this.responseData = error.response.data.message
            //
            // this.toastTimeOut()
            //
            // this.getSuggestedQuestionsLoading = false
            //
            // if (type === 'resend') {
            //     this.resendCode = false
            // }
            //
            // this.errors = {}
            // let errMsg = ''
            // const errors = {}
            // Object.keys(error.response.data.errors).map((key) => {
            //     errors[key] = error.response.data.errors[key].join()
            //     errMsg += `<li>${errors[key]}</li>`
            // })
            // this.errors = errors
            //
            // if (Object.values(errors)) {
            //     this.errorMessage = Object.values(errors)[0]
            // }

            // })

        },

        swipeLeft(event) {
            const suggestions = this.$refs.suggestions;
            suggestions.scrollLeft -= 300;
            event.preventDefault();
        },
        swipeRight(event) {
            const suggestions = this.$refs.suggestions;
            suggestions.scrollLeft += 300;
            event.preventDefault();

        },
        setQuestion(value) {
            this.$emit('selectQuestion', value)
        }
    }
}
</script>

<style scoped>

</style>