<template>
    <div class="h-full w-[60px]">
        <div class="flex flex-col items-center justify-between bg-[#fff] border-[#D0D0D0] border-l h-full py-4 px-2">
            <div>
                <img src="@/assets/img/parsian.png"
                     class="h-20"/>
            </div>
            <div class="flex flex-col items-center">
                <button class="w-10 h-10 flex items-center justify-center mb-2 hover:bg-primary-700 [&_path:first-child]:hover:stroke-[#fff] [&_path:last-child]:hover:stroke-[#fff] transition-all p-2 rounded"
                        :class="homeActive ? 'bg-primary-700 [&_path:first-child]:stroke-[#fff] [&_path:last-child]:stroke-[#fff]' : ''"
                        @click="goToHome">
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.625 9.96777V22.874C3.625 23.1061 3.71719 23.3286 3.88128 23.4927C4.04538 23.6568 4.26794 23.749 4.5 23.749H9.75V16.3115C9.75 15.9634 9.88828 15.6296 10.1344 15.3834C10.3806 15.1373 10.7144 14.999 11.0625 14.999H15.4375C15.7856 14.999 16.1194 15.1373 16.3656 15.3834C16.6117 15.6296 16.75 15.9634 16.75 16.3115V23.749H22C22.2321 23.749 22.4546 23.6568 22.6187 23.4927C22.7828 23.3286 22.875 23.1061 22.875 22.874V9.96777"
                              stroke="#ADA8A8" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.5 12.374L13.8455 1.21779C13.5721 0.929045 12.9328 0.925763 12.6545 1.21779L1 12.374M21.125 8.16311V1.87404H18.5V5.64748"
                              stroke="#ADA8A8" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>

                <button v-if="!$route.path.includes('/developer')"
                        class="w-10 h-10 flex items-center justify-center mb-2 hover:bg-primary-700 [&_path:first-child]:hover:stroke-[#fff] [&_path:last-child]:hover:fill-[#fff] transition-all p-2 rounded"
                        :class="profileActive ? 'bg-primary-700  [&_path:first-child]:stroke-[#fff] [&_path:last-child]:fill-[#fff]' : ''"
                        @click="goToProfile">
                    <svg width="26"
                         height="26"
                         viewBox="0 0 26 26"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25 12.9972C25.004 15.3796 24.2954 17.7087 22.9653 19.6852C21.8685 21.3212 20.3854 22.6616 18.6473 23.5881C16.9092 24.5146 14.9696 24.9986 13 24.9972C11.0304 24.9986 9.09078 24.5146 7.35268 23.5881C5.61457 22.6616 4.13153 21.3212 3.03467 19.6852C1.99031 18.1284 1.3252 16.3486 1.09267 14.4885C0.860146 12.6283 1.06666 10.7396 1.69566 8.9736C2.32467 7.20764 3.35866 5.61361 4.71476 4.31929C6.07085 3.02497 7.71133 2.06637 9.50468 1.52034C11.298 0.974298 13.1944 0.856011 15.0417 1.17496C16.889 1.49391 18.6358 2.24121 20.1423 3.35698C21.6487 4.47274 22.8728 5.92592 23.7164 7.60002C24.5599 9.27413 24.9996 11.1226 25 12.9972Z"
                              stroke="#ADA8A8" stroke-width="1.875"/>
                        <path d="M14.6668 8.99723C14.6668 9.91723 13.9201 10.6639 13.0001 10.6639V12.6639C13.9726 12.6639 14.9052 12.2776 15.5928 11.59C16.2805 10.9023 16.6668 9.96969 16.6668 8.99723H14.6668ZM13.0001 10.6639C12.0801 10.6639 11.3334 9.91723 11.3334 8.99723H9.33344C9.33344 9.96969 9.71975 10.9023 10.4074 11.59C11.095 12.2776 12.0276 12.6639 13.0001 12.6639V10.6639ZM11.3334 8.99723C11.3334 8.07723 12.0801 7.33057 13.0001 7.33057V5.33057C12.0276 5.33057 11.095 5.71687 10.4074 6.40451C9.71975 7.09214 9.33344 8.02477 9.33344 8.99723H11.3334ZM13.0001 7.33057C13.9201 7.33057 14.6668 8.07723 14.6668 8.99723H16.6668C16.6668 8.02477 16.2805 7.09214 15.5928 6.40451C14.9052 5.71687 13.9726 5.33057 13.0001 5.33057V7.33057ZM3.8881 20.8052L2.92944 20.5199L2.77344 21.0426L3.12944 21.4559L3.8881 20.8052ZM22.1121 20.8052L22.8721 21.4572L23.2268 21.0439L23.0708 20.5199L22.1121 20.8052ZM9.0001 17.9972H17.0001V15.9972H9.0001V17.9972ZM9.0001 15.9972C7.63623 15.9973 6.30879 16.4375 5.21508 17.2523C4.12137 18.0671 3.31977 19.2131 2.92944 20.5199L4.84677 21.0906C5.11415 20.1968 5.66268 19.413 6.41091 18.8557C7.15914 18.2985 8.06715 17.9974 9.0001 17.9972V15.9972ZM13.0001 23.9972C11.4127 23.9991 9.84372 23.6564 8.40155 22.993C6.95938 22.3296 5.67832 21.3612 4.64677 20.1546L3.12944 21.4559C4.34872 22.8812 5.86256 24.0265 7.56662 24.8103C9.27068 25.5941 11.1244 25.999 13.0001 25.9972V23.9972ZM17.0001 17.9972C18.9601 17.9972 20.6201 19.3012 21.1534 21.0906L23.0708 20.5199C22.6804 19.2131 21.8788 18.0671 20.7851 17.2523C19.6914 16.4375 18.364 15.9973 17.0001 15.9972V17.9972ZM21.3534 20.1546C20.3219 21.3612 19.0408 22.3296 17.5987 22.993C16.1565 23.6564 14.5875 23.9991 13.0001 23.9972V25.9972C14.8758 25.999 16.7295 25.5941 18.4336 24.8103C20.1376 24.0265 21.6528 22.8825 22.8721 21.4572L21.3534 20.1546Z"
                              fill="#ADA8A8"/>
                    </svg>
                </button>

                <button v-if="$route.path.includes('/admin')"
                        class="w-10 h-10 flex items-center justify-center hover:bg-primary-700 [&_path:first-child]:hover:fill-[#fff] transition-all p-2 rounded"
                        :class="noAnswerActive ? 'bg-primary-700 [&_path:first-child]:fill-[#fff]' : ''"
                        @click="goToNoAnswers">
                    <svg width="33"
                         height="32"
                         viewBox="0 0 23 23"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path class="group-hover:fill-[#fff] transition-all"
                              d="M5.36667 17.6226H6.13333V16.8559H5.36667V17.6226ZM5.36667 22.2195H4.6C4.6 22.3619 4.63965 22.5015 4.7145 22.6226C4.78935 22.7437 4.89645 22.8416 5.0238 22.9053C5.15115 22.9689 5.29371 22.9959 5.43552 22.9831C5.57732 22.9703 5.71276 22.9183 5.82667 22.8329L5.36667 22.2195ZM11.5 17.6226V16.8559H11.2439L11.04 17.0093L11.5 17.6226ZM6.9 6.12873H6.13333V7.66207H6.9V6.12873ZM16.1 7.66207H16.8667V6.12873H16.1V7.66207ZM6.9 10.7257H6.13333V12.259H6.9V10.7257ZM13.0333 12.259H13.8V10.7257H13.0333V12.259ZM4.6 17.6226V22.2195H6.13333V17.6226H4.6ZM5.82667 22.8329L11.96 18.2359L11.04 17.0093L4.90667 21.6062L5.82667 22.8329ZM11.5 18.3893H20.7V16.8559H11.5V18.3893ZM20.7 18.3893C21.9711 18.3893 23 17.3619 23 16.0893H21.4667C21.4667 16.514 21.1247 16.8559 20.7 16.8559V18.3893ZM23 16.0893V2.3H21.4667V16.0908H23V16.0893ZM23 2.3C23 1.02733 21.9711 0 20.7 0V1.53333C21.1247 1.53333 21.4667 1.87527 21.4667 2.3H23ZM20.7 0H2.3V1.53333H20.7V0ZM2.3 0C1.02887 0 0 1.02733 0 2.3H1.53333C1.53333 1.87527 1.87527 1.53333 2.3 1.53333V0ZM0 2.3V16.0893H1.53333V2.3H0ZM0 16.0893C0 17.3619 1.02887 18.3893 2.3 18.3893V16.8559C2.19926 16.8561 2.09948 16.8364 2.00637 16.798C1.91326 16.7595 1.82867 16.7031 1.75743 16.6318C1.6862 16.5606 1.62974 16.476 1.59128 16.3829C1.55282 16.2898 1.53313 16.19 1.53333 16.0893H0ZM2.3 18.3893H5.36667V16.8559H2.3V18.3893ZM6.9 7.66207H16.1V6.12873H6.9V7.66207ZM6.9 12.259H13.0333V10.7257H6.9V12.259Z"
                              fill="#ADA8A8"/>
                    </svg>
                </button>
            </div>
            <div>
                <button @click="logoutAction">
                    <svg width="31"
                         height="30"
                         viewBox="0 0 31 30"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.4999 29.583C15.1684 29.583 14.8505 29.4513 14.616 29.2169C14.3816 28.9825 14.2499 28.6645 14.2499 28.333C14.2499 28.0015 14.3816 27.6835 14.616 27.4491C14.8505 27.2147 15.1684 27.083 15.4999 27.083C18.7046 27.083 21.7781 25.8099 24.0441 23.5439C26.3102 21.2778 27.5833 18.2044 27.5833 14.9997C27.5833 11.795 26.3102 8.72153 24.0441 6.45547C21.7781 4.1894 18.7046 2.91634 15.4999 2.91634C15.1684 2.91634 14.8505 2.78465 14.616 2.55022C14.3816 2.3158 14.2499 1.99786 14.2499 1.66634C14.2499 1.33482 14.3816 1.01688 14.616 0.782455C14.8505 0.548035 15.1684 0.41634 15.4999 0.41634C19.3677 0.41634 23.077 1.95279 25.8119 4.6877C28.5468 7.4226 30.0833 11.1319 30.0833 14.9997C30.0833 18.8674 28.5468 22.5767 25.8119 25.3116C23.077 28.0466 19.3677 29.583 15.4999 29.583Z"
                              fill="#2131BA"/>
                        <path d="M8.04992 19.1164C8.27072 19.3533 8.39092 19.6667 8.38521 19.9906C8.3795 20.3144 8.24831 20.6234 8.01929 20.8524C7.79027 21.0814 7.48129 21.2126 7.15745 21.2183C6.83362 21.224 6.52021 21.1038 6.28325 20.883L1.28325 15.883C1.04917 15.6486 0.917685 15.3309 0.917685 14.9997C0.917685 14.6684 1.04917 14.3507 1.28325 14.1164L6.28325 9.11635C6.39769 8.99354 6.53569 8.89504 6.68902 8.82672C6.84235 8.7584 7.00788 8.72166 7.17571 8.7187C7.34355 8.71574 7.51027 8.74661 7.66591 8.80948C7.82156 8.87235 7.96295 8.96592 8.08165 9.08462C8.20035 9.20332 8.29392 9.34471 8.35679 9.50036C8.41966 9.656 8.45053 9.82272 8.44757 9.99056C8.44461 10.1584 8.40787 10.3239 8.33955 10.4772C8.27123 10.6306 8.17273 10.7686 8.04992 10.883L5.18325 13.7497L18.8333 13.7497C19.1648 13.7497 19.4827 13.8814 19.7171 14.1158C19.9516 14.3502 20.0833 14.6682 20.0833 14.9997C20.0833 15.3312 19.9516 15.6491 19.7171 15.8836C19.4827 16.118 19.1648 16.2497 18.8333 16.2497H5.18325L8.04992 19.1164Z"
                              fill="#2131BA"/>
                    </svg>

                </button>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapActions} from "pinia";
    import {useGlobalStore} from "~/stores/global";

    export default {
        name: "Tabs",
        data() {
            return {
                homeActive: false,
                profileActive: false,
                noAnswerActive: false,
                role: ''
            }
        },
        watch: {
            '$route': function (value) {
                if (value.path.includes('/dashboard')) {
                    this.homeActive = true
                    this.profileActive = false
                    this.noAnswerActive = false
                } else if (value.path.includes('/profile')) {
                    this.profileActive = true
                    this.homeActive = false
                    this.noAnswerActive = false
                } else if (value.path.includes('/no-answers')) {
                    this.noAnswerActive = true
                    this.profileActive = false
                    this.homeActive = false
                } else {
                    this.noAnswerActive = false
                    this.profileActive = false
                    this.homeActive = false
                }
            }
        },
        mounted() {
            if (this.$route.path.includes('/dashboard')) {
                this.homeActive = true
                this.profileActive = false
                this.noAnswerActive = false
            } else if (this.$route.path.includes('/profile')) {
                this.profileActive = true
                this.homeActive = false
                this.noAnswerActive = false
            } else if (this.$route.path.includes('/no-answers')) {
                this.noAnswerActive = true
                this.profileActive = false
                this.homeActive = false
            } else {
                this.noAnswerActive = false
                this.profileActive = false
                this.homeActive = false
            }
        },
        methods: {
            ...mapActions(useGlobalStore, ['logout',
                'navigateToDashboard', 'navigateToProfile', 'navigateToNoAnswers']),
            goToHome() {
                this.navigateToDashboard()
            },
            goToProfile() {
                this.navigateToProfile()
            },
            goToNoAnswers() {
                this.navigateToNoAnswers()
            },
            logoutAction() {
                this.logout()
            }
        }
    }
</script>

<style scoped>

</style>