<template>
    <div v-if="show"
         id="myToast"
         class="z-[1] w-max bg-white-100 mx-auto fixed inset-x-0 bottom-10 px-5 py-4 rounded border-r-8 drop-shadow-lg"
         :class="getBorderType">
        <p class="text-sm">
            <!--            <span class="mr-2 inline-block px-3 py-1 rounded-full bg-blue-500 text-white font-extrabold">i</span>-->
            {{ data }}
        </p>
    </div>
</template>

<script>

export default {
    name: "Toast",
    props: ['show', 'data', 'type'],
    data() {
        return {
            showFlag: false
        }
    },
    // watch: {
    //     'show': function (value) {
    //         this.showFlag = value
    //         if (this.showFlag == true) {
    //             console.log('hii')
    //             setTimeout(()=>{
    //                 this.showFlag = false
    //             }, 3000)
    //         }
    //         console.log(this.showFlag, 'this.showFlag ')
    //     }
    // },
    computed: {
        getBorderType() {
            if (this.type === 'success') {
                return 'border-success-200'
            } else if (this.type === 'error') {
                return 'border-error-200'
            } else {
                return 'border-blue-500'
            }
        }
    }
}
</script>

<style scoped>

</style>