<template>
    <div class="hidden md:flex flex-col justify-center items-center p-5 w-full h-full bg-[#F6F8FF]">
        <img src="@/assets/img/user-dashboard.png"
             class="w-[300px]"/>
        <p class="block mt-5">هرسوالی مربوط به بیمه داری جوابش اینجاست!</p>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>
<script setup>
    definePageMeta({
        layout: 'dashboard'
    })
    useHead({
        title: 'داشبورد کاربر',
    })
</script>
<style scoped>

</style>