<template>

    <div class="w-full bg-[#F6F8FF]">
        <other-questions></other-questions>
    </div>
</template>

<script>
export default {
    name: "index",
}
</script>
<script setup>
definePageMeta({
    layout: 'dashboard'
})
useHead({
    title: 'سوالات بی پاسخ',
})
</script>
<style scoped>

</style>