<template>
    <div class="h-full flex flex-col"
         :class="layoutStyle">
        <mobile-navigation></mobile-navigation>
        <div class="flex h-full w-full"
             :class="($route.path.includes('/profile')) ? 'md:bg-[#fff]' : 'md:bg-[#F6F8FF]'">
            <sidebar></sidebar>
            <slot/>
        </div>
    </div>
</template>

<script>
import {mapState} from 'pinia'
import {useGlobalStore} from "@/stores/global";

export default {
    name: "dashboard",
    data() {
        return {
            mobileNavigationHeight: 0
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['isMobile']),
        layoutStyle() {
            if (this.isMobile) {
                return ''
            } else {
                if (this.$route.path.includes('/profile') || this.$route.path.includes('/no-answers')) {
                    return 'mr-[60px]'
                } else {
                    return 'mr-[300px]'
                }
            }
        }
    },
    mounted() {
        // setTimeout(()=>{
        //     this.mobileNavigationHeight = this.$refs['mobileNavigation'].$el.getBoundingClientRect().height
        console.log(this.$refs['mobileNavigation'], ' this.mobileNavigationHeight')
        // },200)

    }
}
</script>

<style scoped>

</style>