<template>


    <div class="h-screen grid grid-cols-1 md:grid-cols-2">
        <div class="w-full flex justify-center items-center h-screen bg-[#F6F8FF] overflow-y-hidden md:overflow-y-auto">
            <section class="text-right flex justify-center w-full">
                <div class="flex flex-col items-center justify-center w-full md:w-auto">
                    <img src="@/assets/img/parsian.png"
                         class="h-20"/>
                    <h1 class="mt-5 mb-3 text-2xl text-center">به چت بات خوش آمدید!</h1>
                    <slot/>
                </div>
            </section>
        </div>
        <div class="hidden md:flex bg-primary-700 flex-col items-center justify-center">
            <img src="@/assets/img/login.png"
                 class="w-[500px]"/>
            <h3 class="text-white-100 mt-10">هرسوالی مربوط به بیمه داری جوابش اینجاست!</h3>
        </div>
    </div>
</template>
<script lang="ts"
        setup>

</script>
<style scoped></style>
