<template>
    <div class="w-full flex justify-center items-center">
        <NuxtLink to="/user/login"
                  class="bg-slate-400 p-2 m-2 rounded opacity-80 hover:opacity-100 transition-all">User Login
        </NuxtLink>
        <NuxtLink to="/admin/login"
                  class="bg-slate-400 p-2 m-2 rounded opacity-80 hover:opacity-100 transition-all">Admin Login
        </NuxtLink>
    </div>
</template>

<script>
export default {
    name: "index"
}
</script>

<style scoped>

</style>