<template>
    <toast :show="displayToast"
           :data="responseData"
           :type="responseType"></toast>

    <div class="hidden md:flex flex-col justify-center items-center p-5 w-full h-full bg-[#F6F8FF]">
        <img src="@/assets/img/admin/dashboard.png"
             class="w-[300px]"/>
        <p class="block mt-5">برای مدیریت پرسش و پاسخ ها یکی از دسته بندی ها را انتخاب کن.</p>


        <button-component type="button"
                          text="ایجاد سوال جدید"
                          txt-color="text-white-100"
                          custom-style="mt-3 bg-[#2131BA] border-2 border-[#2131BA] flex items-center px-2 py-1 text-xs ml-2"
                          @click="openCreateModal">
            <template v-slot:image>
                <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_261_2396" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="26" height="24">
                        <path d="M13.1934 22.55C19.2657 22.55 24.188 17.9611 24.188 12.3C24.188 6.63897 19.2657 2.05005 13.1934 2.05005C7.12116 2.05005 2.19891 6.63897 2.19891 12.3C2.19891 17.9611 7.12116 22.55 13.1934 22.55Z" fill="white" stroke="white" stroke-width="2.5" stroke-linejoin="round"/>
                        <path d="M13.1934 8.19995V16.4M8.79562 12.3H17.5912" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </mask>
                    <g mask="url(#mask0_261_2396)">
                        <path d="M0 0H26.3869V24.6H0V0Z" fill="white"/>
                    </g>
                </svg>
            </template>
        </button-component>

        <create-question :create-modal-visible="createModalVisible"
                         @closeModal="closeCreateModal"></create-question>

    </div>
</template>

<script>
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "index",
    data() {
        return {
            createModalVisible: false,
            modalData: null,
            selected_insurance: {},
            question: '',
            answer: '',

            responseData: null,
            responseType: null,
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['displayToast'])
    },
    mounted() {
        if (JSON.parse(localStorage.getItem('selected_user_insurance'))) {
            this.selected_insurance = JSON.parse(localStorage.getItem('selected_user_insurance'))
        } else if (JSON.parse(localStorage.getItem('selected_admin_insurance'))) {
            this.selected_insurance = JSON.parse(localStorage.getItem('selected_admin_insurance'))
        }
    },
    methods: {
        ...mapActions(useGlobalStore, ['toastTimeOut']),
        createModal() {
            this.createModalVisible = true
        },
        openCreateModal(data) {
            this.createModalVisible = true
        },
        closeCreateModal() {
            this.createModalVisible = false
        },
    }
}
</script>
<script setup>
definePageMeta({
    layout: 'dashboard'
})
useHead({
    title: 'داشبورد ادمین',
})
</script>
<style scoped>

</style>